Backup.json
{"createdAt":"2025-06-13T06:15:36.047Z","updatedAt":"2025-06-16T02:06:02.000Z","id":"wjWYuGmZP5nmMt1Y","name":"Backup","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,0],"id":"d088ea10-d6c1-479e-862b-f65598ff783e","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[480,0],"id":"9591cff9-643f-45cc-ae9c-3758deb1d53c","name":"n8n","credentials":{"n8nApi":{"id":"4ZCunREXzZkDisA1","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"02f6caf2-381c-49a6-8db9-3baa91911ddf","name":"currentDateTime","value":"={{ $now.plus(12, 'hours').toString().substring(0,19).replace('T', ' ') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-180,0],"id":"b53c376c-c5f2-46dd-b822-c4774479c4d9","name":"Edit Fields"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"paul-stinchcombe","mode":"list","cachedResultName":"paul-stinchcombe","cachedResultUrl":"https://github.com/paul-stinchcombe"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/paul-stinchcombe/n8n"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[40,0],"id":"09363ba1-3646-40eb-887d-8120842b1061","name":"GitHub","webhookId":"c267c3ad-6519-45eb-b5f7-61fac6662a31","credentials":{"githubApi":{"id":"2hKYUsGFx0fuIZMs","name":"GitHub account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[260,0],"id":"84b246a5-1006-4b09-8c5c-497986910597","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ab985715-227c-46ed-9b57-949095db2ed6","leftValue":"={{ $('Aggregate').item.json.name }}","rightValue":"={{ $('n8n').item.json.name }}.replace(/\\s+/g,'-') }.json","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[920,0],"id":"453684a1-e8ac-4767-a3b1-712b09cf62e1","name":"If"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[700,0],"id":"710d8aec-aebd-4e81-963e-fed0b5cc5ba6","name":"Convert to File2"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"paul-stinchcombe","mode":"list","cachedResultName":"paul-stinchcombe","cachedResultUrl":"https://github.com/paul-stinchcombe"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/paul-stinchcombe/n8n"},"filePath":"={{ $('n8n').item.json.name.replace(/\\s+/g,'-') }}.json","binaryData":true,"commitMessage":"={{ $('n8n').item.json.name }}-{{ $('Edit Fields').item.json.currentDateTime }}","additionalParameters":{"branch":{"branch":"main"}}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1140,100],"id":"c72afdb5-b3ac-4686-a16e-56725c0cdc75","name":"GitHub1","webhookId":"a04bc06d-8073-41c9-83fb-4c0a994038df","credentials":{"githubApi":{"id":"2hKYUsGFx0fuIZMs","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"paul-stinchcombe","mode":"list","cachedResultName":"paul-stinchcombe","cachedResultUrl":"https://github.com/paul-stinchcombe"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/paul-stinchcombe/n8n"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1140,-100],"id":"0d63648b-f1f5-469c-a5b8-19fbc212aa9c","name":"GitHub2","webhookId":"38111365-8203-4006-8932-a3bdba718bca","credentials":{"githubApi":{"id":"2hKYUsGFx0fuIZMs","name":"GitHub account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"n8n","type":"main","index":0}]]},"If":{"main":[[{"node":"GitHub2","type":"main","index":0}],[{"node":"GitHub1","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f7065178-6787-4f7a-9858-fe577852946b","triggerCount":0,"tags":[]}