Backup-Ocunapse-N8N.json
{"createdAt":"2025-06-19T01:47:02.305Z","updatedAt":"2025-06-19T01:52:26.000Z","id":"z62zpZLkFIVXhz0e","name":"Backup-Ocunapse-N8N","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-560,100],"id":"3c65ecd9-e720-400a-a72f-e96b6d4737ee","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[320,200],"id":"a979a1d7-f66a-466d-bcd0-cab6b26358d6","name":"n8n","credentials":{"n8nApi":{"id":"nEIrT8NOA0k30nqv","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"02f6caf2-381c-49a6-8db9-3baa91911ddf","name":"currentDateTime","value":"={{ $now.plus(12, 'hours').toString().substring(0,19).replace('T', ' ') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-340,200],"id":"3a3311d1-7645-4bdd-96f0-27aa0bb75213","name":"Edit Fields"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"paul-stinchcombe","mode":"list","cachedResultName":"paul-stinchcombe","cachedResultUrl":"https://github.com/paul-stinchcombe"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/paul-stinchcombe/n8n"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-120,200],"id":"cb5f217e-aa43-4650-a63b-17899269f80b","name":"GitHub","webhookId":"c267c3ad-6519-45eb-b5f7-61fac6662a31","credentials":{"githubApi":{"id":"uru5d0m07SwkTq4x","name":"GitHub account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[100,200],"id":"99029fbd-3049-4359-b7f0-6e6d75cab817","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ab985715-227c-46ed-9b57-949095db2ed6","leftValue":"={{ $('Aggregate').item.json.name }}","rightValue":"={{ $('n8n').item.json.name.replace(/\\s+/g,'-') }}.json","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[760,200],"id":"05bf53e0-c084-44d0-85f3-e988bb6e13b2","name":"If"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[540,200],"id":"72aaaf9e-d312-4a7a-b28c-40f94be5662d","name":"Convert to File2"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"paul-stinchcombe","mode":"list","cachedResultName":"paul-stinchcombe","cachedResultUrl":"https://github.com/paul-stinchcombe"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/paul-stinchcombe/n8n"},"filePath":"={{ $('n8n').item.json.name.replace(/\\s+/g,'-') }}.json","binaryData":true,"commitMessage":"={{ $('n8n').item.json.name }}-{{ $('Edit Fields').item.json.currentDateTime }}","additionalParameters":{"branch":{"branch":"main"}}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[980,300],"id":"e242e064-7c6b-4cbd-88df-bda3ed647294","name":"GitHub1","webhookId":"a04bc06d-8073-41c9-83fb-4c0a994038df","credentials":{"githubApi":{"id":"uru5d0m07SwkTq4x","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"paul-stinchcombe","mode":"list","cachedResultName":"paul-stinchcombe","cachedResultUrl":"https://github.com/paul-stinchcombe"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/paul-stinchcombe/n8n"},"filePath":"={{ $('n8n').item.json.name.replace(/\\s+/g,'-') }}.json","binaryData":true,"commitMessage":"={{ $('n8n').item.json.name}}-{{ $('Edit Fields').item.json.currentDateTime }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[980,100],"id":"98bd9704-7a92-4714-834a-cc61487e9b9f","name":"GitHub2","webhookId":"38111365-8203-4006-8932-a3bdba718bca","credentials":{"githubApi":{"id":"uru5d0m07SwkTq4x","name":"GitHub account"}}},{"parameters":{"fromEmail":"paul@ocunapse.com","toEmail":"paul@ocunapse.com","subject":"=N8N Backup Updated Workflows","emailFormat":"text","text":"=Backup of updated workflows complete.\n\n{{ $json.name.join('\\n') }}","options":{"replyTo":"noreply@ocunapse.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1420,100],"id":"de98ea3a-6aa5-4bc7-8822-bdb8434b603f","name":"Send Email","webhookId":"5ff79de0-65bb-4d64-8033-55da2e767050","credentials":{"smtp":{"id":"wHlKolOz2g0kHzfl","name":"SMTP account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":12},{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-560,300],"id":"d9d2085c-1ad0-41b2-ae51-7b2da98c2b7e","name":"Schedule Trigger"},{"parameters":{"fromEmail":"paul@ocunapse.com","toEmail":"paul@ocunapse.com","subject":"=N8N Backup New Workflows","emailFormat":"text","text":"=Backup of new workflows complete.\n\n{{ $json.name.join('\\n') }}","options":{"replyTo":"noreply@ocunapse.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1420,300],"id":"17257d9c-4c9f-4955-8e4d-4bd3c06811ab","name":"Send Email1","webhookId":"5ff79de0-65bb-4d64-8033-55da2e767050","credentials":{"smtp":{"id":"wHlKolOz2g0kHzfl","name":"SMTP account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"content.name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1200,100],"id":"29977253-a093-4eaa-a35a-8671958da879","name":"Aggregate1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"content.name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1200,300],"id":"deb17d9c-7ab5-4b23-802f-04546f1d9676","name":"Aggregate2"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"n8n","type":"main","index":0}]]},"If":{"main":[[{"node":"GitHub2","type":"main","index":0}],[{"node":"GitHub1","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"If","type":"main","index":0}]]},"GitHub1":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"GitHub2":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Send Email1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6402c049-61a6-4d4b-b6ad-eab8575250bc","triggerCount":1,"tags":[{"createdAt":"2025-06-19T01:47:23.899Z","updatedAt":"2025-06-19T01:47:23.899Z","id":"8X7HYsejcM7Lub4d","name":"Internal"},{"createdAt":"2025-06-19T01:47:10.821Z","updatedAt":"2025-06-19T01:47:10.821Z","id":"8gVBkn7dQhRbCEvP","name":"Server"},{"createdAt":"2025-06-19T01:47:17.649Z","updatedAt":"2025-06-19T01:47:17.649Z","id":"ppfxkPZAqns7ciey","name":"Ocunapse"}]}