Backup-N8N.json
{"createdAt":"2025-06-18T06:01:30.414Z","updatedAt":"2025-06-18T06:03:49.000Z","id":"4q7Gs9v2aTvHCtxl","name":"Backup-N8N","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1980,120],"id":"3649bb0f-49de-4376-a308-550b0bfd974d","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1100,120],"id":"ded94d33-779b-49c4-9a8b-dd03f5aa8c47","name":"n8n","credentials":{"n8nApi":{"id":"8DJT0DbAce8HNpk0","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"02f6caf2-381c-49a6-8db9-3baa91911ddf","name":"currentDateTime","value":"={{ $now.plus(12, 'hours').toString().substring(0,19).replace('T', ' ') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1760,120],"id":"c0346487-d91e-4e33-9312-a928eaad0b6a","name":"Edit Fields"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"paul-stinchcombe","mode":"list","cachedResultName":"paul-stinchcombe","cachedResultUrl":"https://github.com/paul-stinchcombe"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/paul-stinchcombe/n8n"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1540,120],"id":"5fcafaf4-ed87-4d5c-99ab-8a7347d62f46","name":"GitHub","webhookId":"c267c3ad-6519-45eb-b5f7-61fac6662a31","credentials":{"githubApi":{"id":"KLUfIK44FgEaA4HO","name":"GitHub account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1320,120],"id":"7ddc7a57-55c9-49c4-9cf5-b8c5698971f5","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ab985715-227c-46ed-9b57-949095db2ed6","leftValue":"={{ $('Aggregate').item.json.name }}","rightValue":"={{ $('n8n').item.json.name.replace(/\\s+/g,'-') }}.json","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-660,120],"id":"e7cd9926-0482-4f41-9149-a4c4d1947deb","name":"If"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-880,120],"id":"6cd0483f-f2cd-4b69-ad4e-5822f8458b80","name":"Convert to File2"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"paul-stinchcombe","mode":"list","cachedResultName":"paul-stinchcombe","cachedResultUrl":"https://github.com/paul-stinchcombe"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/paul-stinchcombe/n8n"},"filePath":"={{ $('n8n').item.json.name.replace(/\\s+/g,'-') }}.json","binaryData":true,"commitMessage":"={{ $('n8n').item.json.name }}-{{ $('Edit Fields').item.json.currentDateTime }}","additionalParameters":{"branch":{"branch":"main"}}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-440,220],"id":"6ea493ea-3f45-4f6b-ac03-2922c830672c","name":"GitHub1","webhookId":"a04bc06d-8073-41c9-83fb-4c0a994038df","credentials":{"githubApi":{"id":"KLUfIK44FgEaA4HO","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"paul-stinchcombe","mode":"list","cachedResultName":"paul-stinchcombe","cachedResultUrl":"https://github.com/paul-stinchcombe"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/paul-stinchcombe/n8n"},"filePath":"={{ $('n8n').item.json.name.replace(/\\s+/g,'-') }}.json","binaryData":true,"commitMessage":"={{ $('n8n').item.json.name}}-{{ $('Edit Fields').item.json.currentDateTime }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-440,20],"id":"61148969-edcf-4e5a-baa1-c4e9d1b52f52","name":"GitHub2","webhookId":"38111365-8203-4006-8932-a3bdba718bca","credentials":{"githubApi":{"id":"KLUfIK44FgEaA4HO","name":"GitHub account"}}},{"parameters":{"fromEmail":"paul@ocunapse.com","toEmail":"paul@ocunapse.com","subject":"=N8N Backup ","emailFormat":"text","text":"Backup workflows run complete","options":{"replyTo":"noreply@ocunapse.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-220,120],"id":"703e817d-085b-4c33-bb06-3393982e37c3","name":"Send Email","webhookId":"5ff79de0-65bb-4d64-8033-55da2e767050","credentials":{"smtp":{"id":"lXAVKlCvoReYQJSC","name":"SMTP account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"n8n","type":"main","index":0}]]},"If":{"main":[[{"node":"GitHub2","type":"main","index":0}],[{"node":"GitHub1","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"If","type":"main","index":0}]]},"GitHub1":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"GitHub2":{"main":[[{"node":"Send Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4b7c36bf-da42-450c-8df6-cb62e22ed797","triggerCount":0,"tags":[]}