Backup-N8N.json
{"createdAt":"2025-06-16T06:52:16.263Z","updatedAt":"2025-06-16T06:58:51.000Z","id":"8rhPH3HulBGu6O2U","name":"Backup-N8N","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[560,100],"id":"425be8fe-7528-4e79-9c67-365cc027d09b","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1440,200],"id":"418de03b-6c00-42e5-9e6a-48d395b62383","name":"n8n","credentials":{"n8nApi":{"id":"eXJ2Z9kojfpXPRmP","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"02f6caf2-381c-49a6-8db9-3baa91911ddf","name":"currentDateTime","value":"={{ $now.plus(12, 'hours').toString().substring(0,19).replace('T', ' ') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[780,200],"id":"fc49b27f-74e6-48fc-873d-344e97b69bb7","name":"Edit Fields"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"paul-stinchcombe","mode":"list","cachedResultName":"paul-stinchcombe","cachedResultUrl":"https://github.com/paul-stinchcombe"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/paul-stinchcombe/n8n"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1000,200],"id":"57b4cc82-3041-4282-8650-a24fa7fd95d6","name":"GitHub","webhookId":"c267c3ad-6519-45eb-b5f7-61fac6662a31","credentials":{"githubApi":{"id":"q2hiDQ5tDM2MyVia","name":"GitHub account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1220,200],"id":"3a868daa-7eef-4372-8070-3a9af0601a2b","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ab985715-227c-46ed-9b57-949095db2ed6","leftValue":"={{ $('Aggregate').item.json.name }}","rightValue":"={{ $('n8n').item.json.name.replace(/\\s+/g,'-') }}.json","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1880,200],"id":"b989b016-1561-4754-9cb1-e71342335892","name":"If"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1660,200],"id":"55ef50d0-9cef-4533-ab00-5b99306f02d8","name":"Convert to File2"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"paul-stinchcombe","mode":"list","cachedResultName":"paul-stinchcombe","cachedResultUrl":"https://github.com/paul-stinchcombe"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/paul-stinchcombe/n8n"},"filePath":"={{ $('n8n').item.json.name.replace(/\\s+/g,'-') }}.json","binaryData":true,"commitMessage":"={{ $('n8n').item.json.name }}-{{ $('Edit Fields').item.json.currentDateTime }}","additionalParameters":{"branch":{"branch":"main"}}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[2100,300],"id":"b1013157-fff8-4163-a37a-f12f560cde94","name":"GitHub1","webhookId":"a04bc06d-8073-41c9-83fb-4c0a994038df","credentials":{"githubApi":{"id":"q2hiDQ5tDM2MyVia","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"paul-stinchcombe","mode":"list","cachedResultName":"paul-stinchcombe","cachedResultUrl":"https://github.com/paul-stinchcombe"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/paul-stinchcombe/n8n"},"filePath":"={{ $('n8n').item.json.name.replace(/\\s+/g,'-') }}.json","binaryData":true,"commitMessage":"={{ $('n8n').item.json.name}}-{{ $('Edit Fields').item.json.currentDateTime }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[2100,100],"id":"92aa6d54-6453-4677-baf9-dfbbdad3c2d3","name":"GitHub2","webhookId":"38111365-8203-4006-8932-a3bdba718bca","credentials":{"githubApi":{"id":"q2hiDQ5tDM2MyVia","name":"GitHub account"}}},{"parameters":{"fromEmail":"paul@ocunapse.com","toEmail":"paul@ocunapse.com","subject":"=N8N Backup Updated Workflows","emailFormat":"text","text":"=Backup of updated workflows complete.\n\n{{ $json.name.join('\\n') }}","options":{"replyTo":"noreply@ocunapse.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2540,100],"id":"2b3e84cd-e18b-4db0-884b-063f7ab909a3","name":"Send Email","webhookId":"5ff79de0-65bb-4d64-8033-55da2e767050","credentials":{"smtp":{"id":"OGrNgDMK4v3qQM2G","name":"SMTP account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":12},{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[560,300],"id":"0ea30bcc-c474-41dd-be7e-544636cdd968","name":"Schedule Trigger"},{"parameters":{"fromEmail":"paul@ocunapse.com","toEmail":"paul@ocunapse.com","subject":"=N8N Backup New Workflows","emailFormat":"text","text":"=Backup of new workflows complete.\n\n{{ $json.name.join('\\n') }}","options":{"replyTo":"noreply@ocunapse.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2540,300],"id":"3a8b35d2-e91a-472b-8c18-7b8df6eaff6f","name":"Send Email1","webhookId":"5ff79de0-65bb-4d64-8033-55da2e767050","credentials":{"smtp":{"id":"OGrNgDMK4v3qQM2G","name":"SMTP account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"content.name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2320,100],"id":"0ede21f5-7e8a-4de2-81f5-16411583bbbe","name":"Aggregate1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"content.name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2320,300],"id":"fbf8b3af-315e-4af9-9b2d-27f6ce81d4f1","name":"Aggregate2"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"n8n","type":"main","index":0}]]},"If":{"main":[[{"node":"GitHub2","type":"main","index":0}],[{"node":"GitHub1","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"If","type":"main","index":0}]]},"GitHub1":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"GitHub2":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Send Email1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d36cac48-c106-4e00-9e2f-9a45cc4c75c2","triggerCount":1,"tags":[]}