Backup-N8N.json
{"createdAt":"2025-06-16T02:57:45.815Z","updatedAt":"2025-06-16T03:15:46.000Z","id":"HlR4pOGH0mR4Pi9B","name":"Backup-N8N","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1780,0],"id":"7ebbee38-d0cd-4c42-adad-01c432e8f145","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-900,100],"id":"bcb2e6b8-0274-439c-b12d-4a330094e478","name":"n8n","credentials":{"n8nApi":{"id":"0psWiFrKVXuW8qs8","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"02f6caf2-381c-49a6-8db9-3baa91911ddf","name":"currentDateTime","value":"={{ $now.plus(12, 'hours').toString().substring(0,19).replace('T', ' ') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1560,100],"id":"b9c4956b-5681-4a78-a65e-5383cd94ce78","name":"Edit Fields"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"paul-stinchcombe","mode":"list","cachedResultName":"paul-stinchcombe","cachedResultUrl":"https://github.com/paul-stinchcombe"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/paul-stinchcombe/n8n"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1340,100],"id":"f498cb40-9b30-43bd-95c2-4f53bea62d6e","name":"GitHub","webhookId":"c267c3ad-6519-45eb-b5f7-61fac6662a31","credentials":{"githubApi":{"id":"PbXNLnh2TZE4ND8G","name":"GitHub account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1120,100],"id":"69778154-267f-41f8-b2d1-0c583b3aa028","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ab985715-227c-46ed-9b57-949095db2ed6","leftValue":"={{ $('Aggregate').item.json.name }}","rightValue":"={{ $('n8n').item.json.name.replace(/\\s+/g,'-') }}.json","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-460,100],"id":"0acc9836-6b44-4689-8006-0938a7988a31","name":"If"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-680,100],"id":"26ea444c-8e58-4ed4-9979-c1033b3465b9","name":"Convert to File2"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"paul-stinchcombe","mode":"list","cachedResultName":"paul-stinchcombe","cachedResultUrl":"https://github.com/paul-stinchcombe"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/paul-stinchcombe/n8n"},"filePath":"={{ $('n8n').item.json.name.replace(/\\s+/g,'-') }}.json","binaryData":true,"commitMessage":"={{ $('n8n').item.json.name }}-{{ $('Edit Fields').item.json.currentDateTime }}","additionalParameters":{"branch":{"branch":"main"}}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-240,200],"id":"44c30791-112c-47f0-b679-975cd96fc793","name":"GitHub1","webhookId":"a04bc06d-8073-41c9-83fb-4c0a994038df","credentials":{"githubApi":{"id":"PbXNLnh2TZE4ND8G","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"paul-stinchcombe","mode":"list","cachedResultName":"paul-stinchcombe","cachedResultUrl":"https://github.com/paul-stinchcombe"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/paul-stinchcombe/n8n"},"filePath":"={{ $('n8n').item.json.name.replace(/\\s+/g,'-') }}.json","binaryData":true,"commitMessage":"={{ $('n8n').item.json.name}}-{{ $('Edit Fields').item.json.currentDateTime }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-240,0],"id":"568993d7-718a-4b8b-8d43-25221001f7a4","name":"GitHub2","webhookId":"38111365-8203-4006-8932-a3bdba718bca","credentials":{"githubApi":{"id":"PbXNLnh2TZE4ND8G","name":"GitHub account"}}},{"parameters":{"fromEmail":"paul@ocunapse.com","toEmail":"paul@ocunapse.com","subject":"=N8N Backup ","emailFormat":"text","text":"Backup workflows run complete","options":{"replyTo":"noreply@ocunapse.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-20,100],"id":"f3ab4379-a70c-43c2-8eca-73f7fdaf4a7c","name":"Send Email","webhookId":"5ff79de0-65bb-4d64-8033-55da2e767050","credentials":{"smtp":{"id":"W0i9K7snMBhnWEFp","name":"SMTP account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":12},{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1780,200],"id":"e81b7f7a-1649-4da9-b6ee-1092000fc881","name":"Schedule Trigger"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"n8n","type":"main","index":0}]]},"If":{"main":[[{"node":"GitHub2","type":"main","index":0}],[{"node":"GitHub1","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"If","type":"main","index":0}]]},"GitHub1":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"GitHub2":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4a650331-f703-4547-bd6b-d40f56e6e0c9","triggerCount":0,"tags":[]}