Cold-Calls.json
{"createdAt":"2025-07-08T07:36:53.522Z","updatedAt":"2025-07-08T09:37:59.000Z","id":"Ko7PnUl9x9b1mH1y","name":"Cold Calls","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"59f83c5e-1e83-4d3e-925d-c4e359f5e9e1","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1V9UveQ1ilP89zGbSaxgrpSvvgcFiAIKVWtSkSj2_0XI","mode":"list","cachedResultName":"Cold calls","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1V9UveQ1ilP89zGbSaxgrpSvvgcFiAIKVWtSkSj2_0XI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1V9UveQ1ilP89zGbSaxgrpSvvgcFiAIKVWtSkSj2_0XI/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[220,0],"id":"34ffd710-6958-4adf-b58d-7158ad611c65","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"TOYw834MVtCXni6O","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://api.retellai.com/v2/create-phone-call","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from_number\": \"+16362053794\",\n  \"to_number\": \"{{ $json['phone'] }}\",\n  \"retell_llm_dynamic_variables\": {\n    \"name\": \"{{ $json['Name'] }}\",\n    \"phone_number\": \"{{ $json['phone'] }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"details\": \"{{ $json.details }}\"\n  },\n  \"override_agent_id\": \"agent_d0541d5200439d506297bc2763\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,0],"id":"8ac1417b-0980-4929-8949-3139c95e106c","name":"HTTP Request","credentials":{"httpCustomAuth":{"id":"VpEVJXzZQVmhVPpZ","name":"Custom Auth account"}}},{"parameters":{"httpMethod":"POST","path":"coldcall","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-60,300],"id":"25d516c3-a401-4246-a85e-07b8d2c8ea87","name":"Webhook","webhookId":"bdc6008e-b559-4448-96de-44682be9dc5b"},{"parameters":{"options":{"summarizationMethodAndPrompts":{"values":{"combineMapPrompt":"=Write a concise summary of the following:\n\n'{{ $json.body.call.transcript}}'\n\n\nCONCISE SUMMARY:"}}}},"type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2.1,"position":[160,300],"id":"90d5ef02-f952-42ad-85a0-c4cccfab3bbc","name":"Summarization Chain"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[240,520],"id":"aee70e71-5043-4a09-81ae-5c36765072b1","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"bIkZPsIBap8l9xrb","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1V9UveQ1ilP89zGbSaxgrpSvvgcFiAIKVWtSkSj2_0XI","mode":"list","cachedResultName":"Cold calls","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1V9UveQ1ilP89zGbSaxgrpSvvgcFiAIKVWtSkSj2_0XI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1V9UveQ1ilP89zGbSaxgrpSvvgcFiAIKVWtSkSj2_0XI/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{"details":"={{ $json.output.text }}","Name":"{{ $('Webhook').item.json.body.retell_llm.dynamic_variables.name }}","email":"{{ $('Webhook').item.json.body.retell_llm.dynamic_variables.email }}"},"matchingColumns":["phone"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"details","displayName":"details","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"output","displayName":"output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[520,300],"id":"1147d557-53ea-4d7b-b60e-71a4d7da04c0","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"TOYw834MVtCXni6O","name":"Google Sheets account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Summarization Chain","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Summarization Chain","type":"ai_languageModel","index":0}]]},"Summarization Chain":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"09ed6499-56d5-4bfa-a85b-c461fb0afd12","triggerCount":1,"tags":[]}