Crash-POC.json
{"createdAt":"2025-07-02T07:10:54.830Z","updatedAt":"2025-07-02T08:54:21.000Z","id":"m0HNMg96PvwM0vI3","name":"Crash POC","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"d5da9656-6249-4790-8c8c-be68bc4f1746","name":"When clicking ‘Execute workflow’"},{"parameters":{"promptType":"define","text":"Assalamualaikum & Salam Sejahtera\n\nYdh Dato’ KP KL\nYdh Dato’ T/KP KL\n\n*LAPORAN KES KEMALANGAN MAUT DI JALAN KUCHING * \n\nTrafik KL Rpt: 10427/23\nJenis jalan: Jalan Bandaran\n\n(A) TARIKH DAN WAKTU REPORT (FIR):\n01/02/23 @ 0503HRS\ns\n(B) BUTIRAN PENGADU:\nAlamat: Balai Polis Trafik Kuala Lumpur\n\n(C) LOKASI KEJADIAN:\n\n- Jalan Kuching dari arah Pusat Bandar Kuala Lumpur menghala ke Bulatan Batu Caves \n\nKEADAAN JALAN:\n- Permukaan jalan rata dan kering serta mempunyai 2 lorong jalan sehala\n\n(D) KENDERAAN TERLIBAT:\n\n(K1) M/Sikal No. Pend. VFG6790\nJenis: Yamaha Y15ZR\nWarna: Biru\nLKM tamat: 02/11/2022\n\n(K2) M/Lori No. Pend. WC6517Y\nJenis: Isuzu (rigid sampah) \nWarna: Putih\nLKM tamat: 29/06/2023\n\n(K3) M/Kar No. Pend. VGT1501\nJenis: Perodua Myvi \nWarna: Biru\nLKM tamat: 30/12/2023\n\nKEROSAKAN: \n\n(K1) Coverset sisi sebelah kanan pecah \n(K2) Bahagian besi belakang sebelah kiri\n(K3) Bumper hadapan remuk\n(E) BUTIRAN INDIVIDU TERLIBAT: \n\n(K1) Penunggang M/Sikal (M1)\nUmur: 36 Tahun\nLesen: Tiada\nPekerjaan: Mekanik Winting Auto Bandar Manjalara\nKecederaan: Maut di lokasi kejadian \n\n(K2) Pemandu M/Lori (A1)\nWarganegara: Indonesia\nUmur: 42 Tahun\nLesen: D & E (18/09/2024)\nPekerjaan: Pemandu M/Lori Syarikat Watan Angkasa Resources Sdn Bhd\nKecederaan: Tiada kecederaan\n\n(K3) Pemandu M/Kar (A2)\nUmur: 23 Tahun\nLesen: B2 & D (17/05/2023) \nPekerjaan: Juruteknik Dong Yang Sdn Bhd\nKecederaan: Tiada kecederaan\n\n(F) SEBAB KEMATIAN:\n(M1) - Pending Post Mortem. Post Mortem akan dilakukan selepas mengetahui keputusan Swab Test Covid-19.\n\n(G) KETERANGAN KES: \n\nPada 01/02/2023 jam lebih kurang 0503hrs terima maklumat berkenaan satu kemalangan maut di Jalan Kuching dari arah Pusat Bandar Kuala Lumpur menghala ke Bulatan Batu Caves melibatkan sebuah m/sikal (K1), m/lori (K2) dan m/kar (K3). \nSiasatan awal mendapati kemalangan pertama berlaku pada 01/02/2023 jam lebih kurang 0300hrs, (A2) yang memandu (K3) telah melanggar bahagian belakang (K2) yang sedang bergerak di lorong kanan lalu menyebabkan (K3) tersangkut pada bahagian belakang (K2) dan tidak dapat bergerak. (K2) dan (K3) tidak dapat dialihkan ke lorong kecemasan kerana (K3) mengalami kerosakan yang teruk. \nKemudian kemalangan kedua berlaku pada jam 0420hrs apabila (M1) yang menunggang (K1) telah melanggar bucu sebelah kiri (K2) yang sedang berada dalam keadaan statik selepas kemalangan pertama di lorong kanan lalu menyebabkan (M1) dan (K1) terseret dan berhenti di lorong kecemasan jarak lebih kurang 30 meter ke hadapan. \nAkibat kemalangan, (M1) mengalami kecederaan parah di bahagian kepala dan kaki disahkan meninggal dunia di lokasi kejadian.\n\n(H) TINDAKAN:\n✅ Bawa kenderaan terlibat ke stor barang kes JSPT KL.\n✅ Keluarkan Pol 61 bagi mengenalpasti punca kematian (M1).\n✅ Akan mohon cctv di lokasi kemalangan.\n\nKLASIFIKASI KES: SEK 41(1) APJ 1987\n\nI.O: INSP AHAMMAD SADIQ BIN YUSOFF\nSiasatan lanjut diteruskan\n","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are able to extract specific information from a Malay language input.  The information is\n- lokasi kejadian (as an array)\n- kenderaan terlibat\n- tarikh dan waktu report"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[440,0],"id":"0fbc64d8-f2de-4ac6-96b3-d3dd2b5f25ae","name":"Basic LLM Chain"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[500,220],"id":"bed5dc26-6040-4d21-93c7-93b4c724bc90","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"bIkZPsIBap8l9xrb","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"jsonSchemaExample":"{\n    \"nombor report\": \"12345/21\",\n    \"jenis jalan\": \"road\",\n    \"jenis permukaan\":\"surface\",\n    \"qualiti permukaan\": \"unknown\",\n    \"klasifikasi kes\":\"SEK 99(0) APJ 1990\",\n  \"sistem lalulintas\":\"sehala\",\n\t\"kenderaan\": [{\n      \"Label\": \"K1\",\n      \"No. Pend\":\"VPA6479\",\n      \"jenis\":\"Ford Ranger\",\n      \"warna\":\"biru\",\n      \"LKM\": \"2025-7-1\"\n    }],\n    \"butiran individu terlibat\": [\n      {\n        \"kendaraan\":\"K1\",\n        \"umur\":\"28\",\n        \"jantina\":\"unknown\",\n        \"keturunan\":\"Melayu\",\n        \"lesen\":\"B/D 2023-5-1\",\n        \"pekerjaan\":\"Plowman\",\n        \"kecederaan\":\"Mati\",\n        \"sebab mati\":\"hammer\"\n      }\n    ],\n    \"lokasi\": \"Los Angeles\",\n    \"tarikh report\":\"2025-7-1\",\n    \"waktu report\":\"2359hrs\",\n    \"keterangan kes\":\"report\",\n    \"tarikh kejadian\":\"2025-7-1\",\n    \"waktu kejadian\": \"2359hrs\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[680,220],"id":"50040782-3c14-4949-82aa-8061a19c5b04","name":"Structured Output Parser"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[780,440],"id":"8c85cf17-4048-4481-8b1b-c77ebc5d645b","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"bIkZPsIBap8l9xrb","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"operation":"write","fileName":"=userdata/vs/report-{{ $('Basic LLM Chain').item.json.output['nombor report'].replace(/\\//g,'-') }}.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1040,0],"id":"d8ec11ee-59d2-4fe0-be44-19705d454090","name":"Read/Write Files from Disk"},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[800,0],"id":"733c1d80-1ede-4303-a125-64db9f6863a6","name":"Convert to File"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a5d2b32a-6558-4b9c-a374-64884fe001d7","triggerCount":0,"tags":[]}