Create-Infinity-Embeddings.json
{"createdAt":"2025-07-03T01:31:19.909Z","updatedAt":"2025-07-03T03:38:44.000Z","id":"5xQb1wrFuedTG6Wo","name":"Create Infinity Embeddings","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","tableName":"infinity_embeddings","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.1,"position":[456,0],"id":"1916712d-85f5-4897-81bc-b5f3a6c48f78","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"P3RFSa3bOoBOMjdF","name":"Ocunapse RAG"}}},{"parameters":{"modelName":"models/embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[440,220],"id":"2854997c-6545-474d-8288-78dc88fb24d9","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"06fjQHyU4iIkhwT3","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[560,222.5],"id":"acea5073-1048-4929-9661-1d5207789eb5","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[648,420],"id":"aa0a5349-25bb-4d56-8082-84aae87ac45e","name":"Recursive Character Text Splitter"},{"parameters":{"triggerOn":"folder","path":"shared/infinity_embeddings","events":["add","change"],"options":{"awaitWriteFinish":true,"usePolling":true}},"type":"n8n-nodes-base.localFileTrigger","typeVersion":1,"position":[0,0],"id":"c40edde2-cf66-4137-8102-938c87759412","name":"Local File Trigger"},{"parameters":{"fileSelector":"={{ $json.path }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[220,0],"id":"1f0d7cd2-0c8e-4e89-9039-ae3044f80676","name":"Read/Write Files from Disk"}],"connections":{"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Local File Trigger":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"59571f5c-3d38-4758-82ca-50e608fec358","triggerCount":1,"tags":[{"createdAt":"2025-07-02T03:36:50.683Z","updatedAt":"2025-07-02T03:36:50.683Z","id":"5vXUFxS7I0hK43by","name":"Client"},{"createdAt":"2025-06-19T01:47:10.821Z","updatedAt":"2025-06-19T01:47:10.821Z","id":"8gVBkn7dQhRbCEvP","name":"Server"},{"createdAt":"2025-06-19T05:40:26.659Z","updatedAt":"2025-06-19T05:40:26.659Z","id":"CiHXrcv73HXsVpCY","name":"Sales"}]}