Create-a-doc.json
{"createdAt":"2025-06-03T08:14:27.991Z","updatedAt":"2025-06-03T10:01:54.000Z","id":"qSnfcJiSyZ3Dho0E","name":"Create a doc","active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"client\": \"a string\",\n  \"output\":\"a string\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"a395b5ee-802c-47b6-b5a5-d82e0b0c6cc6","name":"When Executed by Another Workflow"},{"parameters":{"folderId":"1DesDHvJy-lXdxrJCCxiQaJ_EwofpCn0I","title":"={{ $json.client }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"6f75b97a-729a-4179-b6d6-49b31f36bb6e","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"J4WRLZZC2yUMwFhh","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('When Executed by Another Workflow').item.json.output }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[440,0],"id":"1ad70f10-f64b-4a3f-9289-b4133ba89140","name":"Google Docs1","credentials":{"googleDocsOAuth2Api":{"id":"J4WRLZZC2yUMwFhh","name":"Google Docs account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Google Docs1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ae70597f-6fca-4c5b-8130-96b91faa5fa9","triggerCount":0,"tags":[]}