Create-Ocunapse-Embeddings.json
{"createdAt":"2025-06-19T06:04:40.682Z","updatedAt":"2025-06-19T08:14:33.000Z","id":"OOfBVwoNLGA9fujL","name":"Create Ocunapse Embeddings","active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.1,"position":[456,0],"id":"cc48363f-6a26-4f28-b171-8821890d0656","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"P3RFSa3bOoBOMjdF","name":"Ocunapse RAG"}}},{"parameters":{"modelName":"models/embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[440,220],"id":"ed474dcc-d784-4db5-ba90-be298359b924","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"06fjQHyU4iIkhwT3","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[560,222.5],"id":"df82b6e1-2197-4b88-b692-910d3423ac4a","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[648,420],"id":"33169f78-9acf-4c5d-bc7c-ddb37197809f","name":"Recursive Character Text Splitter"},{"parameters":{"triggerOn":"folder","path":"ocustore","events":["add","change"],"options":{"awaitWriteFinish":true,"followSymlinks":false,"usePolling":true}},"type":"n8n-nodes-base.localFileTrigger","typeVersion":1,"position":[0,0],"id":"bf2a624e-fa9d-453e-9a86-4630fd86be94","name":"Local File Trigger"},{"parameters":{"fileSelector":"={{ $json.path }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[220,0],"id":"58493258-5d43-46e2-b765-445b77e4c6c3","name":"Read/Write Files from Disk"}],"connections":{"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Local File Trigger":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e1e19fab-e28e-419e-adca-303b29e3a3a6","triggerCount":1,"tags":[{"createdAt":"2025-06-19T01:47:23.899Z","updatedAt":"2025-06-19T01:47:23.899Z","id":"8X7HYsejcM7Lub4d","name":"Internal"},{"createdAt":"2025-06-19T01:47:10.821Z","updatedAt":"2025-06-19T01:47:10.821Z","id":"8gVBkn7dQhRbCEvP","name":"Server"},{"createdAt":"2025-06-19T05:40:26.659Z","updatedAt":"2025-06-19T05:40:26.659Z","id":"CiHXrcv73HXsVpCY","name":"Sales"},{"createdAt":"2025-06-19T01:47:17.649Z","updatedAt":"2025-06-19T01:47:17.649Z","id":"ppfxkPZAqns7ciey","name":"Ocunapse"}]}