Create-Google-Doc.json
{"createdAt":"2025-06-19T05:40:57.819Z","updatedAt":"2025-06-19T05:51:19.000Z","id":"lfo6ySCDOSw2fLui","name":"Create Google Doc","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Client"},{"name":"Estimate"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-220,-40],"id":"9d11161e-004d-444e-b520-33aa4be836f1","name":"When Executed by Another Workflow"},{"parameters":{"folderId":"1DesDHvJy-lXdxrJCCxiQaJ_EwofpCn0I","title":"={{ $json.Client }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[20,-40],"id":"d2db380a-f242-481b-9e72-df9446553288","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"uCqJnT2ZBbOujfBb","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('When Executed by Another Workflow').item.json.Estimate }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[260,-40],"id":"14245869-0db9-43ae-b105-425d03cc5007","name":"Google Docs1","credentials":{"googleDocsOAuth2Api":{"id":"uCqJnT2ZBbOujfBb","name":"Google Docs account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Google Docs1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"Client":"Paul Sdn Bhd","Estimate":"An Estimate"}}]},"versionId":"618719c1-c138-4172-bf5b-ac9d9fa18c53","triggerCount":0,"shared":[{"createdAt":"2025-06-19T05:40:57.825Z","updatedAt":"2025-06-19T05:40:57.825Z","role":"workflow:owner","workflowId":"lfo6ySCDOSw2fLui","projectId":"FvxAVPRgShLcnSOU"}],"tags":[{"createdAt":"2025-06-19T01:47:23.899Z","updatedAt":"2025-06-19T01:47:23.899Z","id":"8X7HYsejcM7Lub4d","name":"Internal"},{"createdAt":"2025-06-19T05:40:26.659Z","updatedAt":"2025-06-19T05:40:26.659Z","id":"CiHXrcv73HXsVpCY","name":"Sales"},{"createdAt":"2025-06-19T01:47:17.649Z","updatedAt":"2025-06-19T01:47:17.649Z","id":"ppfxkPZAqns7ciey","name":"Ocunapse"}]}