Create-Ocunapse-Chatbot-Embeddings.json
{"createdAt":"2025-07-03T01:31:19.909Z","updatedAt":"2025-08-21T03:58:39.000Z","id":"5xQb1wrFuedTG6Wo","name":"Create Ocunapse Chatbot Embeddings","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","tableName":"={{ $('Validate API Key').item.json.company }}_embeddings","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.1,"position":[640,0],"id":"1916712d-85f5-4897-81bc-b5f3a6c48f78","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"P3RFSa3bOoBOMjdF","name":"Ocunapse RAG"}}},{"parameters":{"modelName":"models/embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[624,224],"id":"2854997c-6545-474d-8288-78dc88fb24d9","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"06fjQHyU4iIkhwT3","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Webhook').item.json.body.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[752,224],"id":"acea5073-1048-4929-9661-1d5207789eb5","name":"Default Data Loader"},{"parameters":{"chunkSize":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[848,432],"id":"aa0a5349-25bb-4d56-8082-84aae87ac45e","name":"Recursive Character Text Splitter"},{"parameters":{"httpMethod":"POST","path":"chatbot/admin","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-720,504],"id":"070cbea6-39f6-41e0-98f5-00506b6fb736","name":"Webhook","webhookId":"272e7f67-b043-4125-852e-59362f6f259e"},{"parameters":{"options":{"timezone":"Asia/Kuala_Lumpur"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-496,504],"id":"b29ce7d0-bde5-43c5-9422-63b0cae48b43","name":"Date & Time"},{"parameters":{"operation":"executeQuery","query":"CREATE DATABASE {{ $('Validate API Key').item.json.company }}_embeddings;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[400,208],"id":"4a57ad5a-76ab-4a74-a7f5-d68ae737084d","name":"Execute a SQL query","credentials":{"postgres":{"id":"9dKcwCZhB9ThJi1c","name":"RAG"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"63fce80f-569c-480d-b950-85358c92e9f3","leftValue":"={{ $('Validate API Key').item.json.keys().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,504],"id":"bda989b5-a1aa-484b-9f6d-2d66a13d87cb","name":"If"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false,\n  \"error\": \"API key invalid\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[176,608],"id":"ca4bf58e-fe99-4d80-bc05-e3e47b654eb1","name":"API Key Error","notesInFlow":false},{"parameters":{"workflowId":{"__rl":true,"value":"QXcjQgIZF4bqD5kF","mode":"list","cachedResultName":"Validate Chatbot API Key"},"workflowInputs":{"mappingMode":"defineBelow","value":{"apikey":"={{ $('Webhook').item.json.headers['x-api-key'] }}","currentDate":"={{ $json.currentDate }}"},"matchingColumns":[],"schema":[{"id":"apikey","displayName":"apikey","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"currentDate","displayName":"currentDate","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-272,504],"id":"b9378010-9e73-4d12-9b5c-421f58a7d637","name":"Validate API Key"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.action.toLowerCase() }}","rightValue":"embed","operator":{"type":"string","operation":"equals"},"id":"cfeab527-fbf6-4980-b324-a366d0460469"}],"combinator":"and"},"renameOutput":true,"outputKey":"Embed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"12c97769-9350-47d0-815d-6971396c1397","leftValue":"={{ $('Webhook').item.json.body.action.toLowerCase() }}","rightValue":"get_system","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Get System Prompt"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e832a967-7e09-4531-a138-649559036a4f","leftValue":"={{ $('Webhook').item.json.body.action.toLowerCase() }}","rightValue":"set_system","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Set System Prompt"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[176,384],"id":"d6e9d867-26af-4531-a75e-c19c17c6ee90","name":"Switch"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true, \n  \"prompt\": \"{{ $json.systemPrompt }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[400,400],"id":"cfba3c1f-a776-4fff-bb0c-9cd55030004d","name":"Return System Prompt"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"User","mode":"list","cachedResultName":"User"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Validate API Key').item.json.id }}","systemPrompt":"={{ $('Webhook').item.json.body.prompt }}","updatedAt":"={{ $('Date & Time').item.json.currentDate }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updatedAt","displayName":"updatedAt","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"systemPrompt","displayName":"systemPrompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[400,608],"id":"2a97b54b-b385-4aea-9658-c55256513e37","name":"Update System Prompt","credentials":{"postgres":{"id":"9dKcwCZhB9ThJi1c","name":"RAG"}}},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": \"true\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[776,608],"id":"3371adc5-7cf7-4050-bc7a-fdbda7587731","name":"Respond to Webhook"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": true\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1152,208],"id":"1cd11049-15c3-46a8-9d8b-be7c43d3678b","name":"Respond to Webhook1"}],"connections":{"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Webhook":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Validate API Key","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"API Key Error","type":"main","index":0}]]},"Validate API Key":{"main":[[{"node":"If","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}],[{"node":"Return System Prompt","type":"main","index":0}],[{"node":"Update System Prompt","type":"main","index":0}]]},"Update System Prompt":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Postgres PGVector Store":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5e6565aa-c837-4e17-9f34-4fd13e3082cb","triggerCount":1,"tags":[{"createdAt":"2025-07-02T03:36:50.683Z","updatedAt":"2025-07-02T03:36:50.683Z","id":"5vXUFxS7I0hK43by","name":"Client"},{"createdAt":"2025-06-19T01:47:10.821Z","updatedAt":"2025-06-19T01:47:10.821Z","id":"8gVBkn7dQhRbCEvP","name":"Server"},{"createdAt":"2025-06-19T05:40:26.659Z","updatedAt":"2025-06-19T05:40:26.659Z","id":"CiHXrcv73HXsVpCY","name":"Sales"}]}