Create-Doc.json
{"createdAt":"2025-06-04T01:39:49.777Z","updatedAt":"2025-06-04T02:14:45.000Z","id":"720FWAeckBSYCqdO","name":"Create Doc","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Client"},{"name":"Estimate"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"9dc74320-d4de-489a-8ada-9c8b2331e921","name":"When Executed by Another Workflow"},{"parameters":{"folderId":"1DesDHvJy-lXdxrJCCxiQaJ_EwofpCn0I","title":"={{ $json.Client }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[240,0],"id":"ba411d21-175d-4439-b529-53a1edbdf2ef","name":"Google Docs","credentials":{"googleDocsOAuth2Api":{"id":"J4WRLZZC2yUMwFhh","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('When Executed by Another Workflow').item.json.Estimate }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[480,0],"id":"b438c51b-e56b-4c9d-a52f-a5597b19411b","name":"Google Docs1","credentials":{"googleDocsOAuth2Api":{"id":"J4WRLZZC2yUMwFhh","name":"Google Docs account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Google Docs","type":"main","index":0}]]},"Google Docs":{"main":[[{"node":"Google Docs1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"Client":"Paul Sdn Bhd","Estimate":"An Estimate"}}]},"versionId":"bf423279-0788-4423-9e8e-7847ac2071e8","triggerCount":0,"tags":[{"createdAt":"2025-06-04T02:13:57.220Z","updatedAt":"2025-06-04T02:13:57.220Z","id":"Yh4R1iiiuOYvVd3b","name":"Estimate"},{"createdAt":"2025-06-04T02:14:42.085Z","updatedAt":"2025-06-04T02:14:42.085Z","id":"imaw6hbBDEQVL20g","name":"Sub"},{"createdAt":"2025-06-03T03:51:02.726Z","updatedAt":"2025-06-03T03:51:02.726Z","id":"uYNvPuyuoShHgCax","name":"Ocunapse"}]}