Elvin-GMP.json
{"createdAt":"2025-11-18T08:23:07.587Z","updatedAt":"2025-11-21T04:00:59.000Z","id":"LRbNVkGjc3LcazlX","name":"Elvin GMP","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-112,188],"id":"7d8ab364-29c4-4f4e-850e-dcb7f9bb6952","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"108e8a8d-8817-4117-9091-d03ab6519a90","name":"page","value":1,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,188],"id":"1b4a9038-a583-40c5-8890-5238fcf6bb7e","name":"Set Page","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9f487b02-c86c-4e89-aa31-0bda6a4f8aaa","leftValue":"={{ parseInt($('Increment page').item.json.page) }}","rightValue":70,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2256,64],"id":"1b1a0b00-cf83-4262-94fb-50fb9a3533dc","name":"If"},{"parameters":{"jsCode":"const allItems = $input.all();\n\nconst pall = allItems[0].json.publicApplicationList\nconst newItems = pall.map(p => {\n  console.log(p)\n  return { data: {\n    state: p.state?.stateName,\n    serial_no: p.certNo,\n    company_name: p.compName,\n    company_address: p.compAddress,\n    company_phone: p.compPhoneNo,\n    company_email: p.compEmail,\n    premis_name: p.premiseName,\n    premis_address: p.premiseAddress,\n    from: new Date(p.certStartDate).toLocaleString(),\n    to: new Date(p.certEndDate).toLocaleString(),\n    active: p.status    \n  }}\n})\nreturn newItems\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,64],"id":"39303cbe-37c7-45af-adb6-493c678398b1","name":"Code"},{"parameters":{"resource":"spreadsheet","title":"Elvin","sheetsUi":{"sheetValues":[{"title":"GMP"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[784,288],"id":"7917b72a-19e0-4a92-a35f-52b0d1e069f6","name":"Create spreadsheet","credentials":{"googleSheetsOAuth2Api":{"id":"TOYw834MVtCXni6O","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1LK3Y2sDNLVm1bJmoOb7d1XZ7V0cNzdDO5XNM4hrKcwg","mode":"list","cachedResultName":"Elvin","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LK3Y2sDNLVm1bJmoOb7d1XZ7V0cNzdDO5XNM4hrKcwg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":120469929,"mode":"list","cachedResultName":"GMP","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LK3Y2sDNLVm1bJmoOb7d1XZ7V0cNzdDO5XNM4hrKcwg/edit#gid=120469929"},"columns":{"mappingMode":"defineBelow","value":{"Nature of Business":"={{ $json.text }}","State":"={{ $('Code').item.json.data.state }}","Company Name":"={{ $('Code').item.json.data.company_name }}","Serial No.":"={{ $('Code').item.json.data.serial_no }}","Company Address":"={{ $('Code').item.json.data.company_address }}","Premise Address":"={{ $('Code').item.json.data.premis_address }}","Status":"={{ $('Code').item.json.data.active }}","Phone No":"={{ $('Code').item.json.data.company_phone ||'-' }}","Email Address":"={{ $('Code').item.json.data.company_email ||'-' }}","From":"={{ $('Code').item.json.data.from }}","To":"={{ $('Code').item.json.data.to }}"},"matchingColumns":[],"schema":[{"id":"State","displayName":"State","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Serial No.","displayName":"Serial No.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone No","displayName":"Phone No","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company Address","displayName":"Company Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nature of Business","displayName":"Nature of Business","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Premise Address","displayName":"Premise Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"From","displayName":"From","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"To","displayName":"To","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2032,64],"id":"e3bed84b-bd7f-4627-a4dd-8465ebc94c87","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"TOYw834MVtCXni6O","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6b536178-2ea9-46f6-9a6f-55e3a8688df3","name":"page","value":"={{ ($('Forward Page').isExecuted) ? $('Forward Page').first().json.prevPage + 1 : $('Set Page').first().json.page }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1008,176],"id":"d64e1612-529d-412d-84aa-a9bcf4033e9e","name":"Increment page"},{"parameters":{"assignments":{"assignments":[{"id":"f110b91e-3d47-4719-ae80-7ec789c99ba0","name":"prevPage","value":"={{ $('Increment page').first().json.page }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2480,64],"id":"7e877fb9-0138-4bae-8eaa-b148bf7f6d50","name":"Forward Page"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2704,188],"id":"7ac15d74-ea93-4228-a12c-0ebead11760c","name":"Wait","webhookId":"2798f8ec-d961-4098-8a05-ab62d6c103b0"},{"parameters":{"workflowId":{"__rl":true,"value":"5BaIjawPTnoM8j54","mode":"list","cachedResultName":"Elvin fetch"},"workflowInputs":{"mappingMode":"defineBelow","value":{"url":"=https://fosim.moh.gov.my/fssm/public/mobile/searchCertInfo?size=20&page={{ $('Increment page').item.json.page }}&sort=certNo,ASC&certificateTypeName=GMP"},"matchingColumns":["url"],"schema":[{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1232,64],"id":"93001994-8447-43cd-afea-84ba5b0cedc2","name":"Execute Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.data }}","messages":{"messageValues":[{"message":"Analyse the data object and, if necessary search the web for the company name, with the goal of creating a brief description of each of the companies nature of business.  Limit the output to facts only, with the total output length not exceeding  50 words per company."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1680,64],"id":"f9748bcb-f81b-4b81-b9f9-8f800e26bf8e","name":"Basic LLM Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[1752,288],"id":"7b87c17b-9aac-48ff-b2d7-41a849ad264c","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"kjsLLud72Mv0JDPq","name":"DeepSeek account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1LK3Y2sDNLVm1bJmoOb7d1XZ7V0cNzdDO5XNM4hrKcwg","mode":"list","cachedResultName":"Elvin","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LK3Y2sDNLVm1bJmoOb7d1XZ7V0cNzdDO5XNM4hrKcwg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":120469929,"mode":"list","cachedResultName":"GMP","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LK3Y2sDNLVm1bJmoOb7d1XZ7V0cNzdDO5XNM4hrKcwg/edit#gid=120469929"},"filtersUI":{"values":[{"lookupColumn":"State","lookupValue":"SELANGOR"}]},"options":{"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[336,188],"id":"f25d205c-a657-41e0-9054-2272a6ae64a3","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"TOYw834MVtCXni6O","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eb00f2f3-4a35-44f9-b947-7f596c550063","leftValue":"={{ $json.State }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,188],"id":"cb20cdd6-dbc9-45c9-b2bd-66d61551104f","name":"If1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Set Page","type":"main","index":0}]]},"Set Page":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"If":{"main":[[{"node":"Forward Page","type":"main","index":0}],[]]},"Code":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Create spreadsheet":{"main":[[{"node":"Increment page","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"Increment page":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Forward Page":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Increment page","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Increment page","type":"main","index":0}],[{"node":"Create spreadsheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"384279c8-b58b-4126-bd14-3f3622f16be1","triggerCount":0,"shared":[{"createdAt":"2025-11-18T08:23:07.712Z","updatedAt":"2025-11-18T08:23:07.712Z","role":"workflow:owner","workflowId":"LRbNVkGjc3LcazlX","projectId":"FvxAVPRgShLcnSOU"}],"tags":[]}