Elvin-GMP.json
{"createdAt":"2025-11-18T08:23:07.587Z","updatedAt":"2025-11-20T04:35:33.000Z","id":"LRbNVkGjc3LcazlX","name":"Elvin GMP","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-112,-160],"id":"7d8ab364-29c4-4f4e-850e-dcb7f9bb6952","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"108e8a8d-8817-4117-9091-d03ab6519a90","name":"page","value":1,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,-160],"id":"1b4a9038-a583-40c5-8890-5238fcf6bb7e","name":"Set Page","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9f487b02-c86c-4e89-aa31-0bda6a4f8aaa","leftValue":"={{ parseInt($('Increment page').item.json.page) }}","rightValue":13,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1456,-288],"id":"1b1a0b00-cf83-4262-94fb-50fb9a3533dc","name":"If"},{"parameters":{"jsCode":"const allItems = $input.all();\n\nconst pall = allItems[0].json.publicApplicationList\nconst newItems = pall.map(p => {\n  console.log(p)\n  return {\n    state: p.state?.stateName,\n    serial_no: p.certNo,\n    company_name: p.compName,\n    company_address: p.compAddress,\n    premis_name: p.premiseName,\n    premis_address: p.premiseAddress,\n    validity_period: {\n      from: new Date(p.certStartDate).toLocaleString(),\n      to: new Date(p.certEndDate).toLocaleString()\n    }\n  }\n})\nreturn newItems\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,-288],"id":"39303cbe-37c7-45af-adb6-493c678398b1","name":"Code"},{"parameters":{"resource":"spreadsheet","title":"Elvin","sheetsUi":{"sheetValues":[{"title":"GMP"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[336,-160],"id":"7917b72a-19e0-4a92-a35f-52b0d1e069f6","name":"Create spreadsheet","credentials":{"googleSheetsOAuth2Api":{"id":"TOYw834MVtCXni6O","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1LK3Y2sDNLVm1bJmoOb7d1XZ7V0cNzdDO5XNM4hrKcwg","mode":"list","cachedResultName":"Elvin","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LK3Y2sDNLVm1bJmoOb7d1XZ7V0cNzdDO5XNM4hrKcwg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":120469929,"mode":"list","cachedResultName":"GMP","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LK3Y2sDNLVm1bJmoOb7d1XZ7V0cNzdDO5XNM4hrKcwg/edit#gid=120469929"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"spreadsheetId","displayName":"spreadsheetId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"properties","displayName":"properties","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"sheets","displayName":"sheets","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"spreadsheetUrl","displayName":"spreadsheetUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1232,-288],"id":"e3bed84b-bd7f-4627-a4dd-8465ebc94c87","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"TOYw834MVtCXni6O","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6b536178-2ea9-46f6-9a6f-55e3a8688df3","name":"page","value":"={{ ($('Forward Page').isExecuted) ? $('Forward Page').first().json.prevPage + 1 : $('Set Page').first().json.page }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,-160],"id":"d64e1612-529d-412d-84aa-a9bcf4033e9e","name":"Increment page"},{"parameters":{"assignments":{"assignments":[{"id":"f110b91e-3d47-4719-ae80-7ec789c99ba0","name":"prevPage","value":"={{ $('Increment page').first().json.page }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,-160],"id":"7e877fb9-0138-4bae-8eaa-b148bf7f6d50","name":"Forward Page"},{"parameters":{"url":"=https://fosim.moh.gov.my/fssm/public/mobile/searchCertInfo?size=100&page={{ $('Increment page').item.json.page }}&sort=certNo,ASC&certificateTypeName=GMP","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Connection","value":"close"}]},"options":{"allowUnauthorizedCerts":true,"timeout":90000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,-160],"id":"caee8761-d485-4f75-921a-1aa64602ecb6","name":"HTTP Request1","retryOnFail":true,"maxTries":5,"waitBetweenTries":3000},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1888,-160],"id":"7ac15d74-ea93-4228-a12c-0ebead11760c","name":"Wait","webhookId":"2798f8ec-d961-4098-8a05-ab62d6c103b0"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Set Page","type":"main","index":0}]]},"Set Page":{"main":[[{"node":"Create spreadsheet","type":"main","index":0}]]},"If":{"main":[[{"node":"Forward Page","type":"main","index":0}],[]]},"Code":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Create spreadsheet":{"main":[[{"node":"Increment page","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"Increment page":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Forward Page":{"main":[[{"node":"Wait","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Increment page","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ea880a29-540f-499a-8428-19a5d81c979f","triggerCount":0,"shared":[{"createdAt":"2025-11-18T08:23:07.712Z","updatedAt":"2025-11-18T08:23:07.712Z","role":"workflow:owner","workflowId":"LRbNVkGjc3LcazlX","projectId":"FvxAVPRgShLcnSOU"}],"tags":[]}