Email-Summary.json
{"createdAt":"2025-06-04T02:16:47.907Z","updatedAt":"2025-06-04T02:28:07.000Z","id":"NaSEdpWlLtZMEJLp","name":"Email Summary","active":false,"isArchived":false,"nodes":[{"parameters":{"postProcessAction":"nothing","format":"resolved","options":{}},"type":"n8n-nodes-base.emailReadImap","typeVersion":2,"position":[0,0],"id":"4bbbd344-031c-43e6-9c9a-a90f17b94785","name":"Email Trigger (IMAP)","credentials":{"imap":{"id":"OZ0GaOSFNTLXLWsZ","name":"IMAP account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.headers.to }}","rightValue":"paul@ocunapse.com","operator":{"type":"string","operation":"contains"},"id":"8a18667c-a61f-4756-8899-a271cf99bcec"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"539aa18f-b290-42f5-8bba-c4c68b640f0a","leftValue":"={{ $json.headers.cc }}","rightValue":"paul@ocunapse.com","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[220,0],"id":"890c08e8-eb82-4af1-b847-00efe55ac5f6","name":"Switch"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2.1,"position":[440,-100],"id":"9f336797-cd0d-4b9f-bbf1-5dd5371a6f68","name":"Summarization Chain"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[460,100],"id":"682b5beb-5249-472f-a1d4-da71a4e651cb","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"W9sZ9CZq5KjCvrk8","name":"Google Gemini(PaLM) Api account 2"}}}],"connections":{"Email Trigger (IMAP)":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Summarization Chain","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Summarization Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7445fb45-f022-4306-9516-cd7859c32ced","triggerCount":0,"tags":[{"createdAt":"2025-06-04T02:26:37.193Z","updatedAt":"2025-06-04T02:26:37.193Z","id":"kvuyHPn3734zJbQk","name":"Email"},{"createdAt":"2025-06-03T03:51:02.726Z","updatedAt":"2025-06-03T03:51:02.726Z","id":"uYNvPuyuoShHgCax","name":"Ocunapse"}]}