First.json
{"createdAt":"2025-05-30T13:36:47.348Z","updatedAt":"2025-06-03T10:02:35.000Z","id":"vUMKY90XJWD4ksIJ","name":"First","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"540f8c86-21ab-4a9c-9276-0d2b7f4c4d2d","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://ocunapse.com","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"976154b9-ceae-4e7a-bb29-87793e757ae4","name":"HTTP Request"},{"parameters":{"operation":"sendAndWait","fromEmail":"paul@ocunapse.com","toEmail":"paul@ocunapse.com","subject":"Check this","message":"={{ $json.text }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[820,0],"id":"a2f99291-1b69-45eb-adb2-e7be95fd0357","name":"Send Email","webhookId":"c7f27aac-486c-4d85-a9a7-719532a1fd55","credentials":{"smtp":{"id":"WPWFGZlKhnbVfFW7","name":"SMTP account"}}},{"parameters":{"operationMode":"documentLoader","options":{}},"type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2.1,"position":[440,0],"id":"99bdda45-d8b2-4a72-b469-d9f5845521c3","name":"Summarization Chain"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[440,220],"id":"b9d83de6-c2d8-4686-bf16-ded873eeb80e","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"HOX5qkHx4gz0LjMb","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[580,220],"id":"1e1bd57e-1d86-4e45-be3d-875421cfddb7","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[680,440],"id":"004470e8-dfd5-40e0-8bc5-ff67e457d011","name":"Recursive Character Text Splitter"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Summarization Chain","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Summarization Chain","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Summarization Chain","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Summarization Chain":{"main":[[{"node":"Send Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6d6f955e-19f9-4342-9a29-84545e45b8db","triggerCount":0,"tags":[]}