Label-Emails.json
{"createdAt":"2025-06-07T07:43:39.856Z","updatedAt":"2025-06-07T07:57:07.000Z","id":"4VyhnFZlNT4oJkhr","name":"Label Emails","active":false,"isArchived":false,"nodes":[{"parameters":{"postProcessAction":"nothing","format":"resolved","options":{}},"type":"n8n-nodes-base.emailReadImap","typeVersion":2,"position":[0,0],"id":"721d4055-b8ad-4f06-ae95-21663d74597f","name":"Email Trigger (IMAP)","credentials":{"imap":{"id":"OZ0GaOSFNTLXLWsZ","name":"IMAP account"}}},{"parameters":{"inputText":"={{ $json.from.value[0].address.extractDomain() }}","categories":{"categories":[{"category":"Ocunapse","description":"Originates from ocunapse.com"},{"category":"Aptrasco","description":"Originates from aptrasco.com"},{"category":"Anymeta","description":"Originates from anymeta-global.com"}]},"options":{"fallback":"discard","systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[220,0],"id":"7105d053-2b61-4334-83c9-2cf9b5f38f03","name":"Text Classifier"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[200,200],"id":"f1e9f0a5-0289-4f68-bbaa-c0ea82b61cfa","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"W9sZ9CZq5KjCvrk8","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"operation":"write","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[680,0],"id":"f790caee-5017-4e21-8d3d-bba727305155","name":"Read/Write Files from Disk"}],"connections":{"Email Trigger (IMAP)":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}],[{"node":"Read/Write Files from Disk","type":"main","index":0}],[{"node":"Read/Write Files from Disk","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"18cbeadd-9b91-4862-9f7a-88a7945ea6d1","triggerCount":0,"tags":[]}