MetalPriceScraper-DB.json
{"createdAt":"2025-08-18T04:15:47.217Z","updatedAt":"2025-08-18T10:07:59.000Z","id":"KKUGZDygXoXm3cOB","name":"MetalPriceScraper DB","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-720,-128],"id":"1bb79aff-4678-4ec0-badb-800674f50d48","name":"Schedule Trigger"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"price","cssSelector":".item___ku9Fy","returnValue":"html","returnArray":true}]},"options":{"trimValues":true,"cleanUpText":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-272,-128],"id":"d97739d4-ffcf-4427-bc59-f9c09247d519","name":"HTML"},{"parameters":{"url":"https://www.metal.com/price/SHFE/SHFE","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-496,-128],"id":"8c5ee607-a319-4dd4-a412-eb688637db85","name":"HTTP Request1"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"prices","mode":"list","cachedResultName":"prices"},"columns":{"mappingMode":"defineBelow","value":{"code":"={{ $json.code }}","description":"={{ $json.description }}","price":"={{ $json.price }}","diff":"={{ $json.change }}","updated_at":"={{ Date.now() }}"},"matchingColumns":["code"],"schema":[{"id":"code","displayName":"code","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"price","displayName":"price","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"diff","displayName":"diff","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"updated_at","displayName":"updated_at","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[576,-128],"id":"b45b6390-7060-4a8c-8f7c-014d7289c4f1","name":"Insert or update rows in a table","credentials":{"postgres":{"id":"aLaUGnmq3nf7pLeY","name":"LME"}}},{"parameters":{"promptType":"define","text":"={{ $json.price }}","hasOutputParser":true,"options":{"systemMessage":"You are a helpful assistant able to extract a list of descriptions and prices from a precious metals price list.  The first 2 characters of the description denote the specific metal and i just need the first 7 in the list. Please use the description field to create a new field called code.  The code field must have anything in parenthesis removed, and whitespace characters trimmed."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-48,-128],"id":"8966fd96-1f01-4f84-b980-e3a7aed28385","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-16,96],"id":"4fc6343a-d4b9-4410-b2b3-6e942e38d5b1","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"kjsLLud72Mv0JDPq","name":"DeepSeek account"}}},{"parameters":{"jsonSchemaExample":"[{\n    \"code\": \"pb2301\",\n\t\"description\": \"pb2701 (cny/mt)\",\n    \"price\": 12.34,\n\t\"open\": 123.45,\n    \"high\": 234.56,\n    \"low\": 123.45,\n    \"vol\": 23,\n    \"change\": 22\n}]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[112,96],"id":"cfabf37e-f8f9-477c-b755-683a33a6c9bf","name":"Structured Output Parser"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[352,-128],"id":"2f227d90-5e6c-48cf-817c-8d5120adba49","name":"Split Out"}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTML":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Insert or update rows in a table":{"main":[[]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Insert or update rows in a table","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f4e307b2-1ebd-46ef-a907-e06d4afa1c4b","triggerCount":0,"tags":[]}