MetalPriceScraper.json
{"createdAt":"2025-08-07T02:11:16.922Z","updatedAt":"2025-08-14T08:18:18.000Z","id":"BsOMOBnh3XqcslNC","name":"MetalPriceScraper","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-864,-128],"id":"f6464626-9cd5-4248-960a-f401d76c73c4","name":"Schedule Trigger"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1eIKGK9DRA4o7s4kFH2p7YUrC2tgwbzXkOKyklIDGyAI","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-656,-128],"id":"d8853050-8241-43fb-bb3a-86f1fedb1e1a","name":"Get row(s) in sheet","credentials":{"googleApi":{"id":"tkGVoRO1jwadDaIH","name":"Google Sheets account 2"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-432,-128],"id":"a47ebb93-fb7a-44a9-9422-48cfa4add506","name":"Loop Over Items"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"price","cssSelector":".price___2mpJr","returnArray":true}]},"options":{"cleanUpText":false}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[0,-112],"id":"142cabda-395d-43cd-b51e-67f74746ae45","name":"HTML"},{"parameters":{"url":"={{ $json.URL }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-208,-112],"id":"0c3ce5e3-766d-4a21-b206-fb1cd6c06cd6","name":"HTTP Request1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTML","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"16f9abde-cd85-4583-be20-1ab19bc74b6e","triggerCount":0,"shared":[{"createdAt":"2025-08-07T02:11:16.998Z","updatedAt":"2025-08-07T02:11:16.998Z","role":"workflow:owner","workflowId":"BsOMOBnh3XqcslNC","projectId":"c7QzJT7k5cgqr70S"}],"tags":[]}