My-workflow-6.json
{"updatedAt":"2025-12-11T07:03:31.000Z","createdAt":"2025-12-11T06:45:25.195Z","id":"xqm3wn00rST2FzEQ","name":"My workflow 6","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"docx","responseMode":"lastNode","responseData":"noData","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"976993a4-3269-4da9-8f66-8d8ab7281198","name":"Webhook","webhookId":"6b695359-841c-4f79-9ae3-f615a2e61a3e"},{"parameters":{"inputBinaryField":"file"},"type":"n8n-nodes-docx-converter.docxToText","typeVersion":1,"position":[224,0],"id":"aba79916-0f63-4ebb-849e-b08a646fb2db","name":"DOCX to Text"},{"parameters":{"jsCode":"const arr = $input.first().json.text.split(\"*Assalamualaikum & Salam Sejahtera*\\n\\n\\n\\n\");\nreturn arr.map(item => {return {item}});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,0],"id":"a21ecfb1-5f4d-4569-b0bb-1d411f1c1683","name":"Code in JavaScript"}],"connections":{"Webhook":{"main":[[{"node":"DOCX to Text","type":"main","index":0}]]},"DOCX to Text":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4997117b-7682-42a0-8023-c3b4842dbf85","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-11T06:45:25.202Z","createdAt":"2025-12-11T06:45:25.202Z","role":"workflow:owner","workflowId":"xqm3wn00rST2FzEQ","projectId":"FvxAVPRgShLcnSOU"}],"activeVersion":null,"tags":[]}