My-workflow.json
{"createdAt":"2025-06-04T02:32:32.978Z","updatedAt":"2025-06-04T03:58:13.000Z","id":"JvnhfyxYFbj7GbVA","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"b570ae18-879c-49ad-8218-120194df8de6","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1400,-320],"id":"44d73d3e-7446-493b-a1da-5d3065a929e0","name":"Webhook","webhookId":"b570ae18-879c-49ad-8218-120194df8de6"},{"parameters":{"promptType":"define","text":"={{ $json.body.message }}","options":{"systemMessage":"You are a helpful assistant, part of an n8n workflow, focussed on providing information relating to software development, and specifically analysis of requirements with the target being to estimate man-days required for development.  The estimate must be a step by step detailed plan. \n----------------------------------------\nThe workflow for this is as follows:\n\nCreate an estimate for the man-days and communicate this to the user.  Do not ask any followup questions, just send the estimate.\nSend an email containing the estimate\n------------------------------------------\n** The output MUST include the clients name prefixed with 'Client:**'","returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1640,-320],"id":"e736bfba-4edf-49f2-8fd2-7d34c0775e00","name":"AI Agent","alwaysOutputData":true},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1460,-100],"id":"703a7441-a8e7-44d6-83f7-66849745c063","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"HOX5qkHx4gz0LjMb","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"A website for a client named \"Ocunapse Sdn Bhd\" which is a software development company. It must be a single paged site containing the following sections...\n\nA Hero section containing a video. A brief summary of the company. Some examples of past work (5 max). A simple contact form which emails the details. All the media will need to be created. All the copy will need to be written. The document title is \"Ocunapse Sdn Bhd\".","height":240,"width":400},"type":"n8n-nodes-base.stickyNote","position":[800,-340],"typeVersion":1,"id":"19d18eac-0fa5-4af3-b78c-518d03c3350c","name":"Sticky Note"},{"parameters":{"fromEmail":"info@ocunapse.com","toEmail":"paul@ocunapse.com","subject":"Website Estimate","html":"={{ $('Webhook').item.json.body.message }}{{ $json.output }}","options":{}},"type":"n8n-nodes-base.emailSendTool","typeVersion":2.1,"position":[1800,-100],"id":"0cf80a16-e375-421f-83dc-a8d0c805b47f","name":"Send Email1","webhookId":"9319fe5c-b9e3-457f-b080-4bd7de10c95a","credentials":{"smtp":{"id":"WPWFGZlKhnbVfFW7","name":"SMTP account"}}}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[]]},"Send Email1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"content-type":"application/json","user-agent":"PostmanRuntime/7.44.0","accept":"*/*","cache-control":"no-cache","postman-token":"346bed31-2019-4906-bdf9-771304b6cd24","host":"localhost:5678","accept-encoding":"gzip, deflate, br","connection":"keep-alive","content-length":"444"},"params":{},"query":{},"body":{"message":"A website for a client named 'Ocunapse Sdn Bhd' which is a software development company. It must be a single paged site containing the following sections...A Hero section containing a video. A brief summary of the company. Some examples of past work (5 max). A simple contact form which emails the details. All the media will need to be created. All the copy will need to be written. The document title is 'Ocunapse Sdn Bhd'"},"webhookUrl":"http://localhost:5678/webhook-test/b570ae18-879c-49ad-8218-120194df8de6","executionMode":"test"}}]},"versionId":"9df58cca-217a-41f3-9a5b-16baf00e9abb","triggerCount":0,"tags":[{"createdAt":"2025-06-04T02:13:57.220Z","updatedAt":"2025-06-04T02:13:57.220Z","id":"Yh4R1iiiuOYvVd3b","name":"Estimate"},{"createdAt":"2025-06-03T03:51:02.726Z","updatedAt":"2025-06-03T03:51:02.726Z","id":"uYNvPuyuoShHgCax","name":"Ocunapse"}]}