My-workflow-4.json
{"updatedAt":"2025-12-04T14:44:16.000Z","createdAt":"2025-12-04T09:53:15.035Z","id":"ZB0pS3MZ76X9jH7d","name":"My workflow 4","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"1284c25b-e95f-4ca6-bb0f-dac168a0b9b5","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  // Assuming the JSON string is in a field named 'myStringField'\n  // If your string is in a different field, replace 'myStringField' accordingly.\n  const jsonString = item.json.vsData;\n\n  try {\n    item.json.myParsedObject = JSON.parse(jsonString);\n  } catch (error) {\n    // Handle cases where the string is not valid JSON\n    console.log(`Error parsing JSON string: ${error.message}`);\n    item.json.myParsedObject = null; // Or handle the error as needed\n  }\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"c0b4f584-f19b-4561-ab57-e84ff135511e","name":"Code in JavaScript"},{"parameters":{"assignments":{"assignments":[{"id":"77254829-f870-4239-b841-ba0e9a4635a3","name":"vsData","value":"'[{\"output\":{\"nombor report\":\"TRAFIK KUALA LUMPUR/037341/23\",\"jenis jalan\":\"\",\"jenis permukaan\":\"\",\"qualiti permukaan\":\"\",\"klasifikasi kes\":\"S41(1) APJ1987\",\"sistem lalulintas\":\"\",\"kenderaan\":[{\"Label\":\"T1M300\",\"No. Pend\":\"\",\"jenis\":\"Motokar\",\"warna\":\"\",\"LKM\":\"\"}],\"butiran individu terlibat\":[{\"kendaraan\":\"T1M300\",\"umur\":\"34\",\"jantina\":\"\",\"keturunan\":\"\",\"lesen\":\"\",\"pekerjaan\":\"KERAJAAN\",\"kecederaan\":\"Tidak Berkenaan (999)\",\"sebab mati\":\"\"},{\"kendaraan\":\"Pejalan Kaki\",\"umur\":\"44\",\"jantina\":\"PEREMPUAN\",\"keturunan\":\"\",\"lesen\":\"\",\"pekerjaan\":\"\",\"kecederaan\":\"Mati\",\"sebab mati\":\"\"}],\"lokasi\":\"S JLN SULTAN ISMAIL, JALAN RAJA LAUT BERHAMPIRAN JEJANTAS PEJALAN KAKI\",\"tarikh report\":\"13/04/2023\",\"waktu report\":\"07:45 HRS\",\"keterangan kes\":\"MENYEBABKAN KEMATIAN KERANA MEMANDU DGN MELULU ATAU MEMBAHAYAKAN, Langgar Pejalan Kaki\",\"tarikh kejadian\":\"13/04/2023\",\"waktu kejadian\":\"07:45 HRS\"}}]'","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"45cb3a07-29bb-4ca2-8363-69b5e342fd3a","name":"Edit Fields"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"35bbae2b-bb28-4032-868b-3cb10f6e3bf5","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-04T09:53:15.037Z","createdAt":"2025-12-04T09:53:15.037Z","role":"workflow:owner","workflowId":"ZB0pS3MZ76X9jH7d","projectId":"FvxAVPRgShLcnSOU"}],"activeVersion":null,"tags":[]}