Ocunapse-Sales.json
{"createdAt":"2025-06-16T06:46:24.063Z","updatedAt":"2025-06-17T09:27:50.000Z","id":"POrErnZYZ5z1e55K","name":"Ocunapse-Sales","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-20,100],"id":"918ae018-8538-465a-9db7-dec631d1e6ad","name":"When chat message received","webhookId":"1f9bdd6d-3200-4b7b-bdb1-1413b7051174"},{"parameters":{"options":{"systemMessage":"You are a helpful assistant giving information about Ocunapse.  Use the tools to get information about Ocunapse.\n\nDuring the chat try to gain information about the user to qualify them as a sales lead.  The information should include:\n - Their first name.\n - Their company name.\n - Their contact information such as email or phone number.\n - Their job title or role (optional).\n - Specific area of interest.\n - Timeline (optional).\n - Budget.\nKeep the chat going until you have all the questions answered. \nOnce you have all the appropriate answers use the tool to send an email.\n\nBe very conversational and informal in your approach.  Ask them questions when appropriate to get information. \n\nBe brief with you responses whenever possible.\n\nDon't answer questions that do not concern Ocunapse.\n\nSpeak as if you are a sales person.","maxIterations":10,"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[336,100],"id":"0f1cf3ec-5196-46ee-b2b3-0f37f316235d","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-04-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[180,320],"id":"a3c5b00b-3a30-4d1e-a451-0dac649b877c","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"RJirYLaveIvGc0IJ","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"vectordb","toolDescription":"Work with ocunapse data from a pgvector db","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.1,"position":[440,322.5],"id":"54c0deab-aae6-415d-9dda-6f85ced99c94","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"cWB9yBXZ7zwmIPh4","name":"Postgres account"}}},{"parameters":{"modelName":"models/embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[528,520],"id":"388910f7-994f-4ad4-864e-d11b416d4a38","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"RJirYLaveIvGc0IJ","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[320,320],"id":"112c9209-4eab-4058-8ea1-82a742eae0d9","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"cWB9yBXZ7zwmIPh4","name":"Postgres account"}}},{"parameters":{"description":"Call this tool when you have collected all of the answers to the qualifying questions.  The query data must be an object containing the following structure:\n{name: string, company: string, contact: string, budget: string, interest: string, role: string, timeline: string}\nYou can fill out the data using the qualifying data you have collected.","workflowId":{"__rl":true,"value":"Qr5gpU6ulSrLuiv4","mode":"list","cachedResultName":"Send the sales query"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"},"matchingColumns":["query"],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[736,320],"id":"88549469-c7c0-4cc7-a6c2-4dac28ef9864","name":"Call n8n Workflow Tool"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres PGVector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ee1e0ecf-afbc-43e8-a7ae-33b8a26f5591","triggerCount":0,"tags":[{"createdAt":"2025-06-17T05:58:07.364Z","updatedAt":"2025-06-17T05:58:07.364Z","id":"QjZU7Ynm3lOOnsYk","name":"Sales"}]}