Ocunapse-Public-Beta-Web-Bot.json
{"createdAt":"2025-08-20T09:39:14.313Z","updatedAt":"2025-08-21T02:59:15.000Z","id":"KWjPxQTKjMxKlscl","name":"Ocunapse Public Beta Web Bot","active":false,"isArchived":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('Set Variables').item.json.chatInput }}","options":{"systemMessage":"=You are a helpful Gen-Alpha, female assistant called Jessica, giving information about {{ $json.company }}. \n\nUse the tools to get information about {{ $json.company }}.\n\nSend images when appropriate.\n\nBe very conversational and informal in your approach. \n\nAsk them questions when appropriate to get information. \n\nBe brief with your responses whenever possible.\n\nDon't answer questions that do not concern {{ $json.company }}.\n\nAdditional instructions\n{{ $json.systemPrompt }}\n\n","maxIterations":100,"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[352,368],"id":"5658669a-052a-4342-b648-ef5bb7c18d6a","name":"AI Agent"},{"parameters":{"mode":"retrieve-as-tool","toolName":"vectordb","toolDescription":"Work with ocunapse data from a pgvector db","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.1,"position":[576,592],"id":"072fcf54-132c-4df6-8540-4f94919ba30c","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"9dKcwCZhB9ThJi1c","name":"RAG"}}},{"parameters":{"modelName":"models/embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[672,800],"id":"9d915e87-60a3-4dc2-8db2-da1b8eca6fcf","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"bIkZPsIBap8l9xrb","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[320,592],"id":"8594e4fa-8aa6-4966-90ca-8ea89b0c4557","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"kjsLLud72Mv0JDPq","name":"DeepSeek account"}}},{"parameters":{"httpMethod":"POST","path":"rag","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1024,464],"id":"cb322042-bd6c-4b33-823a-f8642e730e97","name":"Webhook","webhookId":"921b1b33-1ebe-4f36-bef8-b965b8760622"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false,\n  \"error\": \"API key invalid\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[96,560],"id":"edf1fda2-4fae-4065-8d28-d2e13ce74d7d","name":"API Key Error","notesInFlow":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"aa2cdbd2-8482-4795-a734-88ea79f2718b","leftValue":"={{ $json.keys().length }}","rightValue":"=0","operator":{"type":"number","operation":"gte"}},{"id":"cd85d919-310e-48de-a136-ff275a12d80c","leftValue":"={{ new Date($('Search for API Key').item.json.expiresAt).getTime() }}","rightValue":"={{ new Date($('Set Variables').item.json.currentDate).getTime() }}","operator":{"type":"number","operation":"gte"}},{"id":"1ea40ee4-eb2f-463d-83d7-00b700eed198","leftValue":"=","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-128,464],"id":"5990a766-34ef-42db-b8ac-1bf70bac556b","name":"If apiKey is valid"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[976,368],"id":"c40374cc-849c-47b4-9ed4-aee2f951f997","name":"Respond to Webhook"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"ApiKey","mode":"list","cachedResultName":"ApiKey"},"returnAll":true,"where":{"values":[{"column":"key","value":"={{ $json.apiKey }}"}]},"options":{"outputColumns":["userId","expiresAt"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-352,464],"id":"a41a8154-e921-4527-b702-ae9e057ac861","name":"Search for API Key","alwaysOutputData":true,"credentials":{"postgres":{"id":"9dKcwCZhB9ThJi1c","name":"RAG"}}},{"parameters":{"assignments":{"assignments":[{"id":"fbf3b195-40ee-46f3-bc7f-a91d30fcb2b8","name":"apiKey","value":"={{ $('Webhook').item.json.headers[\"x-api-key\"] }}","type":"string"},{"id":"174a011a-bc82-4b0d-9000-da581b2c8e0d","name":"chatInput","value":"={{ $('Webhook').item.json.body.chatInput }}","type":"string"},{"id":"2d796eca-3e73-4135-9f5d-53a6e5c6ae27","name":"sessionId","value":"={{ $('Webhook').item.json.body.sessionId }}","type":"string"},{"id":"f95490d9-534d-4bb1-a699-2a9dcd2520c4","name":"currentDate","value":"={{ $json.currentDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-576,464],"id":"533bddb0-f0cb-48d9-9231-43bfe83369c4","name":"Set Variables"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"=User","mode":"name"},"limit":1,"where":{"values":[{"column":"id","value":"={{ $('Search for API Key').item.json.userId }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[96,368],"id":"351a79ba-cb4f-4991-ab05-5ecf5a69748d","name":"Get User Data","credentials":{"postgres":{"id":"9dKcwCZhB9ThJi1c","name":"RAG"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Set Variables').item.json.sessionId }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[448,592],"id":"03dc8bff-2a37-4d38-926e-ac79a4751721","name":"Simple Memory"},{"parameters":{"options":{"timezone":"Asia/Kuala_lumpur"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-800,464],"id":"735769e1-5541-49d8-aaa0-9b55255a9b16","name":"Date & Time"}],"connections":{"Postgres PGVector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"If apiKey is valid":{"main":[[{"node":"Get User Data","type":"main","index":0}],[{"node":"API Key Error","type":"main","index":0}]]},"Search for API Key":{"main":[[{"node":"If apiKey is valid","type":"main","index":0}]]},"Set Variables":{"main":[[{"node":"Search for API Key","type":"main","index":0}]]},"Get User Data":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Date & Time":{"main":[[{"node":"Set Variables","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8e44e472-2962-466c-9c94-ab04f88c69e8","triggerCount":1,"shared":[{"createdAt":"2025-08-20T09:39:14.333Z","updatedAt":"2025-08-20T09:39:14.333Z","role":"workflow:owner","workflowId":"KWjPxQTKjMxKlscl","projectId":"FvxAVPRgShLcnSOU"}],"tags":[{"createdAt":"2025-06-19T05:40:26.659Z","updatedAt":"2025-06-19T05:40:26.659Z","id":"CiHXrcv73HXsVpCY","name":"Sales"},{"createdAt":"2025-06-19T01:47:17.649Z","updatedAt":"2025-06-19T01:47:17.649Z","id":"ppfxkPZAqns7ciey","name":"Ocunapse"}]}