Ocunapse-Public-Beta-Chatbot.json
{"createdAt":"2025-08-21T02:38:22.512Z","updatedAt":"2025-08-21T03:00:04.000Z","id":"wh5svNPs6v8A5nwR","name":"Ocunapse Public Beta Chatbot","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('Set Variables').item.json.chatInput }}","options":{"systemMessage":"=You are a helpful Gen-Alpha, female assistant called Jessica, giving information about {{ $json.company }}. \n\nUse the tools to get information about {{ $json.company }}.\n\nSend images when appropriate.\n\nBe very conversational and informal in your approach. \n\nAsk them questions when appropriate to get information. \n\nBe brief with your responses whenever possible.\n\nDon't answer questions that do not concern {{ $json.company }}.\n\nAdditional instructions\n{{ $json.systemPrompt }}\n\n","maxIterations":100,"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-48,368],"id":"09add3e3-5f95-4ebb-b2ee-bd8e7af976b0","name":"AI Agent"},{"parameters":{"mode":"retrieve-as-tool","toolName":"vectordb","toolDescription":"Work with ocunapse data from a pgvector db","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.1,"position":[176,592],"id":"b027434b-b26e-48fd-b6ce-ca0dcf187507","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"9dKcwCZhB9ThJi1c","name":"RAG"}}},{"parameters":{"modelName":"models/embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[272,800],"id":"86a4b227-5258-4882-bd76-22013b263ab8","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"bIkZPsIBap8l9xrb","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-80,592],"id":"81f33372-6b15-474c-bf29-878614ea1189","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"kjsLLud72Mv0JDPq","name":"DeepSeek account"}}},{"parameters":{"httpMethod":"POST","path":"rag","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1200,784],"id":"3dedd5b3-9836-4d76-9caf-cda82d442e24","name":"Webhook","webhookId":"a205792c-60e9-4682-9880-b1844f993f39"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[576,576],"id":"90f9f013-7a48-440c-9634-758fb24e3126","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"fbf3b195-40ee-46f3-bc7f-a91d30fcb2b8","name":"apiKey","value":"={{ $('Webhook').item.json.headers[\"x-api-key\"] }}","type":"string"},{"id":"174a011a-bc82-4b0d-9000-da581b2c8e0d","name":"chatInput","value":"={{ $('Webhook').item.json.body.chatInput }}","type":"string"},{"id":"2d796eca-3e73-4135-9f5d-53a6e5c6ae27","name":"sessionId","value":"={{ $('Webhook').item.json.body.sessionId }}","type":"string"},{"id":"f95490d9-534d-4bb1-a699-2a9dcd2520c4","name":"currentDate","value":"={{ $json.currentDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-752,784],"id":"b160f788-b5b8-4f4a-9b77-c9fcf782145e","name":"Set Variables"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Set Variables').item.json.sessionId }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[48,592],"id":"a913d0a1-9e10-40cd-9e04-57bdb1bb3269","name":"Simple Memory"},{"parameters":{"options":{"timezone":"Asia/Kuala_lumpur"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-976,784],"id":"237e224d-2eab-4dea-9b60-fc215078402c","name":"Date & Time"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"63fce80f-569c-480d-b950-85358c92e9f3","leftValue":"={{ $('Validate API Key').item.json.keys().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-304,784],"id":"2c24c15d-891c-4aa6-ad4c-ab407a011fdc","name":"If"},{"parameters":{"workflowId":{"__rl":true,"value":"QXcjQgIZF4bqD5kF","mode":"list","cachedResultName":"Validate Chatbot API Key"},"workflowInputs":{"mappingMode":"defineBelow","value":{"apikey":"={{ $json.apiKey }}","currentDate":"={{ $json.currentDate }}"},"matchingColumns":[],"schema":[{"id":"apikey","displayName":"apikey","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"currentDate","displayName":"currentDate","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-528,784],"id":"6e95c4a3-53f0-4cc4-adda-ade2ee268762","name":"Validate API Key","alwaysOutputData":true},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false,\n  \"error\": \"API key invalid\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[144,976],"id":"c668284a-750f-43b8-a273-c8f6e1f35d46","name":"API Key Error","notesInFlow":false}],"connections":{"Postgres PGVector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Set Variables":{"main":[[{"node":"Validate API Key","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Date & Time":{"main":[[{"node":"Set Variables","type":"main","index":0}]]},"Validate API Key":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"API Key Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"50a5b5a6-c2ed-4b9f-9212-606c2b2dc876","triggerCount":1,"tags":[{"createdAt":"2025-06-19T05:40:26.659Z","updatedAt":"2025-06-19T05:40:26.659Z","id":"CiHXrcv73HXsVpCY","name":"Sales"},{"createdAt":"2025-06-19T01:47:17.649Z","updatedAt":"2025-06-19T01:47:17.649Z","id":"ppfxkPZAqns7ciey","name":"Ocunapse"}]}