Ocunapse-Public-Beta-Web-Bot.json
{"createdAt":"2025-08-20T09:39:14.313Z","updatedAt":"2025-08-20T10:04:53.000Z","id":"KWjPxQTKjMxKlscl","name":"Ocunapse Public Beta Web Bot","active":false,"isArchived":false,"nodes":[{"parameters":{"public":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-208,80],"id":"b218ccc6-bc10-49e9-a83c-3ad609fa24a1","name":"When chat message received","webhookId":"82164c26-198f-498e-94ec-521ed4b9fb40"},{"parameters":{"options":{"systemMessage":"You are a helpful Gen-Alpha, female assistant called Bethan, giving information about Ocunapse with the goal of creating a qualified sales lead.  Use the tools to get information about Ocunapse.\n\nSend images when appropriate.\n\nDuring the chat try to gain information about the user to qualify them as a sales lead.  The information should include:\n - Their first name.\n - Their company name.\n - Their contact information such as email or phone number.\n - Their job title or role (optional).\n - Specific area of interest.\n - Timeline.\n - Budget.\nKeep the chat going until you have all the questions non-optional answered. \n\nOnce you have all the required answers use the tool to send an email.\n\nBe very conversational and informal in your approach.  Ask them questions when appropriate to get information. \n\nBe brief with you responses whenever possible.\n\nDon't answer questions that do not concern Ocunapse.\n\nSpeak as if you are a sales person.","maxIterations":10,"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[368,80],"id":"5658669a-052a-4342-b648-ef5bb7c18d6a","name":"AI Agent"},{"parameters":{"mode":"retrieve-as-tool","toolName":"vectordb","toolDescription":"Work with ocunapse data from a pgvector db","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.1,"position":[480,304],"id":"072fcf54-132c-4df6-8540-4f94919ba30c","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"P3RFSa3bOoBOMjdF","name":"Ocunapse RAG"}}},{"parameters":{"modelName":"models/embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[576,512],"id":"9d915e87-60a3-4dc2-8db2-da1b8eca6fcf","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"bIkZPsIBap8l9xrb","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[352,304],"id":"38f941c2-4d3d-492d-9c76-1b7a1b37f0fa","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"RMFn61gQcS5sa2j6","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[224,304],"id":"8594e4fa-8aa6-4966-90ca-8ea89b0c4557","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"kjsLLud72Mv0JDPq","name":"DeepSeek account"}}},{"parameters":{"httpMethod":"POST","path":"921b1b33-1ebe-4f36-bef8-b965b8760622","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-208,288],"id":"cb322042-bd6c-4b33-823a-f8642e730e97","name":"Webhook","webhookId":"921b1b33-1ebe-4f36-bef8-b965b8760622"}],"connections":{"When chat message received":{"main":[[]]},"Postgres PGVector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[]]},"Webhook":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b5ddb570-decb-4b7b-96f6-8d8f32cb2315","triggerCount":1,"tags":[{"createdAt":"2025-06-19T05:40:26.659Z","updatedAt":"2025-06-19T05:40:26.659Z","id":"CiHXrcv73HXsVpCY","name":"Sales"},{"createdAt":"2025-06-19T01:47:17.649Z","updatedAt":"2025-06-19T01:47:17.649Z","id":"ppfxkPZAqns7ciey","name":"Ocunapse"}]}