Ocunapse-Public-Chatbot-Check-API-Key.json
{"createdAt":"2025-08-21T06:45:57.170Z","updatedAt":"2025-08-22T02:19:20.000Z","id":"fN1ODRcuiTZh3hD3","name":"Ocunapse Public Chatbot Check API Key","active":false,"isArchived":true,"nodes":[{"parameters":{"path":"chatbot/apikey","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-368,-32],"id":"e0ff7d44-8207-41f9-a396-83e3e2c8b231","name":"Webhook","webhookId":"a53622ba-0566-4e5b-ae78-4b1d6f1410de"},{"parameters":{"options":{"timezone":"Asia/Kuala_Lumpur"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-160,-32],"id":"848967b6-fe85-469f-a2c2-ac1a0a036b5e","name":"Date & Time"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": {{ $json.hasField('id') }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[256,-32],"id":"63a941d6-5565-4247-8015-1235ab575ea2","name":"Respond to Webhook"},{"parameters":{"workflowId":{"__rl":true,"value":"QXcjQgIZF4bqD5kF","mode":"list","cachedResultName":"Ocunapse Public Chatbot Validate API Key v1"},"workflowInputs":{"mappingMode":"defineBelow","value":{"currentDate":"={{ $json.currentDate }}","apikey":"={{ $('Webhook').item.json.headers[\"x-api-key\"] }}"},"matchingColumns":[],"schema":[{"id":"apikey","displayName":"apikey","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"currentDate","displayName":"currentDate","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[48,-32],"id":"fbc3c9a8-d6aa-4061-9853-19d19a1c74d7","name":"Validate API Key","alwaysOutputData":true}],"connections":{"Webhook":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Validate API Key","type":"main","index":0}]]},"Validate API Key":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"32d47b80-7574-456e-98ff-71175a02db84","triggerCount":1,"tags":[{"createdAt":"2025-08-21T06:19:53.755Z","updatedAt":"2025-08-21T06:19:53.755Z","id":"6cigMpvd9USGIjgY","name":"Chatbot"},{"createdAt":"2025-06-19T05:40:26.659Z","updatedAt":"2025-06-19T05:40:26.659Z","id":"CiHXrcv73HXsVpCY","name":"Sales"},{"createdAt":"2025-06-19T01:47:17.649Z","updatedAt":"2025-06-19T01:47:17.649Z","id":"ppfxkPZAqns7ciey","name":"Ocunapse"}]}