Ocunapse-Web-Bot.json
{"createdAt":"2025-06-19T08:18:24.387Z","updatedAt":"2025-07-31T03:55:58.000Z","id":"LP6fvqF8FhtnQCQM","name":"Ocunapse Web Bot","active":true,"isArchived":false,"nodes":[{"parameters":{"public":true,"initialMessages":"Hi there! 👋\nMy name is Bethan from Ocunapse. How can I assist you today?","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[64,80],"id":"9e48ca87-6d85-4d94-8896-b1013648f677","name":"When chat message received","webhookId":"1f9bdd6d-3200-4b7b-bdb1-1413b7051174"},{"parameters":{"options":{"systemMessage":"You are a helpful Gen-Alpha, female assistant called Bethan, giving information about Ocunapse with the goal of creating a qualified sales lead.  Use the tools to get information about Ocunapse.\n\nDuring the chat try to gain information about the user to qualify them as a sales lead.  The information should include:\n - Their first name.\n - Their company name.\n - Their contact information such as email or phone number.\n - Their job title or role (optional).\n - Specific area of interest.\n - Timeline.\n - Budget.\nKeep the chat going until you have all the questions non-optional answered. \n\nOnce you have all the required answers use the tool to send an email.\n\nBe very conversational and informal in your approach.  Ask them questions when appropriate to get information. \n\nBe brief with you responses whenever possible.\n\nDon't answer questions that do not concern Ocunapse.\n\nSpeak as if you are a sales person.","maxIterations":10,"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[432,80],"id":"3918eee8-449a-47f4-8694-a66b559efaaf","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-04-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[0,432],"id":"46593772-f5d4-4813-8186-d4cd66e7a53f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"06fjQHyU4iIkhwT3","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"vectordb","toolDescription":"Work with ocunapse data from a pgvector db","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.1,"position":[528,304],"id":"a9a2506d-78c7-4997-b4dd-cc7741223787","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"P3RFSa3bOoBOMjdF","name":"Ocunapse RAG"}}},{"parameters":{"modelName":"models/embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[624,512],"id":"2b461648-c17e-4d18-8c7b-5543139015a8","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"06fjQHyU4iIkhwT3","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[400,304],"id":"c5b46c58-01f6-4022-9e69-844324ae5b56","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"P3RFSa3bOoBOMjdF","name":"Ocunapse RAG"}}},{"parameters":{"description":"Call this tool when you have collected all of the answers to the qualifying questions.  The query data must be an object containing the following structure:\n{name: string, company: string, contact: string, budget: string, interest: string, role: string, timeline: string}\nYou can fill out the data using the qualifying data you have collected.","workflowId":{"__rl":true,"value":"Af1reQDatoOTfwV3","mode":"list","cachedResultName":"Send Sales Lead Email"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"},"matchingColumns":["query"],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[832,304],"id":"8ae912a6-c2e6-4c9f-b6eb-226aae936820","name":"Call n8n Workflow Tool","notesInFlow":true,"notes":"Send Email"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[256,304],"id":"86f2beaf-9871-4b9a-b5d9-3a5fa089a848","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"kjsLLud72Mv0JDPq","name":"DeepSeek account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[]]},"Postgres PGVector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"df614412-a25e-4b11-bc5f-3c4f55d6358b","triggerCount":1,"tags":[{"createdAt":"2025-06-19T05:40:26.659Z","updatedAt":"2025-06-19T05:40:26.659Z","id":"CiHXrcv73HXsVpCY","name":"Sales"},{"createdAt":"2025-06-19T01:47:17.649Z","updatedAt":"2025-06-19T01:47:17.649Z","id":"ppfxkPZAqns7ciey","name":"Ocunapse"}]}