Ocunapse-Public-Beta-Chatbot-copy.json
{"createdAt":"2025-08-21T09:24:17.273Z","updatedAt":"2025-08-21T09:45:45.000Z","id":"rOYTDP7t8ij7IDfQ","name":"Ocunapse Public Beta Chatbot copy","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('Set Variables').item.json.chatInput }}","options":{"systemMessage":"=You are a helpful assistant, giving information about {{ $json.company }}. \n\nUse the tools to get information about {{ $json.company }}.\n\nSend images when appropriate.\n\nBe very conversational and informal in your approach. \n\nAsk them questions when appropriate to get information. \n\nBe brief with your responses whenever possible.\n\nDon't answer questions that do not concern {{ $json.company }}.\n\nAdditional instructions\n{{ $json.systemPrompt }}\n\n","maxIterations":100,"returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[64,432],"id":"255ec117-9ec8-4131-8eb0-75e28ed8a3bb","name":"AI Agent"},{"parameters":{"modelName":"models/embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[432,864],"id":"ac49364e-6449-4006-b9ae-be8414b5b528","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"bIkZPsIBap8l9xrb","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-80,656],"id":"146c69bc-7d91-4dd1-877b-8e598eff956d","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"kjsLLud72Mv0JDPq","name":"DeepSeek account"}}},{"parameters":{"httpMethod":"POST","path":"chatbot","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1280,688],"id":"980cd6df-7b8c-41ae-9dde-c9e0a2d2f6ff","name":"Webhook","webhookId":"2c3f710f-000d-4cbd-966a-314cc8bdeb27"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[784,432],"id":"956ab94e-c31c-4338-a687-5ec868338939","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"fbf3b195-40ee-46f3-bc7f-a91d30fcb2b8","name":"apiKey","value":"={{ $('Webhook').item.json.headers[\"x-api-key\"] }}","type":"string"},{"id":"174a011a-bc82-4b0d-9000-da581b2c8e0d","name":"chatInput","value":"={{ $('Webhook').item.json.body.chatInput }}","type":"string"},{"id":"2d796eca-3e73-4135-9f5d-53a6e5c6ae27","name":"sessionId","value":"={{ $('Webhook').item.json.body.sessionId }}","type":"string"},{"id":"f95490d9-534d-4bb1-a699-2a9dcd2520c4","name":"currentDate","value":"={{ $json.currentDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-832,688],"id":"8930274f-1969-49d4-9df4-444c33ae69e6","name":"Set Variables"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Set Variables').item.json.sessionId }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[48,656],"id":"9ff8ebf3-9082-475e-af2b-0cb39e795e95","name":"Simple Memory"},{"parameters":{"options":{"timezone":"Asia/Kuala_lumpur"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1056,688],"id":"5b052137-e001-47fb-b00c-5fea39c7f500","name":"Date & Time"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"63fce80f-569c-480d-b950-85358c92e9f3","leftValue":"={{ $('Validate API Key').item.json.keys().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-384,688],"id":"c124dec0-bef4-4bd9-afd7-d06c72ae3fb4","name":"If"},{"parameters":{"workflowId":{"__rl":true,"value":"QXcjQgIZF4bqD5kF","mode":"list","cachedResultName":"Validate Chatbot API Key"},"workflowInputs":{"mappingMode":"defineBelow","value":{"apikey":"={{ $json.apiKey }}","currentDate":"={{ $json.currentDate }}"},"matchingColumns":[],"schema":[{"id":"apikey","displayName":"apikey","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"currentDate","displayName":"currentDate","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-608,688],"id":"e8135ec7-b2c3-49aa-9126-9d83357e929a","name":"Validate API Key","alwaysOutputData":true},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false,\n  \"error\": \"API key invalid\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-80,944],"id":"d7066ee7-b063-4749-94c5-0d40682c2f43","name":"API Key Error","notesInFlow":false},{"parameters":{"mode":"retrieve-as-tool","toolName":"vectordb","toolDescription":"Work with ocunapse data from a pgvector db","tableName":"={{ $('Validate API Key').item.json.company.toLowerCase() }}_embeddings","topK":5,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.1,"position":[176,656],"id":"9f474208-f685-4b80-bbf6-b9a13084b29a","name":"Document PGVector Store","credentials":{"postgres":{"id":"9dKcwCZhB9ThJi1c","name":"RAG"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Get product information","tableName":"={{ $('Validate API Key').item.json.company.toLowerCase() }}_product_embeddings","topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[496,656],"id":"d80d5504-626b-497e-85b0-6814b57e1389","name":"Product PGVector Store","credentials":{"postgres":{"id":"9dKcwCZhB9ThJi1c","name":"RAG"}}}],"connections":{"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Document PGVector Store","type":"ai_embedding","index":0},{"node":"Product PGVector Store","type":"ai_embedding","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Set Variables":{"main":[[{"node":"Validate API Key","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Date & Time":{"main":[[{"node":"Set Variables","type":"main","index":0}]]},"Validate API Key":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"API Key Error","type":"main","index":0}]]},"Document PGVector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Product PGVector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6b6850b2-362d-4a84-a08a-1054d75d5a7a","triggerCount":1,"tags":[{"createdAt":"2025-08-21T06:19:53.755Z","updatedAt":"2025-08-21T06:19:53.755Z","id":"6cigMpvd9USGIjgY","name":"Chatbot"},{"createdAt":"2025-06-19T05:40:26.659Z","updatedAt":"2025-06-19T05:40:26.659Z","id":"CiHXrcv73HXsVpCY","name":"Sales"},{"createdAt":"2025-06-19T01:47:17.649Z","updatedAt":"2025-06-19T01:47:17.649Z","id":"ppfxkPZAqns7ciey","name":"Ocunapse"}]}