Ocunapse-Public-Chatbot-Validate-API-Key-v1.json
{"createdAt":"2025-08-21T02:34:56.424Z","updatedAt":"2025-08-22T01:34:36.000Z","id":"QXcjQgIZF4bqD5kF","name":"Ocunapse Public Chatbot Validate API Key v1","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"apikey"},{"name":"currentDate"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-384,-48],"id":"4272148c-8300-4834-a4be-aaf4f9723354","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"aa2cdbd2-8482-4795-a734-88ea79f2718b","leftValue":"={{ $json.keys().length }}","rightValue":"=0","operator":{"type":"number","operation":"gte"}},{"id":"cd85d919-310e-48de-a136-ff275a12d80c","leftValue":"={{ new Date($('Search for API Key').item.json.expiresAt).getTime() }}","rightValue":"={{ new Date($('When Executed by Another Workflow').item.json.currentDate).getTime() }}","operator":{"type":"number","operation":"gte"}},{"id":"1ea40ee4-eb2f-463d-83d7-00b700eed198","leftValue":"=","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[64,-48],"id":"f0567725-82e9-4a01-80e7-55d7ff16d0e5","name":"If apiKey is valid"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"ApiKey","mode":"list","cachedResultName":"ApiKey"},"returnAll":true,"where":{"values":[{"column":"key","value":"={{ $json.apikey }}"}]},"options":{"outputColumns":["userId","expiresAt"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-160,-48],"id":"80cb2d78-e7c8-4e31-9ece-0429896b7554","name":"Search for API Key","alwaysOutputData":true,"credentials":{"postgres":{"id":"9dKcwCZhB9ThJi1c","name":"RAG"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"=User","mode":"name"},"limit":1,"where":{"values":[{"column":"id","value":"={{ $('Search for API Key').item.json.userId }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[288,-144],"id":"315debcb-b2ab-44bd-9aa4-2aac277a3acb","name":"Get User Data","credentials":{"postgres":{"id":"9dKcwCZhB9ThJi1c","name":"RAG"}}}],"connections":{"If apiKey is valid":{"main":[[{"node":"Get User Data","type":"main","index":0}],[]]},"Search for API Key":{"main":[[{"node":"If apiKey is valid","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Search for API Key","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a7d364e9-b852-497b-901e-5cc33a1d21be","triggerCount":0,"shared":[{"createdAt":"2025-08-21T02:34:56.426Z","updatedAt":"2025-08-21T02:34:56.426Z","role":"workflow:owner","workflowId":"QXcjQgIZF4bqD5kF","projectId":"FvxAVPRgShLcnSOU"}],"tags":[{"createdAt":"2025-08-21T06:20:58.746Z","updatedAt":"2025-08-21T06:20:58.746Z","id":"1Ek2yAFI6119fmvt","name":"Sub"},{"createdAt":"2025-08-21T06:19:53.755Z","updatedAt":"2025-08-21T06:19:53.755Z","id":"6cigMpvd9USGIjgY","name":"Chatbot"}]}