Sales-Create.json
{"createdAt":"2025-06-16T06:36:55.741Z","updatedAt":"2025-06-17T09:28:51.000Z","id":"e7wwdCsLkRJpjNJV","name":"Sales-Create","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.1,"position":[36,60],"id":"abd2633e-6234-457f-a068-43393afa0d74","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"cWB9yBXZ7zwmIPh4","name":"Postgres account"}}},{"parameters":{"modelName":"models/embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[20,280],"id":"9f43ae02-68b0-4990-ba9b-c39562d41f60","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"RJirYLaveIvGc0IJ","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[140,282.5],"id":"579278d9-9821-4c98-908a-c277e913eb85","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[228,480],"id":"627cb5a3-6179-4541-86a8-24260db53cbf","name":"Recursive Character Text Splitter"},{"parameters":{"triggerOn":"folder","path":"/home/node/ocustore","events":["add","change"],"options":{"awaitWriteFinish":true,"followSymlinks":false,"usePolling":true}},"type":"n8n-nodes-base.localFileTrigger","typeVersion":1,"position":[-420,60],"id":"fe89f050-24d6-4820-a30c-5f9b63e5f0d7","name":"Local File Trigger"},{"parameters":{"fileSelector":"={{ $json.path }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-200,60],"id":"cb9e0cde-737f-4d32-8851-14fa4cd5ed5a","name":"Read/Write Files from Disk"}],"connections":{"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Local File Trigger":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fe47541c-a7b7-43c9-81ce-1e0c45766f80","triggerCount":0,"tags":[{"createdAt":"2025-06-17T05:58:07.364Z","updatedAt":"2025-06-17T05:58:07.364Z","id":"QjZU7Ynm3lOOnsYk","name":"Sales"}]}