Send-Sales-Lead-Email.json
{"createdAt":"2025-06-19T08:17:00.514Z","updatedAt":"2025-06-24T10:07:02.000Z","id":"Af1reQDatoOTfwV3","name":"Send Sales Lead Email","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"query","type":"object"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-680,-20],"id":"e2edd6fc-8e36-438a-8298-82942e8b2612","name":"When Executed by Another Workflow"},{"parameters":{"fromEmail":"Ocunapse Sales Lead<paul@ocunapse.com>","toEmail":"ian.john@ocunapse.com","subject":"Sales lead from the web","emailFormat":"both","text":"=Hi there, \n\nWe have a new sales enquiry.\n\nName: {{ $('Merge').item.json.query.name }}\nCompany: {{ $('Merge').item.json.query.company }}\nRole: {{ $('Merge').item.json.query.role ?? 'n/a' }}\nArea of interest: {{ $('Merge').item.json.query.interest }}\nTimeline: {{ $('Merge').item.json.query.timeline ?? 'n/a'}}\nBudget {{ $('Merge').item.json.query.budget ?? 'n/a' }}\n\nYou can connect with {{ $('Merge').item.json.query.name }} at {{ $('Merge').item.json.query.contact }}\n\nRegards,\nYour friendly AI\n\n\n{{ $json.text }}","html":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>New Sales Enquiry</title>\n    <!-- Google Font - Inter (Linked for broader compatibility, though some email clients may block it) -->\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap\" rel=\"stylesheet\">\n    <style type=\"text/css\">\n        /* Basic Reset & Font */\n        body {\n            margin: 0;\n            padding: 0;\n            font-family: 'Inter', sans-serif;\n            background-color: #f9fafb; /* bg-gray-50 */\n            -webkit-text-size-adjust: 100%;\n            -ms-text-size-adjust: 100%;\n            width: 100% !important;\n        }\n\n        /* Container & Alignment */\n        .container-wrapper {\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            min-height: 100vh; /* min-h-screen */\n            padding: 1rem; /* p-4 */\n            box-sizing: border-box; /* Ensure padding doesn't add to width */\n        }\n\n        .main-content-box {\n            background-color: #ffffff; /* bg-white */\n            border-radius: 0.5rem; /* rounded-lg */\n            box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); /* shadow-xl */\n            padding: 1.5rem; /* p-6 */\n            width: 100%; /* w-full */\n            max-width: 32rem; /* max-w-lg */\n            border: 1px solid #e5e7eb; /* border border-gray-200 */\n            box-sizing: border-box;\n        }\n\n        /* Header Section */\n        .header-section {\n            text-align: center; /* text-center */\n            margin-bottom: 1.5rem; /* mb-6 */\n        }\n\n        .header-title {\n            font-size: 1.875rem; /* text-3xl */\n            line-height: 2.25rem; /* leading-tight */\n            font-weight: 800; /* font-extrabold */\n            color: #111827; /* text-gray-900 */\n            margin: 0; /* Remove default margin */\n        }\n\n        .header-subtitle {\n            color: #4b5563; /* text-gray-600 */\n            margin-top: 0.5rem; /* mt-2 */\n            font-size: 1.125rem; /* text-lg */\n            line-height: 1.75rem;\n        }\n\n        .divider {\n            width: 6rem; /* w-24 */\n            height: 0.25rem; /* h-1 */\n            background-color: #6366f1; /* bg-indigo-500 */\n            margin-left: auto; /* mx-auto */\n            margin-right: auto;\n            margin-top: 1rem; /* mt-4 */\n            border-radius: 9999px; /* rounded-full */\n        }\n\n        /* Enquiry Details */\n        .enquiry-details {\n            margin-top: 1rem; /* space-y-4 */\n            color: #374151; /* text-gray-700 */\n            font-size: 1.125rem; /* text-lg */\n            line-height: 1.75rem;\n        }\n\n        .enquiry-item {\n            display: flex;\n            justify-content: space-between; /* justify-between */\n            align-items: center; /* items-center */\n            padding: 0.75rem; /* p-3 */\n            word-break: break-all; /* Ensure long values wrap */\n        }\n\n        .enquiry-item-alt {\n            background-color: #eef2ff; /* bg-indigo-50 (simplified from bg-opacity-70) */\n            border-radius: 0.375rem; /* rounded-md */\n        }\n\n        .enquiry-item-gray {\n            background-color: #f9fafb; /* bg-gray-50 */\n            border-radius: 0.375rem; /* rounded-md */\n        }\n\n        .enquiry-label {\n            font-weight: 500; /* font-medium */\n            color: #1f2937; /* text-gray-800 */\n            flex-shrink: 0; /* Prevent label from shrinking */\n            margin-right: 1rem; /* Add some space */\n        }\n\n        .enquiry-value {\n            color: #111827; /* text-gray-900 */\n            text-align: right; /* text-right */\n            word-break: break-word; /* Ensure values break */\n        }\n\n        .enquiry-value-highlight {\n            font-weight: 600; /* font-semibold */\n            color: #4338ca; /* text-indigo-700 */\n            text-align: right;\n            word-break: break-word;\n        }\n\n        /* Contact Information */\n        .contact-info-section {\n            margin-top: 2rem; /* mt-8 */\n            padding-top: 1.5rem; /* pt-6 */\n            border-top: 1px solid #e5e7eb; /* border-t border-gray-200 */\n            text-align: center; /* text-center */\n            font-size: 1.125rem; /* text-lg */\n            line-height: 1.75rem;\n        }\n\n        .contact-text {\n            color: #374151; /* text-gray-700 */\n            margin-bottom: 0.5rem; /* mb-2 */\n        }\n\n        .contact-name-highlight {\n            font-weight: 600; /* font-semibold */\n            color: #4338ca; /* text-indigo-700 */\n        }\n\n        .contact-link-box {\n            color: #4f46e5; /* text-indigo-600 */\n            font-weight: 700; /* font-bold */\n            font-size: 1.25rem; /* text-xl */\n            line-height: 1.75rem;\n            margin: 0; /* Remove default margin */\n        }\n\n        .contact-link {\n            display: block; /* block */\n            color: inherit; /* Inherit color from parent */\n            text-decoration: none; /* Remove underline */\n        }\n\n        /* Footer */\n        .footer-section {\n            margin-top: 2rem; /* mt-8 */\n            text-align: center; /* text-center */\n            font-size: 0.875rem; /* text-sm */\n            line-height: 1.25rem;\n            color: #6b7280; /* text-gray-500 */\n        }\n\n        /* Responsive adjustments for smaller screens */\n        @media (min-width: 640px) { /* Equivalent to Tailwind's 'sm' breakpoint */\n            .container-wrapper {\n                padding: 1.5rem; /* sm:p-6 */\n            }\n            .main-content-box {\n                padding: 2rem; /* sm:p-8 */\n            }\n            .header-section {\n                margin-bottom: 2rem; /* sm:mb-8 */\n            }\n            .header-title {\n                font-size: 2.25rem; /* sm:text-4xl */\n                line-height: 2.5rem;\n            }\n        }\n\n        @media (min-width: 768px) { /* Equivalent to Tailwind's 'md' breakpoint */\n            .main-content-box {\n                padding: 2.5rem; /* md:p-10 */\n            }\n        }\n    </style>\n</head>\n<body class=\"container-wrapper\">\n    <div class=\"main-content-box\">\n        <!-- Header Section -->\n        <div class=\"header-section\">\n            <h1 class=\"header-title\">New Sales Enquiry</h1>\n            <p class=\"header-subtitle\">Important details about a new lead.</p>\n            <div class=\"divider\"></div>\n        </div>\n\n        <!-- Enquiry Details Section -->\n        <div class=\"enquiry-details\">\n            <p class=\"enquiry-item enquiry-item-alt\">\n                <span class=\"enquiry-label\">Name:</span>\n                <span class=\"enquiry-value-highlight\">{{ $('Merge').item.json.query.name }}</span>\n            </p>\n            <p class=\"enquiry-item\">\n                <span class=\"enquiry-label\">Company:</span>\n                <span class=\"enquiry-value\">{{ $('Merge').item.json.query.company }} </span>\n            </p>\n            <p class=\"enquiry-item enquiry-item-gray\">\n                <span class=\"enquiry-label\">Role:</span>\n                <span class=\"enquiry-value\">{{ $('Merge').item.json.query.role ?? 'n/a'}}</span>\n            </p>\n            <p class=\"enquiry-item\">\n                <span class=\"enquiry-label\">Area of interest:</span>\n                <span class=\"enquiry-value\">{{ $('Merge').item.json.query.interest }}</span>\n            </p>\n            <p class=\"enquiry-item enquiry-item-gray\">\n                <span class=\"enquiry-label\">Timeline:</span>\n                <span class=\"enquiry-value\">{{ $('Merge').item.json.query.timeline ?? 'n/a'}}</span>\n            </p>\n            <p class=\"enquiry-item\">\n                <span class=\"enquiry-label\">Budget:</span>\n                <span class=\"enquiry-value\">{{ $('Merge').item.json.query.budget }}</span>\n            </p>\n            <p>\n    <div style=\"margin-top:5rem; \">\n    <pre style=\"white-space: pre-wrap;\">{{ $json.text }}</pre>\n    </div>\n</p>\n        </div>\n\n        <!-- Contact Information -->\n        <div class=\"contact-info-section\">\n            <p class=\"contact-text\">\n                You can connect with <span class=\"contact-name-highlight\">{{ $('Merge').item.json.query.name }}</span> at:\n            </p>\n            <p class=\"contact-link-box\">\n                <a href=\"mailto:{{ $('Merge').item.json.query.contact }}\" class=\"contact-link\">{{ $('Merge').item.json.query.contact }}</a>\n            </p>\n        </div>\n\n        <!-- Footer / Signature -->\n        <div class=\"footer-section\">\n            <p>&mdash; Regards, Your friendly AI</p>\n        </div>\n    </div>\n</body>\n</html>\n","options":{"appendAttribution":false,"attachments":"","bccEmail":"paul@ocunapse.com","replyTo":"noreply@ocunapse.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[700,60],"id":"716d2c8e-8ef0-473a-bccd-36d944a22d85","name":"Send Email","webhookId":"15619cfe-4a16-48a7-b07a-3d61f7617c29","credentials":{"smtp":{"id":"wHlKolOz2g0kHzfl","name":"SMTP account"}}},{"parameters":{"promptType":"define","text":"=Using the JSON data from {{ JSON.stringify($json.query) }} draft an outgoing sales email to the client to let them know that we (Ocunapse Sdn Bhd) are processing their requirements and that a sales person (Ian) will be in touch with them very soon.","messages":{"messageValues":[{"message":"You are very good at writing business emails to prospects"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[320,60],"id":"3e974f5b-c326-4301-aed7-1f0e5290ef75","name":"Basic LLM Chain"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{"temperature":0.3,"topK":32,"topP":1}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[400,280],"id":"a3be561e-7bec-4839-aba5-2d9bdb4b54f9","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"06fjQHyU4iIkhwT3","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-680,180],"id":"054b3e76-7182-4054-99fe-689512263e97","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"2cc9bee1-34e6-4626-a539-dca4dfbdca90","name":"query","value":"={name: \"Paul\", company: \"Dragonsoft Communications\", contact: \"paul@dragonsoftcommunications.com\", budget: \"12k\", interest: \"AI Agent for incoming sales calls\", role: \"CTO\", timeline: \"6 months\"}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,155],"id":"1cb2564d-b684-454d-8796-cfbf10ffc169","name":"Edit Fields"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-60,60],"id":"4c733c5b-1897-4967-88ff-fe700d8e9bc5","name":"Merge","alwaysOutputData":true}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a00255b3-c023-4d80-b145-4348c2c57124","triggerCount":0,"shared":[{"createdAt":"2025-06-19T08:17:00.516Z","updatedAt":"2025-06-19T08:17:00.516Z","role":"workflow:owner","workflowId":"Af1reQDatoOTfwV3","projectId":"FvxAVPRgShLcnSOU"}],"tags":[{"createdAt":"2025-06-19T05:40:26.659Z","updatedAt":"2025-06-19T05:40:26.659Z","id":"CiHXrcv73HXsVpCY","name":"Sales"},{"createdAt":"2025-06-19T01:47:17.649Z","updatedAt":"2025-06-19T01:47:17.649Z","id":"ppfxkPZAqns7ciey","name":"Ocunapse"}]}