Speech-to-Text.json
{"createdAt":"2025-06-18T06:31:25.184Z","updatedAt":"2025-06-18T06:47:42.000Z","id":"Itcqpkj28bQWwiIW","name":"Speech to Text","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"speech","operation":"speechToText","additionalOptions":{},"requestOptions":{}},"type":"@elevenlabs/n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[40,-20],"id":"5d646b08-7f6e-4ff4-bdf6-bbfc6a18c59c","name":"ElevenLabs","credentials":{"elevenLabsApi":{"id":"xdnGr15PQqCHC0pq","name":"ElevenLabs account"}}},{"parameters":{"promptType":"define","text":"={{ $('ElevenLabs').item.json.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[480,-20],"id":"cc8145cc-d6fd-40b3-b504-ad4b48c07db8","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[508,200],"id":"eb50616c-26bd-4cbf-b5a8-ff11b9b09eda","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"XMFyK7O3xwvybxaX","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[628,200],"id":"55d63789-bb27-4d61-ad4f-f6d28077c0c3","name":"Simple Memory"},{"parameters":{"triggerOn":"folder","path":"/home/node/paul","events":["add"],"options":{}},"type":"n8n-nodes-base.localFileTrigger","typeVersion":1,"position":[-400,-20],"id":"56d0524f-dc6f-4fa4-8cad-a7b4e00510c9","name":"Local File Trigger"},{"parameters":{"fileSelector":"={{ $json.path }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-180,-20],"id":"64a20c09-6f91-4364-ab0a-57d3ba1abb19","name":"Read/Write Files from Disk"},{"parameters":{"assignments":{"assignments":[{"id":"294485ed-6237-4ba7-a6d1-4c4a4204e0ec","name":"sessionId","value":"={{ $now }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[260,-20],"id":"fce09717-068f-4628-b7fc-2add6dc9f8e3","name":"Edit Fields"}],"connections":{"ElevenLabs":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Local File Trigger":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"ElevenLabs","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b9c903db-6d38-4c7a-ac1b-572c358f8cca","triggerCount":0,"tags":[]}