Vital-Strategies-POC.json
{"updatedAt":"2025-11-07T02:30:58.000Z","createdAt":"2025-07-02T03:36:40.543Z","id":"CmEtU09WM4rSONO8","name":"Vital Strategies POC","active":false,"isArchived":false,"nodes":[{"parameters":{"triggerOn":"folder","path":"shared/vs","events":["add","change"],"options":{"awaitWriteFinish":true,"usePolling":true}},"type":"n8n-nodes-base.localFileTrigger","typeVersion":1,"position":[0,0],"id":"100467b6-ab89-41bc-8f04-92c10f5115a0","name":"Local File Trigger"},{"parameters":{"operation":"pdf","options":{"joinPages":true}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[448,0],"id":"c8152bf0-55b1-4b3b-ae77-644589cf4bed","name":"Extract from File","alwaysOutputData":true,"retryOnFail":true,"maxTries":5},{"parameters":{"fileSelector":"={{ $json.path }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[208,0],"id":"b729da8e-2acc-47d8-8fb1-07cd3795d8a2","name":"Read/Write Files from Disk","retryOnFail":true,"alwaysOutputData":false,"maxTries":5},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are able to extract specific information from a Malay language input.  The information is\n- lokasi kejadian (as an array)\n- kenderaan terlibat\n- tarikh dan waktu report"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[688,0],"id":"59ace864-2f6c-47bc-a53b-626e1b4aa39e","name":"Basic LLM Chain"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[672,224],"id":"d4a72bde-9c13-4d91-86c4-c699e76b067a","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"bIkZPsIBap8l9xrb","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"jsonSchemaExample":"{\n    \"nombor report\": \"12345/21\",\n    \"jenis jalan\": \"road\",\n    \"jenis permukaan\":\"surface\",\n    \"qualiti permukaan\": \"unknown\",\n    \"klasifikasi kes\":\"SEK 99(0) APJ 1990\",\n  \"sistem lalulintas\":\"sehala\",\n\t\"kenderaan\": [{\n      \"Label\": \"K1\",\n      \"No. Pend\":\"VPA6479\",\n      \"jenis\":\"Ford Ranger\",\n      \"warna\":\"biru\",\n      \"LKM\": \"2025-7-1\"\n    }],\n    \"butiran individu terlibat\": [\n      {\n        \"kendaraan\":\"K1\",\n        \"umur\":\"28\",\n        \"jantina\":\"unknown\",\n        \"keturunan\":\"Melayu\",\n        \"lesen\":\"B/D 2023-5-1\",\n        \"pekerjaan\":\"Plowman\",\n        \"kecederaan\":\"Mati\",\n        \"sebab mati\":\"hammer\"\n      }\n    ],\n    \"lokasi\": \"Los Angeles\",\n    \"tarikh report\":\"2025-7-1\",\n    \"waktu report\":\"2359hrs\",\n    \"keterangan kes\":\"report\",\n    \"tarikh kejadian\":\"2025-7-1\",\n    \"waktu kejadian\": \"2359hrs\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[784,224],"id":"bc07d617-7e12-4997-8b1f-1167b3470ddb","name":"Structured Output Parser"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[880,432],"id":"e2c0b78a-ff11-4ab7-9c72-3d5b6f959dd1","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"bIkZPsIBap8l9xrb","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1168,0],"id":"e9e9abc0-bde0-4ba0-84e9-75f359f789cb","name":"Convert to File"},{"parameters":{"operation":"write","fileName":"=userdata/vs/report-{{ $('Basic LLM Chain').item.json.output['nombor report'].replace(/\\//g,'-') }}.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1376,0],"id":"1c074e3a-95ba-43eb-8580-36ad32e97e5a","name":"Read/Write Files from Disk1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"=","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"a078e3eb-d679-433a-b4e3-688aeef38a98"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[336,416],"id":"008fc47f-effb-46d4-8ce3-0ea7268fdeaa","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,288],"id":"f03ddc03-e06e-4b8c-b4c1-87f0af257c46","name":"When clicking ‘Execute workflow’"}],"connections":{"Local File Trigger":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Extract from File","type":"main","index":0},{"node":"Switch","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Convert to File":{"main":[[{"node":"Read/Write Files from Disk1","type":"main","index":0}]]},"Read/Write Files from Disk1":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract from File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b088a1ec-f22d-43bf-aaa6-13671df1f116","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-07-02T03:36:40.565Z","createdAt":"2025-07-02T03:36:40.565Z","role":"workflow:owner","workflowId":"CmEtU09WM4rSONO8","projectId":"FvxAVPRgShLcnSOU"}],"activeVersion":null,"tags":[{"updatedAt":"2025-07-02T03:36:50.683Z","createdAt":"2025-07-02T03:36:50.683Z","id":"5vXUFxS7I0hK43by","name":"Client"},{"updatedAt":"2025-07-02T03:36:53.301Z","createdAt":"2025-07-02T03:36:53.301Z","id":"6OPyJ4iCMzmwbV8t","name":"POC"}]}