Vital-Strategies-Production.json
{"updatedAt":"2025-12-23T04:14:27.000Z","createdAt":"2025-11-21T02:53:47.879Z","id":"ST9lgRWk9mjro8Ok","name":"Vital Strategies Production","active":true,"isArchived":false,"nodes":[{"parameters":{"jsonSchemaExample":"{\n    \"nombor report\": \"12345/21\",\n    \"jenis jalan\": \"road\",\n    \"jenis permukaan\":\"surface\",\n    \"qualiti permukaan\": \"unknown\",\n    \"klasifikasi kes\":\"SEK 99(0) APJ 1990\",\n  \"sistem lalulintas\":\"sehala\",\n\t\"kenderaan\": [{\n      \"Label\": \"K1\",\n      \"No. Pend\":\"VPA6479\",\n      \"jenis kenderaan\": \"M.kar\",\n      \"jenis\":\"Ford Ranger\",\n      \"warna\":\"biru\",\n      \"LKM\": \"2025-7-1\"\n    }],\n    \"butiran individu terlibat\": [\n      {\n        \"kendaraan\":\"K1\",\n        \"umur\":\"28\",\n        \"jantina\":\"unknown\",\n        \"keturunan\":\"Melayu\",\n        \"lesen\":\"B/D 2023-5-1\",\n        \"pekerjaan\":\"Plowman\",\n        \"kecederaan\":\"Mati\",\n        \"sebab mati\":\"hammer\",\n        \"Kerosakan\": \"Kerosakan pada bahagian belakang bumper, bonnet belakang\"\n      }\n    ],\n    \"lokasi\": \"Jalan Kuching dari arah Bulatan men ghala ke Bulatan Batu Caves\",\n    \"tarikh report\":\"2025-7-1\",\n    \"waktu report\":\"2359hrs\",\n    \"keterangan kes\":\"report\",\n    \"tarikh kejadian\":\"2025-7-1\",\n    \"waktu kejadian\": \"2359hrs\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[0,176],"id":"3925f14b-23ea-4739-886e-7953da765ada","name":"Structured Output Parser"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[80,384],"id":"b1311143-2fd0-4da3-8965-38407a4d465b","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"bIkZPsIBap8l9xrb","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').first().binary.file.fileType }}","rightValue":"pdf","operator":{"type":"string","operation":"equals"},"id":"a078e3eb-d679-433a-b4e3-688aeef38a98"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3d275e3-5d2f-49ba-a554-6deb5d531318","leftValue":"={{ $('Webhook').first().binary.file.fileType }}","rightValue":"xlsx","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7835cab-81e8-4ece-9a43-66e41a69f415","leftValue":"={{ $('Webhook').first().binary.file.fileExtension }}","rightValue":"pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aad1d612-52a5-4f6a-959a-cc99d3e79d93","leftValue":"={{ $('Webhook').first().binary.file.fileExtension }}","rightValue":"xlsx","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26986bce-213c-4d91-95f9-79ab17e69292","leftValue":"={{ $('Webhook').first().binary.file.fileExtension }}","rightValue":"docx","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aad98068-9a57-4e83-b244-120f4514d24d","leftValue":"={{ $('Webhook').first().binary.file.fileType }}","rightValue":"docx","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-944,992],"id":"ac6443ab-adf5-4830-89d4-058e272c7bb0","name":"Switch"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-128,176],"id":"939b923a-b387-414c-a83e-a38b37469ebe","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"kjsLLud72Mv0JDPq","name":"DeepSeek account"}}},{"parameters":{"operation":"pdf","binaryPropertyName":"={{ $('Switch').item.binary.file }}","options":{"joinPages":true}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-400,272],"id":"e15afefc-e9d5-4610-a1dc-b76dd440a637","name":"Extract from PDF","alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"operation":"xlsx","binaryPropertyName":"file","options":{"headerRow":false,"includeEmptyCells":false,"range":"A1:Z1000"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-400,1040],"id":"df497645-c349-41d6-ac8b-011ae9509ec6","name":"Extract from Excel","alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"httpMethod":"POST","path":"crp","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1168,1136],"id":"18c7e000-bb6e-46aa-ab32-d48a2ef302d2","name":"Webhook","webhookId":"d3b2f603-eb73-4351-b411-0cba0f3f89b2","onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"source\": \"pdf\",\n  \"report\": {{ JSON.stringify($('Process PDF Document').item.json.output) }}\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1040,160],"id":"dfd80835-e300-4a59-bc6c-9d4ed8bd4b3f","name":"Respond to Webhook"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-944,1296],"id":"c632af1c-b06d-4658-ab66-51ae5f4551f9","name":"Respond to Webhook2"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[176,1184],"id":"0ce737f1-4adf-4e76-a487-6c85040a4ccd","name":"Respond to Webhook3"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[0,560],"id":"601df076-c429-4048-b140-c80f683aa689","name":"Respond to Webhook4"},{"parameters":{"jsonSchemaExample":"{\n    \"nombor report\": \"12345/21\",\n    \"jenis jalan\": \"road\",\n    \"jenis permukaan\":\"surface\",\n    \"qualiti permukaan\": \"unknown\",\n    \"klasifikasi kes\":\"SEK 99(0) APJ 1990\",\n  \"sistem lalulintas\":\"sehala\",\n\t\"kenderaan\": [{\n      \"Label\": \"K1\",\n      \"No. Pend\":\"VPA6479\",\n      \"jenis kenderaan\": \"M.kar\",\n      \"jenis\":\"Ford Ranger\",\n      \"warna\":\"biru\",\n      \"LKM\": \"2025-7-1\"\n    }],\n    \"butiran individu terlibat\": [\n      {\n        \"kendaraan\":\"K1\",\n        \"umur\":\"28\",\n        \"jantina\":\"unknown\",\n        \"keturunan\":\"Melayu\",\n        \"lesen\":\"B/D 2023-5-1\",\n        \"pekerjaan\":\"Plowman\",\n        \"kecederaan\":\"Mati\",\n        \"sebab mati\":\"hammer\",\n        \"Kerosakan\": \"Kerosakan pada bahagian belakang bumper, bonnet belakang\"\n      }\n    ],\n    \"lokasi\": \"Jalan Kuching dari arah Bulatan men ghala ke Bulatan Batu Caves\",\n    \"tarikh report\":\"2025-7-1\",\n    \"waktu report\":\"2359hrs\",\n    \"keterangan kes\":\"report\",\n    \"tarikh kejadian\":\"2025-7-1\",\n    \"waktu kejadian\": \"2359hrs\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[640,1104],"id":"3df6bfac-7a3b-4b7b-9db0-3a7efe9b44b5","name":"Structured Output Parser1"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[640,1312],"id":"b019473f-df80-4a33-a000-2a52e81a4609","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"bIkZPsIBap8l9xrb","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[528,1104],"id":"ce1efe6a-bb16-46bb-a287-ad9d659f3460","name":"DeepSeek Chat Model1","credentials":{"deepSeekApi":{"id":"kjsLLud72Mv0JDPq","name":"DeepSeek account"}}},{"parameters":{"jsCode":"    const inputData = $('Extract from Excel').all().slice(6);\n    const headers = inputData[0];\n    const dataRows = inputData.slice(1);\n\n    return [{ json: { headers: headers, dataRows: dataRows } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,864],"id":"dc57e4c2-9777-4b65-af32-3418cc6a5955","name":"Find the head","executeOnce":true,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// The most probable path to the arrays, using optional chaining (?.) for safety\nconst headers = $input.first()?.json?.headers?.json?.row;\nconst dataRowsI = $input.first()?.json?.dataRows;\nconst dataRows = dataRowsI.map(i => i.json.row);\n\nconsole.log(headers);\n\n// --- Guardrail Check ---\nif (!Array.isArray(headers)) {\n    // If this fails, the path to headers is wrong.\n    throw new Error('FATAL: Could not find headers array. Path or previous node output is incorrect.');\n}\nif (!Array.isArray(dataRows)) {\n    // If this fails, the path to dataRows is wrong.\n    throw new Error('FATAL: Could not find dataRows array. Path or previous node output is incorrect.');\n}\n\n// --- Data Transformation ---\nconst processedItems = dataRows.map(row => {\n    const item = {};\n\n    headers.forEach((header, index) => {\n        item[header] = row[index];\n    });\n\n    // Output the transformed item in the expected n8n format\n    return { json: item };\n});\n\nreturn processedItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,848],"id":"dbb47302-d3c9-439f-a724-c992f4f10336","name":"Format Objects","alwaysOutputData":true,"executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[336,832],"id":"562ce860-acda-4b85-bee2-3dc730c53092","name":"Loop Over Items"},{"parameters":{"content":"## PDF Processing\n","height":848,"width":1392,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-480,-128],"typeVersion":1,"id":"19bcc47e-4900-4d85-bc44-880daa1a6975","name":"Sticky Note"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"source\": \"excel\",\n  \"report\": {{ $('Loop Over Items').all().toJsonString() }}\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1056,816],"id":"f46ea499-60b8-4368-88e6-ecb768c13e8b","name":"Respond to Webhook1"},{"parameters":{"content":"## Excel Processing\n","height":832,"width":1392,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-480,736],"typeVersion":1,"id":"f928385e-db3d-4170-b648-31b0872c0203","name":"Sticky Note1"},{"parameters":{"content":"## Input Data Routing","height":2592,"width":816,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1312,-128],"typeVersion":1,"id":"9edfbd54-ebf8-4421-a19a-d0e4edb79a93","name":"Sticky Note3"},{"parameters":{"content":"## Output Results","height":2592,"width":368,"color":6},"type":"n8n-nodes-base.stickyNote","position":[928,-128],"typeVersion":1,"id":"8c7f164c-2c66-492f-a193-1417ff3d8b63","name":"Sticky Note2"},{"parameters":{"inputBinaryField":"file"},"type":"n8n-nodes-docx-converter.docxToText","typeVersion":1,"position":[-352,1744],"id":"a051451d-3fda-4857-8861-8006daff4b1f","name":"DOCX to Text"},{"parameters":{"jsCode":"const fullText = $input.first().json.text;\n\n// Regex to match greeting separators (with or without *, & or \"dan\")\nconst separatorRegex = /\\*?\\s*Assal+amualaikum.*?Salam\\s+Sejahtera\\s*\\*?/gi;\n\n// Split the document\nconst reports = fullText\n  .split(separatorRegex)\n  .map(r => r.trim())\n  .filter(r => r.length > 0);\n\n// Return each report as its own item\nreturn reports.map((report, index) => ({\n  json: {\n    reportNumber: index + 1,\n    reportText: report\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,1744],"id":"ae043d03-5913-477a-9f4e-afd9fb2bf2cc","name":"Code in JavaScript","onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[112,2128],"id":"0c2aeaf2-9226-4523-b156-bfd8010c8570","name":"Respond to Webhook5"},{"parameters":{"jsonSchemaExample":"{\n    \"nombor report\": \"12345/21\",\n    \"jenis jalan\": \"road\",\n    \"jenis permukaan\":\"surface\",\n    \"qualiti permukaan\": \"unknown\",\n    \"klasifikasi kes\":\"SEK 99(0) APJ 1990\",\n  \"sistem lalulintas\":\"sehala\",\n\t\"kenderaan\": [{\n      \"Label\": \"K1\",\n      \"No. Pend\":\"VPA6479\",\n      \"jenis kenderaan\": \"M.kar\",\n      \"jenis\":\"Ford Ranger\",\n      \"warna\":\"biru\",\n      \"LKM\": \"2025-7-1\"\n    }],\n    \"butiran individu terlibat\": [\n      {\n        \"kendaraan\":\"K1\",\n        \"umur\":\"28\",\n        \"jantina\":\"unknown\",\n        \"keturunan\":\"Melayu\",\n        \"lesen\":\"B/D 2023-5-1\",\n        \"pekerjaan\":\"Plowman\",\n        \"kecederaan\":\"Mati\",\n        \"sebab mati\":\"hammer\",\n        \"Kerosakan\": \"Kerosakan pada bahagian belakang bumper, bonnet belakang\"\n      }\n    ],\n    \"lokasi\": \"Jalan Kuching dari arah Bulatan men ghala ke Bulatan Batu Caves\",\n    \"tarikh report\":\"2025-7-1\",\n    \"waktu report\":\"2359hrs\",\n    \"keterangan kes\":\"report\",\n    \"tarikh kejadian\":\"2025-7-1\",\n    \"waktu kejadian\": \"2359hrs\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[624,2048],"id":"c5ce78a6-2a83-4d23-86e5-1f2496f7526b","name":"Structured Output Parser2"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[704,2256],"id":"0ab619f6-79af-4d3b-a5e4-f32286a16b6c","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"bIkZPsIBap8l9xrb","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"source\": \"word\",\n  \"report\": {{ $('Loop Over DOCX').all().toJsonString() }}\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1056,1952],"id":"41c5e24f-1b72-4483-afe7-da12ee38c4e3","name":"Respond to Webhook6"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[112,1728],"id":"33ed9bf1-ddf9-4b01-ba09-5cd1b182cff8","name":"Loop Over DOCX"},{"parameters":{"content":"## Word Processing\n","height":880,"width":1392,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-480,1584],"typeVersion":1,"id":"3c19660e-e3ca-4012-8f31-a404ecd25b39","name":"Sticky Note4"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[496,2048],"id":"033be9d9-8612-474f-87b5-b182f9867265","name":"DeepSeek Chat Model2","credentials":{"deepSeekApi":{"id":"kjsLLud72Mv0JDPq","name":"DeepSeek account"}}},{"parameters":{"promptType":"define","text":"={{ $('Loop Over Items').item.json }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are able to extract specific information from a Malay language input.  The information is|- lokasi kejadian (as an array)- kenderaan terlibat- tarikh dan waktu report."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[576,880],"id":"162dc474-1924-4325-841c-187ccea9e002","name":"Process Excel Document"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are able to extract specific information from a Malay language input.  The information is|- lokasi kejadian (as an array)- kenderaan terlibat- tarikh dan waktu report."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-96,-48],"id":"4acdb25a-bf79-438a-a040-534f4cb425a1","name":"Process PDF Document"},{"parameters":{"jsCode":"\nconst all = $input.all();\nconst filteredData = all.filter(obj => Object.keys(obj).length > 0);\nreturn filteredData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,832],"id":"b5cbd2cf-98e1-4678-99a9-113a7b4bef15","name":"Filter Empties"},{"parameters":{"promptType":"define","text":"={\n  \"success\": true,\n  \"source\": \"pdf\",\n  \"report\": {{ JSON.stringify($('Process PDF Document').item.json.output) }}\n}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are a language translator, translating Bahasa Malaysia to English"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1776,-64],"id":"e9f2d99f-1c6d-4061-92d4-56c5acfb8457","name":"Basic LLM Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[1712,144],"id":"0ba9bdc2-00f3-4465-8b23-bd80ee1f9b77","name":"DeepSeek Chat Model3","credentials":{"deepSeekApi":{"id":"kjsLLud72Mv0JDPq","name":"DeepSeek account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2128,-64],"id":"a6c08fd9-97b5-4ce4-9b37-d578e602f3a0","name":"Respond to Webhook7"},{"parameters":{"promptType":"define","text":"={\n  \"success\": true,\n  \"source\": \"word\",\n  \"report\": {{ JSON.stringify($('Loop Over DOCX').all()) }}\n}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are a language translator, translating Bahasa Malaysia to English.  You need to detect all Bahasa Malaysian words and ensure a thorough translation"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1824,1776],"id":"850c3634-e9d0-4e7a-a2d4-fb92c307273d","name":"Basic LLM Chain1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[1760,1984],"id":"9b7cef98-0727-4901-839d-439c0e7b3181","name":"DeepSeek Chat Model4","credentials":{"deepSeekApi":{"id":"kjsLLud72Mv0JDPq","name":"DeepSeek account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2176,1776],"id":"ce5d3438-a651-424b-ad15-497aa2407a69","name":"Respond to Webhook8"},{"parameters":{"promptType":"define","text":"={{ $json.reportText }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are able to extract specific information from a Malay language input.  The information is|- lokasi kejadian (as an array)- kenderaan terlibat- tarikh dan waktu report."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[528,1808],"id":"1fcafb6c-4e09-4e8b-bf45-df20d6ad67ba","name":"Process Word Document"},{"parameters":{"jsonSchemaExample":"{\n\t\"success\": true,\n\t\"source\": \"pdf\",\n\t\"report\": {\n\t\t\"report number\": \"TRAFFIC KUALA LUMPUR/009884/23\",\n\t\t\"road type\": \"3-LANE ONE-WAY\",\n\t\t\"surface type\": \"STRAIGHT\",\n\t\t\"surface condition\": \"DRY\",\n\t\t\"case classification\": \"S41(1) APJ1987\",\n\t\t\"traffic system\": \"ONE-WAY\",\n\t\t\"vehicles\": [\n\t\t\t{ \"Label\": \"K1\", \"Registration No.\": \"WPA8857\", \"vehicle type\": \"Motorcycle\", \"model\": \"YAMAHA 135LC\", \"color\": \"\", \"LKM\": \"\" }\n\t\t],\n\t\t\"details of individuals involved\": [\n\t\t\t{\n\t\t\t\t\"vehicle\": \"WPA8857\",\n\t\t\t\t\"age\": \"47\",\n\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\"license\": \"\",\n\t\t\t\t\"occupation\": \"\",\n\t\t\t\t\"injury\": \"Deceased\",\n\t\t\t\t\"cause of death\": \"Severe injuries due to accident\",\n\t\t\t\t\"Damage\": \"SCRATCHES ON FRONT HANDLEBAR\"\n\t\t\t}\n\t\t],\n\t\t\"location\": \"B JALAN BANGSAR, FROM NPE HIGHWAY TOWARDS JALAN TRAVER (NEAR BANGSAR LRT)\",\n\t\t\"report date\": \"30/01/2023\",\n\t\t\"report time\": \"11:24 HRS\",\n\t\t\"case description\": \"Fatal accident involving a motorcycle. The rider lost control, fell in the middle lane of the road, and passed away at the hospital.\",\n\t\t\"incident date\": \"26/01/2023\",\n\t\t\"incident time\": \"10:50 HRS\"\n\t}\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1920,144],"id":"8b013206-e74a-474a-93dd-32031df85dc3","name":"Structured Output Parser3"},{"parameters":{"jsonSchemaExample":"{\n\t\"success\": true,\n\t\"source\": \"word\",\n\t\"report\": [\n\t\t{\n\t\t\t\"json\": {\n\t\t\t\t\"output\": {\n\t\t\t\t\t\"report number\": \"000525/22, 680/2023, 855/23, 978/23, 1958/2023, 2256/23\",\n\t\t\t\t\t\"road type\": \"Municipal Road, Express Highway, Express Road\",\n\t\t\t\t\t\"surface type\": \"Dry, Wet, Straight and flat\",\n\t\t\t\t\t\"surface quality\": \"Dry, Wet, Straight and flat\",\n\t\t\t\t\t\"case classification\": \"Section 41(1) Road Transport Act 1987\",\n\t\t\t\t\t\"traffic system\": \"One-way\",\n\t\t\t\t\t\"vehicles\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V1\",\n\t\t\t\t\t\t\t\"Registration No.\": \"VDQ 6492\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Motorcycle\",\n\t\t\t\t\t\t\t\"model\": \"Yamaha 135LC\",\n\t\t\t\t\t\t\t\"color\": \"Grey\",\n\t\t\t\t\t\t\t\"LKM\": \"29/08/2022\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V1\",\n\t\t\t\t\t\t\t\"Registration No.\": \"VJK5496\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Motorcycle\",\n\t\t\t\t\t\t\t\"model\": \"Benelli\",\n\t\t\t\t\t\t\t\"color\": \"Gold\",\n\t\t\t\t\t\t\t\"LKM\": \"29/08/2023\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V1\",\n\t\t\t\t\t\t\t\"Registration No.\": \"WLQ1413\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Motorcycle\",\n\t\t\t\t\t\t\t\"model\": \"Yamaha Lagenda 110\",\n\t\t\t\t\t\t\t\"color\": \"Blue\",\n\t\t\t\t\t\t\t\"LKM\": \"12/09/2023\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V2\",\n\t\t\t\t\t\t\t\"Registration No.\": \"WGU8659\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Car\",\n\t\t\t\t\t\t\t\"model\": \"Proton Satria\",\n\t\t\t\t\t\t\t\"color\": \"Black\",\n\t\t\t\t\t\t\t\"LKM\": \"05/12/2023\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V1\",\n\t\t\t\t\t\t\t\"Registration No.\": \"WTW2789\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Car\",\n\t\t\t\t\t\t\t\"model\": \"Perodua Viva\",\n\t\t\t\t\t\t\t\"color\": \"Silver\",\n\t\t\t\t\t\t\t\"LKM\": \"03/06/2023\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V2\",\n\t\t\t\t\t\t\t\"Registration No.\": \"RAE2456\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Motorcycle\",\n\t\t\t\t\t\t\t\"model\": \"Honda Wave 125\",\n\t\t\t\t\t\t\t\"color\": \"Black\",\n\t\t\t\t\t\t\t\"LKM\": \"13/01/2023\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V1\",\n\t\t\t\t\t\t\t\"Registration No.\": \"VJF6435\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Motorcycle\",\n\t\t\t\t\t\t\t\"model\": \"Yamaha Y15ZR\",\n\t\t\t\t\t\t\t\"color\": \"Blue\",\n\t\t\t\t\t\t\t\"LKM\": \"28/07/2023\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V1\",\n\t\t\t\t\t\t\t\"Registration No.\": \"BKS 5299\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Lorry\",\n\t\t\t\t\t\t\t\"model\": \"Mercedes Benz\",\n\t\t\t\t\t\t\t\"color\": \"White\",\n\t\t\t\t\t\t\t\"LKM\": \"01/04/2023\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V2\",\n\t\t\t\t\t\t\t\"Registration No.\": \"BDL 9834\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Motorcycle\",\n\t\t\t\t\t\t\t\"model\": \"Honda C100\",\n\t\t\t\t\t\t\t\"color\": \"Blue\",\n\t\t\t\t\t\t\t\"LKM\": \"26/03/2023\"\n\t\t\t\t\t\t}\n\t\t\t\t\t],\n\t\t\t\t\t\"details of individuals involved\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"32 years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"B2, D and E (29/09/2025)\",\n\t\t\t\t\t\t\t\"occupation\": \"Not obtained\",\n\t\t\t\t\t\t\t\"injury\": \"Confirmed dead at scene\",\n\t\t\t\t\t\t\t\"cause of death\": \"Autopsy process to be conducted after Covid test is obtained.\",\n\t\t\t\t\t\t\t\"Damage\": \"Cover set damaged and scratches on front and left side, left footrest damaged\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"34 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"B2, D\",\n\t\t\t\t\t\t\t\"occupation\": \"Officer Manager Pavillion Hotel\",\n\t\t\t\t\t\t\t\"injury\": \"Dead at scene of incident\",\n\t\t\t\t\t\t\t\"cause of death\": \"Post Mortem to be done after obtaining Swab Test Covid-19 results.\",\n\t\t\t\t\t\t\t\"Damage\": \"Front coverset broken, Handle and front Fork broken.\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"38 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"None\",\n\t\t\t\t\t\t\t\"occupation\": \"Officer Manager Pavillion Hotel\",\n\t\t\t\t\t\t\t\"injury\": \"Dead at scene of incident\",\n\t\t\t\t\t\t\t\"cause of death\": \"Post Mortem to be done after obtaining Swab Test Covid-19 results.\",\n\t\t\t\t\t\t\t\"Damage\": \"Front coverset broken, Handle and front Fork broken.\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"43 years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"B2, D (08/12/2023)\",\n\t\t\t\t\t\t\t\"occupation\": \"Rider Food Panda\",\n\t\t\t\t\t\t\t\"injury\": \"Confirmed dead at location\",\n\t\t\t\t\t\t\t\"cause of death\": \"Autopsy process to be conducted after Covid test is issued.\",\n\t\t\t\t\t\t\t\"Damage\": \"Crushed entire body and cover set\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V2\",\n\t\t\t\t\t\t\t\"age\": \"43 years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"None\",\n\t\t\t\t\t\t\t\"occupation\": \"Lorry driver for Hong Seng Trading Sdn Bhd Company\",\n\t\t\t\t\t\t\t\"injury\": \"No injury\",\n\t\t\t\t\t\t\t\"cause of death\": \"None\",\n\t\t\t\t\t\t\t\"Damage\": \"Front right lamp broken and front bumper broken\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"48 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Indonesian\",\n\t\t\t\t\t\t\t\"license\": \"D\",\n\t\t\t\t\t\t\t\"occupation\": \"Construction laborer at Sasa Maju Klang\",\n\t\t\t\t\t\t\t\"injury\": \"No injury\",\n\t\t\t\t\t\t\t\"cause of death\": \"None\",\n\t\t\t\t\t\t\t\"Damage\": \"Right rear section crushed, rear mirror broken\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V2\",\n\t\t\t\t\t\t\t\"age\": \"46 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"None\",\n\t\t\t\t\t\t\t\"occupation\": \"None\",\n\t\t\t\t\t\t\t\"injury\": \"Deceased at HUKM Emergency Ward\",\n\t\t\t\t\t\t\t\"cause of death\": \"Post Mortem to be done after obtaining Swab Test Covid-19 results.\",\n\t\t\t\t\t\t\t\"Damage\": \"Front section crushed\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"20 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"No driving license\",\n\t\t\t\t\t\t\t\"occupation\": \"On line Shopee Taman Taynton View Cheras\",\n\t\t\t\t\t\t\t\"injury\": \"No injury\",\n\t\t\t\t\t\t\t\"cause of death\": \"None\",\n\t\t\t\t\t\t\t\"Damage\": \"Front fork broken.\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"19 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Female\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"None\",\n\t\t\t\t\t\t\t\"occupation\": \"Eko Shop Desa Petaling\",\n\t\t\t\t\t\t\t\"injury\": \"Dead at scene of incident\",\n\t\t\t\t\t\t\t\"cause of death\": \"Post Mortem to be done after obtaining Swab Test Covid-19 results.\",\n\t\t\t\t\t\t\t\"Damage\": \"Front fork broken.\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"42 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"B2,D,E\",\n\t\t\t\t\t\t\t\"occupation\": \"Lorry driver for Landbridge Haulage Sdn.Bhd. Company\",\n\t\t\t\t\t\t\t\"injury\": \"No injury\",\n\t\t\t\t\t\t\t\"cause of death\": \"None\",\n\t\t\t\t\t\t\t\"Damage\": \"No damage\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V2\",\n\t\t\t\t\t\t\t\"age\": \"74 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Indian\",\n\t\t\t\t\t\t\t\"license\": \"None\",\n\t\t\t\t\t\t\t\"occupation\": \"Self-employed\",\n\t\t\t\t\t\t\t\"injury\": \"Deceased at scene of incident\",\n\t\t\t\t\t\t\t\"cause of death\": \"Post Mortem to be done after obtaining Swab Test Covid-19 results.\",\n\t\t\t\t\t\t\t\"Damage\": \"Side mirror, left footrest, left side cover set\"\n\t\t\t\t\t\t}\n\t\t\t\t\t],\n\t\t\t\t\t\"location\": \"Jalan Damansara from Sultan Iskandar Highway towards Jalan Istana (Near Malaysian Nature Society office), Jalan Hang Tuah from Jalan Imbi towards Jalan Loke Yew (opposite Al-Bukhary Mosque), KM 37.2 Kuala Lumpur-Seremban Highway towards City Centre from Sungai Besi Toll near Shell, KM D0.1 KL-Seremban Highway from City Centre towards Seremban, Jalan Loke Yew from City Centre towards Jalan Cheras (near Sungai Besi Roundabout exit), KM 5.1 Federal Highway towards Kuala Lumpur (near Angkasapuri)\",\n\t\t\t\t\t\"report date\": \"03/01/2023, 03/01/2023, 04/01/2023, 04/01/2023, 07/01/2023, 07/01/2023\",\n\t\t\t\t\t\"report time\": \"0659hrs, 1553HRS, 0023hrs, 1218 HRS, 0239HRS, 2026 HRS\",\n\t\t\t\t\t\"case description\": \"Fatal accident, self-skidded, Fatal accident, self-skidded, Fatal accident involving two vehicles, Fatal accident involving two vehicles, Fatal accident, self-skidded, Fatal accident involving two vehicles\",\n\t\t\t\t\t\"incident date\": \"03/01/2023, 03/01/2023, 04/01/2023, 04/01/2023, 07/01/2023, 07/01/2023\",\n\t\t\t\t\t\"incident time\": \"0640hrs, 1535hrs, 0010hrs, 1020 hrs, 0215hrs, 1945 hrs\"\n\t\t\t\t},\n\t\t\t\t\"pairedItem\": {\n\t\t\t\t\t\"sourceOverwrite\": {\n\t\t\t\t\t\t\"previousNode\": \"Process Word Document\"\n\t\t\t\t\t},\n\t\t\t\t\t\"item\": 0\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"json\": {\n\t\t\t\t\"output\": {\n\t\t\t\t\t\"report number\": \"KL Traffic Rpt: 2271/23\",\n\t\t\t\t\t\"road type\": \"Municipal Road\",\n\t\t\t\t\t\"surface type\": \"Flat\",\n\t\t\t\t\t\"surface quality\": \"Dry\",\n\t\t\t\t\t\"case classification\": \"SECTION 41(1) Road Transport Act 1987\",\n\t\t\t\t\t\"traffic system\": \"2 lanes one-way\",\n\t\t\t\t\t\"vehicles\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V1\",\n\t\t\t\t\t\t\t\"Registration No.\": \"BHH5924\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Motorcycle\",\n\t\t\t\t\t\t\t\"model\": \"Modenas Kriss\",\n\t\t\t\t\t\t\t\"color\": \"Red\",\n\t\t\t\t\t\t\t\"LKM\": \"26/12/2023\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V2\",\n\t\t\t\t\t\t\t\"Registration No.\": \"AKX9996\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Lorry\",\n\t\t\t\t\t\t\t\"model\": \"Nissan (rigid)\",\n\t\t\t\t\t\t\t\"color\": \"Yellow\",\n\t\t\t\t\t\t\t\"LKM\": \"03/10/2023\"\n\t\t\t\t\t\t}\n\t\t\t\t\t],\n\t\t\t\t\t\"details of individuals involved\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"29 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Indonesian\",\n\t\t\t\t\t\t\t\"license\": \"None\",\n\t\t\t\t\t\t\t\"occupation\": \"Construction laborer Galeri Rumah Artis Sdn Bhd\",\n\t\t\t\t\t\t\t\"injury\": \"Dead at scene of incident\",\n\t\t\t\t\t\t\t\"cause of death\": \"Pending Post Mortem. Post Mortem to be done after obtaining Swab Test Covid-19 results.\",\n\t\t\t\t\t\t\t\"Damage\": \"Rear number plate broken, coverset & front lamp broken\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"25 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Indonesian\",\n\t\t\t\t\t\t\t\"license\": \"None\",\n\t\t\t\t\t\t\t\"occupation\": \"Construction laborer Galeri Rumah Artis Sdn Bhd\",\n\t\t\t\t\t\t\t\"injury\": \"No injury\",\n\t\t\t\t\t\t\t\"cause of death\": \"None\",\n\t\t\t\t\t\t\t\"Damage\": \"None\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V2\",\n\t\t\t\t\t\t\t\"age\": \"40 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"D & E (17/07/2027)\",\n\t\t\t\t\t\t\t\"occupation\": \"Driver KF Soo Enterprise Jalan Ipoh\",\n\t\t\t\t\t\t\t\"injury\": \"No injury\",\n\t\t\t\t\t\t\t\"cause of death\": \"None\",\n\t\t\t\t\t\t\t\"Damage\": \"None\"\n\t\t\t\t\t\t}\n\t\t\t\t\t],\n\t\t\t\t\t\"location\": \"Jalan Sultan Azlan Shah from Jalan Tuanku Abdul Halim towards MRT Station Jalan Ipoh\",\n\t\t\t\t\t\"report date\": \"07/01/23\",\n\t\t\t\t\t\"report time\": \"2115HRS\",\n\t\t\t\t\t\"case description\": \"On 07/01/2023 at approximately 2115hrs received information regarding a fatal accident at Jalan Sultan Azlan Shah from Jalan Tuanku Abdul Halim towards MRT Station Jalan Ipoh involving a motorcycle (V1) and a lorry (V2). Preliminary investigation found the accident occurred on 07/01/2023 at approximately 2140hrs, (M1) who was riding (V1) together with pillion rider (A1) moving in the left lane of Sultan Azlan Shah towards MRT Station Jalan Ipoh had sideswiped (V2) which was moving in the same lane causing (M1) to fall and be run over by (V1). As a result of the accident, (M1) sustained injuries and was confirmed deceased at the scene of the incident.\",\n\t\t\t\t\t\"incident date\": \"07/01/2023\",\n\t\t\t\t\t\"incident time\": \"2140hrs\"\n\t\t\t\t},\n\t\t\t\t\"pairedItem\": {\n\t\t\t\t\t\"sourceOverwrite\": {\n\t\t\t\t\t\t\"previousNode\": \"Process Word Document\",\n\t\t\t\t\t\t\"previousNodeRun\": 1\n\t\t\t\t\t},\n\t\t\t\t\t\"item\": 0\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"json\": {\n\t\t\t\t\"output\": {\n\t\t\t\t\t\"report number\": \"8985/2023\",\n\t\t\t\t\t\"road type\": \"Express Road\",\n\t\t\t\t\t\"surface type\": \"straight\",\n\t\t\t\t\t\"surface quality\": \"dry\",\n\t\t\t\t\t\"case classification\": \"SECTION 41(1) Road Transport Act 1987\",\n\t\t\t\t\t\"traffic system\": \"3 lanes one-way\",\n\t\t\t\t\t\"vehicles\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V1\",\n\t\t\t\t\t\t\t\"Registration No.\": \"VHR602\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Motorcycle\",\n\t\t\t\t\t\t\t\"model\": \"Suzuki GSX-R1000\",\n\t\t\t\t\t\t\t\"color\": \"Black\",\n\t\t\t\t\t\t\t\"LKM\": \"12/04/2023\"\n\t\t\t\t\t\t}\n\t\t\t\t\t],\n\t\t\t\t\t\"details of individuals involved\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"42 years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"B2,D\",\n\t\t\t\t\t\t\t\"occupation\": \"Training Executive Grab Driver Centre Axis\",\n\t\t\t\t\t\t\t\"injury\": \"Dead at scene of incident\",\n\t\t\t\t\t\t\t\"cause of death\": \"Post Mortem to be done after obtaining Swab Test Covid-19 results.\",\n\t\t\t\t\t\t\t\"Damage\": \"Scratches on front right side cover set.\"\n\t\t\t\t\t\t}\n\t\t\t\t\t],\n\t\t\t\t\t\"location\": \"Km 4.1 Sprint Highway from Damansara towards City Centre (near Penchala Link tunnel eastbound)\",\n\t\t\t\t\t\"report date\": \"27/01/2023\",\n\t\t\t\t\t\"report time\": \"0850HRS\",\n\t\t\t\t\t\"case description\": \"On 27/01/2023 at approximately 0915hrs received information regarding an accident at Km 4.1 Sprint Highway from Damansara towards City Centre (near Penchala Link tunnel eastbound) involving (V1) a motorcycle skidding on its own. Preliminary investigation found the accident occurred on 27/01/2023 at approximately 0845hrs when (M1) who was riding (V1) in the rightmost lane tried to avoid a dog crossing the road, lost control and hit the road barrier on the right shoulder of the road then skidded on its own. As a result of the accident, (M1) sustained severe head injuries and was confirmed deceased by (MA) ambulance from Sg. Buloh Hospital at the scene of the incident.\",\n\t\t\t\t\t\"incident date\": \"27/01/2023\",\n\t\t\t\t\t\"incident time\": \"0845hrs\"\n\t\t\t\t},\n\t\t\t\t\"pairedItem\": {\n\t\t\t\t\t\"sourceOverwrite\": {\n\t\t\t\t\t\t\"previousNode\": \"Process Word Document\",\n\t\t\t\t\t\t\"previousNodeRun\": 2\n\t\t\t\t\t},\n\t\t\t\t\t\"item\": 0\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1968,1984],"id":"07aa2348-4601-4244-a599-134d08daa997","name":"Structured Output Parser4"}],"connections":{"Structured Output Parser":{"ai_outputParser":[[{"node":"Process PDF Document","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"Extract from PDF","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract from PDF","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"DOCX to Text","type":"main","index":0}],[{"node":"DOCX to Text","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"Process PDF Document","type":"ai_languageModel","index":0}]]},"Extract from PDF":{"main":[[{"node":"Process PDF Document","type":"main","index":0}],[{"node":"Respond to Webhook4","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Find the head","type":"main","index":0}],[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Process Excel Document","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"DeepSeek Chat Model1":{"ai_languageModel":[[{"node":"Process Excel Document","type":"ai_languageModel","index":0}]]},"Respond to Webhook3":{"main":[[]]},"Find the head":{"main":[[{"node":"Format Objects","type":"main","index":0}],[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Format Objects":{"main":[[{"node":"Filter Empties","type":"main","index":0}],[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}],[{"node":"Process Excel Document","type":"main","index":0}]]},"DOCX to Text":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Loop Over DOCX","type":"main","index":0}],[{"node":"Respond to Webhook5","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Process Word Document","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Structured Output Parser2","type":"ai_languageModel","index":0}]]},"Loop Over DOCX":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}],[{"node":"Process Word Document","type":"main","index":0}]]},"DeepSeek Chat Model2":{"ai_languageModel":[[{"node":"Process Word Document","type":"ai_languageModel","index":0}]]},"Process Excel Document":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Process PDF Document":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Filter Empties":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"DeepSeek Chat Model3":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Respond to Webhook7","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Respond to Webhook8","type":"main","index":0}]]},"DeepSeek Chat Model4":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Process Word Document":{"main":[[{"node":"Loop Over DOCX","type":"main","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"24e20eb2-9289-43e5-a408-ac82f8ede802","activeVersionId":"24e20eb2-9289-43e5-a408-ac82f8ede802","triggerCount":1,"shared":[{"updatedAt":"2025-11-21T02:53:47.885Z","createdAt":"2025-11-21T02:53:47.885Z","role":"workflow:owner","workflowId":"ST9lgRWk9mjro8Ok","projectId":"FvxAVPRgShLcnSOU"}],"activeVersion":{"updatedAt":"2025-12-23T03:31:26.800Z","createdAt":"2025-12-23T03:31:26.800Z","versionId":"24e20eb2-9289-43e5-a408-ac82f8ede802","workflowId":"ST9lgRWk9mjro8Ok","nodes":[{"parameters":{"jsonSchemaExample":"{\n    \"nombor report\": \"12345/21\",\n    \"jenis jalan\": \"road\",\n    \"jenis permukaan\":\"surface\",\n    \"qualiti permukaan\": \"unknown\",\n    \"klasifikasi kes\":\"SEK 99(0) APJ 1990\",\n  \"sistem lalulintas\":\"sehala\",\n\t\"kenderaan\": [{\n      \"Label\": \"K1\",\n      \"No. Pend\":\"VPA6479\",\n      \"jenis kenderaan\": \"M.kar\",\n      \"jenis\":\"Ford Ranger\",\n      \"warna\":\"biru\",\n      \"LKM\": \"2025-7-1\"\n    }],\n    \"butiran individu terlibat\": [\n      {\n        \"kendaraan\":\"K1\",\n        \"umur\":\"28\",\n        \"jantina\":\"unknown\",\n        \"keturunan\":\"Melayu\",\n        \"lesen\":\"B/D 2023-5-1\",\n        \"pekerjaan\":\"Plowman\",\n        \"kecederaan\":\"Mati\",\n        \"sebab mati\":\"hammer\",\n        \"Kerosakan\": \"Kerosakan pada bahagian belakang bumper, bonnet belakang\"\n      }\n    ],\n    \"lokasi\": \"Jalan Kuching dari arah Bulatan men ghala ke Bulatan Batu Caves\",\n    \"tarikh report\":\"2025-7-1\",\n    \"waktu report\":\"2359hrs\",\n    \"keterangan kes\":\"report\",\n    \"tarikh kejadian\":\"2025-7-1\",\n    \"waktu kejadian\": \"2359hrs\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[0,176],"id":"3925f14b-23ea-4739-886e-7953da765ada","name":"Structured Output Parser"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[80,384],"id":"b1311143-2fd0-4da3-8965-38407a4d465b","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"bIkZPsIBap8l9xrb","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').first().binary.file.fileType }}","rightValue":"pdf","operator":{"type":"string","operation":"equals"},"id":"a078e3eb-d679-433a-b4e3-688aeef38a98"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3d275e3-5d2f-49ba-a554-6deb5d531318","leftValue":"={{ $('Webhook').first().binary.file.fileType }}","rightValue":"xlsx","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7835cab-81e8-4ece-9a43-66e41a69f415","leftValue":"={{ $('Webhook').first().binary.file.fileExtension }}","rightValue":"pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aad1d612-52a5-4f6a-959a-cc99d3e79d93","leftValue":"={{ $('Webhook').first().binary.file.fileExtension }}","rightValue":"xlsx","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26986bce-213c-4d91-95f9-79ab17e69292","leftValue":"={{ $('Webhook').first().binary.file.fileExtension }}","rightValue":"docx","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aad98068-9a57-4e83-b244-120f4514d24d","leftValue":"={{ $('Webhook').first().binary.file.fileType }}","rightValue":"docx","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-944,992],"id":"ac6443ab-adf5-4830-89d4-058e272c7bb0","name":"Switch"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-128,176],"id":"939b923a-b387-414c-a83e-a38b37469ebe","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"kjsLLud72Mv0JDPq","name":"DeepSeek account"}}},{"parameters":{"operation":"pdf","binaryPropertyName":"={{ $('Switch').item.binary.file }}","options":{"joinPages":true}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-400,272],"id":"e15afefc-e9d5-4610-a1dc-b76dd440a637","name":"Extract from PDF","alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"operation":"xlsx","binaryPropertyName":"file","options":{"headerRow":false,"includeEmptyCells":false,"range":"A1:Z1000"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-400,1040],"id":"df497645-c349-41d6-ac8b-011ae9509ec6","name":"Extract from Excel","alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"httpMethod":"POST","path":"crp","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1168,1136],"id":"18c7e000-bb6e-46aa-ab32-d48a2ef302d2","name":"Webhook","webhookId":"d3b2f603-eb73-4351-b411-0cba0f3f89b2","onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"source\": \"pdf\",\n  \"report\": {{ JSON.stringify($('Process PDF Document').item.json.output) }}\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1040,160],"id":"dfd80835-e300-4a59-bc6c-9d4ed8bd4b3f","name":"Respond to Webhook"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-944,1296],"id":"c632af1c-b06d-4658-ab66-51ae5f4551f9","name":"Respond to Webhook2"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[176,1184],"id":"0ce737f1-4adf-4e76-a487-6c85040a4ccd","name":"Respond to Webhook3"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[0,560],"id":"601df076-c429-4048-b140-c80f683aa689","name":"Respond to Webhook4"},{"parameters":{"jsonSchemaExample":"{\n    \"nombor report\": \"12345/21\",\n    \"jenis jalan\": \"road\",\n    \"jenis permukaan\":\"surface\",\n    \"qualiti permukaan\": \"unknown\",\n    \"klasifikasi kes\":\"SEK 99(0) APJ 1990\",\n  \"sistem lalulintas\":\"sehala\",\n\t\"kenderaan\": [{\n      \"Label\": \"K1\",\n      \"No. Pend\":\"VPA6479\",\n      \"jenis kenderaan\": \"M.kar\",\n      \"jenis\":\"Ford Ranger\",\n      \"warna\":\"biru\",\n      \"LKM\": \"2025-7-1\"\n    }],\n    \"butiran individu terlibat\": [\n      {\n        \"kendaraan\":\"K1\",\n        \"umur\":\"28\",\n        \"jantina\":\"unknown\",\n        \"keturunan\":\"Melayu\",\n        \"lesen\":\"B/D 2023-5-1\",\n        \"pekerjaan\":\"Plowman\",\n        \"kecederaan\":\"Mati\",\n        \"sebab mati\":\"hammer\",\n        \"Kerosakan\": \"Kerosakan pada bahagian belakang bumper, bonnet belakang\"\n      }\n    ],\n    \"lokasi\": \"Jalan Kuching dari arah Bulatan men ghala ke Bulatan Batu Caves\",\n    \"tarikh report\":\"2025-7-1\",\n    \"waktu report\":\"2359hrs\",\n    \"keterangan kes\":\"report\",\n    \"tarikh kejadian\":\"2025-7-1\",\n    \"waktu kejadian\": \"2359hrs\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[640,1104],"id":"3df6bfac-7a3b-4b7b-9db0-3a7efe9b44b5","name":"Structured Output Parser1"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[640,1312],"id":"b019473f-df80-4a33-a000-2a52e81a4609","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"bIkZPsIBap8l9xrb","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[528,1104],"id":"ce1efe6a-bb16-46bb-a287-ad9d659f3460","name":"DeepSeek Chat Model1","credentials":{"deepSeekApi":{"id":"kjsLLud72Mv0JDPq","name":"DeepSeek account"}}},{"parameters":{"jsCode":"    const inputData = $('Extract from Excel').all().slice(6);\n    const headers = inputData[0];\n    const dataRows = inputData.slice(1);\n\n    return [{ json: { headers: headers, dataRows: dataRows } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,864],"id":"dc57e4c2-9777-4b65-af32-3418cc6a5955","name":"Find the head","executeOnce":true,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// The most probable path to the arrays, using optional chaining (?.) for safety\nconst headers = $input.first()?.json?.headers?.json?.row;\nconst dataRowsI = $input.first()?.json?.dataRows;\nconst dataRows = dataRowsI.map(i => i.json.row);\n\nconsole.log(headers);\n\n// --- Guardrail Check ---\nif (!Array.isArray(headers)) {\n    // If this fails, the path to headers is wrong.\n    throw new Error('FATAL: Could not find headers array. Path or previous node output is incorrect.');\n}\nif (!Array.isArray(dataRows)) {\n    // If this fails, the path to dataRows is wrong.\n    throw new Error('FATAL: Could not find dataRows array. Path or previous node output is incorrect.');\n}\n\n// --- Data Transformation ---\nconst processedItems = dataRows.map(row => {\n    const item = {};\n\n    headers.forEach((header, index) => {\n        item[header] = row[index];\n    });\n\n    // Output the transformed item in the expected n8n format\n    return { json: item };\n});\n\nreturn processedItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,848],"id":"dbb47302-d3c9-439f-a724-c992f4f10336","name":"Format Objects","alwaysOutputData":true,"executeOnce":true,"onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[336,832],"id":"562ce860-acda-4b85-bee2-3dc730c53092","name":"Loop Over Items"},{"parameters":{"content":"## PDF Processing\n","height":848,"width":1392,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-480,-128],"typeVersion":1,"id":"19bcc47e-4900-4d85-bc44-880daa1a6975","name":"Sticky Note"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"source\": \"excel\",\n  \"report\": {{ $('Loop Over Items').all().toJsonString() }}\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1056,816],"id":"f46ea499-60b8-4368-88e6-ecb768c13e8b","name":"Respond to Webhook1"},{"parameters":{"content":"## Excel Processing\n","height":832,"width":1392,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-480,736],"typeVersion":1,"id":"f928385e-db3d-4170-b648-31b0872c0203","name":"Sticky Note1"},{"parameters":{"content":"## Input Data Routing","height":2592,"width":816,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1312,-128],"typeVersion":1,"id":"9edfbd54-ebf8-4421-a19a-d0e4edb79a93","name":"Sticky Note3"},{"parameters":{"content":"## Output Results","height":2592,"width":368,"color":6},"type":"n8n-nodes-base.stickyNote","position":[928,-128],"typeVersion":1,"id":"8c7f164c-2c66-492f-a193-1417ff3d8b63","name":"Sticky Note2"},{"parameters":{"inputBinaryField":"file"},"type":"n8n-nodes-docx-converter.docxToText","typeVersion":1,"position":[-352,1744],"id":"a051451d-3fda-4857-8861-8006daff4b1f","name":"DOCX to Text"},{"parameters":{"jsCode":"const fullText = $input.first().json.text;\n\n// Regex to match greeting separators (with or without *, & or \"dan\")\nconst separatorRegex = /\\*?\\s*Assal+amualaikum.*?Salam\\s+Sejahtera\\s*\\*?/gi;\n\n// Split the document\nconst reports = fullText\n  .split(separatorRegex)\n  .map(r => r.trim())\n  .filter(r => r.length > 0);\n\n// Return each report as its own item\nreturn reports.map((report, index) => ({\n  json: {\n    reportNumber: index + 1,\n    reportText: report\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,1744],"id":"ae043d03-5913-477a-9f4e-afd9fb2bf2cc","name":"Code in JavaScript","onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[112,2128],"id":"0c2aeaf2-9226-4523-b156-bfd8010c8570","name":"Respond to Webhook5"},{"parameters":{"jsonSchemaExample":"{\n    \"nombor report\": \"12345/21\",\n    \"jenis jalan\": \"road\",\n    \"jenis permukaan\":\"surface\",\n    \"qualiti permukaan\": \"unknown\",\n    \"klasifikasi kes\":\"SEK 99(0) APJ 1990\",\n  \"sistem lalulintas\":\"sehala\",\n\t\"kenderaan\": [{\n      \"Label\": \"K1\",\n      \"No. Pend\":\"VPA6479\",\n      \"jenis kenderaan\": \"M.kar\",\n      \"jenis\":\"Ford Ranger\",\n      \"warna\":\"biru\",\n      \"LKM\": \"2025-7-1\"\n    }],\n    \"butiran individu terlibat\": [\n      {\n        \"kendaraan\":\"K1\",\n        \"umur\":\"28\",\n        \"jantina\":\"unknown\",\n        \"keturunan\":\"Melayu\",\n        \"lesen\":\"B/D 2023-5-1\",\n        \"pekerjaan\":\"Plowman\",\n        \"kecederaan\":\"Mati\",\n        \"sebab mati\":\"hammer\",\n        \"Kerosakan\": \"Kerosakan pada bahagian belakang bumper, bonnet belakang\"\n      }\n    ],\n    \"lokasi\": \"Jalan Kuching dari arah Bulatan men ghala ke Bulatan Batu Caves\",\n    \"tarikh report\":\"2025-7-1\",\n    \"waktu report\":\"2359hrs\",\n    \"keterangan kes\":\"report\",\n    \"tarikh kejadian\":\"2025-7-1\",\n    \"waktu kejadian\": \"2359hrs\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[624,2048],"id":"c5ce78a6-2a83-4d23-86e5-1f2496f7526b","name":"Structured Output Parser2"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[704,2256],"id":"0ab619f6-79af-4d3b-a5e4-f32286a16b6c","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"bIkZPsIBap8l9xrb","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"source\": \"word\",\n  \"report\": {{ $('Loop Over DOCX').all().toJsonString() }}\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1056,1952],"id":"41c5e24f-1b72-4483-afe7-da12ee38c4e3","name":"Respond to Webhook6"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[112,1728],"id":"33ed9bf1-ddf9-4b01-ba09-5cd1b182cff8","name":"Loop Over DOCX"},{"parameters":{"content":"## Word Processing\n","height":880,"width":1392,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-480,1584],"typeVersion":1,"id":"3c19660e-e3ca-4012-8f31-a404ecd25b39","name":"Sticky Note4"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[496,2048],"id":"033be9d9-8612-474f-87b5-b182f9867265","name":"DeepSeek Chat Model2","credentials":{"deepSeekApi":{"id":"kjsLLud72Mv0JDPq","name":"DeepSeek account"}}},{"parameters":{"promptType":"define","text":"={{ $('Loop Over Items').item.json }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are able to extract specific information from a Malay language input.  The information is|- lokasi kejadian (as an array)- kenderaan terlibat- tarikh dan waktu report."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[576,880],"id":"162dc474-1924-4325-841c-187ccea9e002","name":"Process Excel Document"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are able to extract specific information from a Malay language input.  The information is|- lokasi kejadian (as an array)- kenderaan terlibat- tarikh dan waktu report."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-96,-48],"id":"4acdb25a-bf79-438a-a040-534f4cb425a1","name":"Process PDF Document"},{"parameters":{"jsCode":"\nconst all = $input.all();\nconst filteredData = all.filter(obj => Object.keys(obj).length > 0);\nreturn filteredData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,832],"id":"b5cbd2cf-98e1-4678-99a9-113a7b4bef15","name":"Filter Empties"},{"parameters":{"promptType":"define","text":"={\n  \"success\": true,\n  \"source\": \"pdf\",\n  \"report\": {{ JSON.stringify($('Process PDF Document').item.json.output) }}\n}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are a language translator, translating Bahasa Malaysia to English"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1776,-64],"id":"e9f2d99f-1c6d-4061-92d4-56c5acfb8457","name":"Basic LLM Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[1712,144],"id":"0ba9bdc2-00f3-4465-8b23-bd80ee1f9b77","name":"DeepSeek Chat Model3","credentials":{"deepSeekApi":{"id":"kjsLLud72Mv0JDPq","name":"DeepSeek account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2128,-64],"id":"a6c08fd9-97b5-4ce4-9b37-d578e602f3a0","name":"Respond to Webhook7"},{"parameters":{"promptType":"define","text":"={\n  \"success\": true,\n  \"source\": \"word\",\n  \"report\": {{ JSON.stringify($('Loop Over DOCX').all()) }}\n}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are a language translator, translating Bahasa Malaysia to English.  You need to detect all Bahasa Malaysian words and ensure a thorough translation"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1824,1776],"id":"850c3634-e9d0-4e7a-a2d4-fb92c307273d","name":"Basic LLM Chain1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[1760,1984],"id":"9b7cef98-0727-4901-839d-439c0e7b3181","name":"DeepSeek Chat Model4","credentials":{"deepSeekApi":{"id":"kjsLLud72Mv0JDPq","name":"DeepSeek account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2176,1776],"id":"ce5d3438-a651-424b-ad15-497aa2407a69","name":"Respond to Webhook8"},{"parameters":{"promptType":"define","text":"={{ $json.reportText }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are able to extract specific information from a Malay language input.  The information is|- lokasi kejadian (as an array)- kenderaan terlibat- tarikh dan waktu report."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[528,1808],"id":"1fcafb6c-4e09-4e8b-bf45-df20d6ad67ba","name":"Process Word Document"},{"parameters":{"jsonSchemaExample":"{\n\t\"success\": true,\n\t\"source\": \"pdf\",\n\t\"report\": {\n\t\t\"report number\": \"TRAFFIC KUALA LUMPUR/009884/23\",\n\t\t\"road type\": \"3-LANE ONE-WAY\",\n\t\t\"surface type\": \"STRAIGHT\",\n\t\t\"surface condition\": \"DRY\",\n\t\t\"case classification\": \"S41(1) APJ1987\",\n\t\t\"traffic system\": \"ONE-WAY\",\n\t\t\"vehicles\": [\n\t\t\t{ \"Label\": \"K1\", \"Registration No.\": \"WPA8857\", \"vehicle type\": \"Motorcycle\", \"model\": \"YAMAHA 135LC\", \"color\": \"\", \"LKM\": \"\" }\n\t\t],\n\t\t\"details of individuals involved\": [\n\t\t\t{\n\t\t\t\t\"vehicle\": \"WPA8857\",\n\t\t\t\t\"age\": \"47\",\n\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\"license\": \"\",\n\t\t\t\t\"occupation\": \"\",\n\t\t\t\t\"injury\": \"Deceased\",\n\t\t\t\t\"cause of death\": \"Severe injuries due to accident\",\n\t\t\t\t\"Damage\": \"SCRATCHES ON FRONT HANDLEBAR\"\n\t\t\t}\n\t\t],\n\t\t\"location\": \"B JALAN BANGSAR, FROM NPE HIGHWAY TOWARDS JALAN TRAVER (NEAR BANGSAR LRT)\",\n\t\t\"report date\": \"30/01/2023\",\n\t\t\"report time\": \"11:24 HRS\",\n\t\t\"case description\": \"Fatal accident involving a motorcycle. The rider lost control, fell in the middle lane of the road, and passed away at the hospital.\",\n\t\t\"incident date\": \"26/01/2023\",\n\t\t\"incident time\": \"10:50 HRS\"\n\t}\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1920,144],"id":"8b013206-e74a-474a-93dd-32031df85dc3","name":"Structured Output Parser3"},{"parameters":{"jsonSchemaExample":"{\n\t\"success\": true,\n\t\"source\": \"word\",\n\t\"report\": [\n\t\t{\n\t\t\t\"json\": {\n\t\t\t\t\"output\": {\n\t\t\t\t\t\"report number\": \"000525/22, 680/2023, 855/23, 978/23, 1958/2023, 2256/23\",\n\t\t\t\t\t\"road type\": \"Municipal Road, Express Highway, Express Road\",\n\t\t\t\t\t\"surface type\": \"Dry, Wet, Straight and flat\",\n\t\t\t\t\t\"surface quality\": \"Dry, Wet, Straight and flat\",\n\t\t\t\t\t\"case classification\": \"Section 41(1) Road Transport Act 1987\",\n\t\t\t\t\t\"traffic system\": \"One-way\",\n\t\t\t\t\t\"vehicles\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V1\",\n\t\t\t\t\t\t\t\"Registration No.\": \"VDQ 6492\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Motorcycle\",\n\t\t\t\t\t\t\t\"model\": \"Yamaha 135LC\",\n\t\t\t\t\t\t\t\"color\": \"Grey\",\n\t\t\t\t\t\t\t\"LKM\": \"29/08/2022\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V1\",\n\t\t\t\t\t\t\t\"Registration No.\": \"VJK5496\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Motorcycle\",\n\t\t\t\t\t\t\t\"model\": \"Benelli\",\n\t\t\t\t\t\t\t\"color\": \"Gold\",\n\t\t\t\t\t\t\t\"LKM\": \"29/08/2023\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V1\",\n\t\t\t\t\t\t\t\"Registration No.\": \"WLQ1413\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Motorcycle\",\n\t\t\t\t\t\t\t\"model\": \"Yamaha Lagenda 110\",\n\t\t\t\t\t\t\t\"color\": \"Blue\",\n\t\t\t\t\t\t\t\"LKM\": \"12/09/2023\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V2\",\n\t\t\t\t\t\t\t\"Registration No.\": \"WGU8659\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Car\",\n\t\t\t\t\t\t\t\"model\": \"Proton Satria\",\n\t\t\t\t\t\t\t\"color\": \"Black\",\n\t\t\t\t\t\t\t\"LKM\": \"05/12/2023\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V1\",\n\t\t\t\t\t\t\t\"Registration No.\": \"WTW2789\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Car\",\n\t\t\t\t\t\t\t\"model\": \"Perodua Viva\",\n\t\t\t\t\t\t\t\"color\": \"Silver\",\n\t\t\t\t\t\t\t\"LKM\": \"03/06/2023\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V2\",\n\t\t\t\t\t\t\t\"Registration No.\": \"RAE2456\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Motorcycle\",\n\t\t\t\t\t\t\t\"model\": \"Honda Wave 125\",\n\t\t\t\t\t\t\t\"color\": \"Black\",\n\t\t\t\t\t\t\t\"LKM\": \"13/01/2023\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V1\",\n\t\t\t\t\t\t\t\"Registration No.\": \"VJF6435\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Motorcycle\",\n\t\t\t\t\t\t\t\"model\": \"Yamaha Y15ZR\",\n\t\t\t\t\t\t\t\"color\": \"Blue\",\n\t\t\t\t\t\t\t\"LKM\": \"28/07/2023\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V1\",\n\t\t\t\t\t\t\t\"Registration No.\": \"BKS 5299\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Lorry\",\n\t\t\t\t\t\t\t\"model\": \"Mercedes Benz\",\n\t\t\t\t\t\t\t\"color\": \"White\",\n\t\t\t\t\t\t\t\"LKM\": \"01/04/2023\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V2\",\n\t\t\t\t\t\t\t\"Registration No.\": \"BDL 9834\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Motorcycle\",\n\t\t\t\t\t\t\t\"model\": \"Honda C100\",\n\t\t\t\t\t\t\t\"color\": \"Blue\",\n\t\t\t\t\t\t\t\"LKM\": \"26/03/2023\"\n\t\t\t\t\t\t}\n\t\t\t\t\t],\n\t\t\t\t\t\"details of individuals involved\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"32 years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"B2, D and E (29/09/2025)\",\n\t\t\t\t\t\t\t\"occupation\": \"Not obtained\",\n\t\t\t\t\t\t\t\"injury\": \"Confirmed dead at scene\",\n\t\t\t\t\t\t\t\"cause of death\": \"Autopsy process to be conducted after Covid test is obtained.\",\n\t\t\t\t\t\t\t\"Damage\": \"Cover set damaged and scratches on front and left side, left footrest damaged\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"34 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"B2, D\",\n\t\t\t\t\t\t\t\"occupation\": \"Officer Manager Pavillion Hotel\",\n\t\t\t\t\t\t\t\"injury\": \"Dead at scene of incident\",\n\t\t\t\t\t\t\t\"cause of death\": \"Post Mortem to be done after obtaining Swab Test Covid-19 results.\",\n\t\t\t\t\t\t\t\"Damage\": \"Front coverset broken, Handle and front Fork broken.\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"38 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"None\",\n\t\t\t\t\t\t\t\"occupation\": \"Officer Manager Pavillion Hotel\",\n\t\t\t\t\t\t\t\"injury\": \"Dead at scene of incident\",\n\t\t\t\t\t\t\t\"cause of death\": \"Post Mortem to be done after obtaining Swab Test Covid-19 results.\",\n\t\t\t\t\t\t\t\"Damage\": \"Front coverset broken, Handle and front Fork broken.\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"43 years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"B2, D (08/12/2023)\",\n\t\t\t\t\t\t\t\"occupation\": \"Rider Food Panda\",\n\t\t\t\t\t\t\t\"injury\": \"Confirmed dead at location\",\n\t\t\t\t\t\t\t\"cause of death\": \"Autopsy process to be conducted after Covid test is issued.\",\n\t\t\t\t\t\t\t\"Damage\": \"Crushed entire body and cover set\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V2\",\n\t\t\t\t\t\t\t\"age\": \"43 years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"None\",\n\t\t\t\t\t\t\t\"occupation\": \"Lorry driver for Hong Seng Trading Sdn Bhd Company\",\n\t\t\t\t\t\t\t\"injury\": \"No injury\",\n\t\t\t\t\t\t\t\"cause of death\": \"None\",\n\t\t\t\t\t\t\t\"Damage\": \"Front right lamp broken and front bumper broken\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"48 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Indonesian\",\n\t\t\t\t\t\t\t\"license\": \"D\",\n\t\t\t\t\t\t\t\"occupation\": \"Construction laborer at Sasa Maju Klang\",\n\t\t\t\t\t\t\t\"injury\": \"No injury\",\n\t\t\t\t\t\t\t\"cause of death\": \"None\",\n\t\t\t\t\t\t\t\"Damage\": \"Right rear section crushed, rear mirror broken\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V2\",\n\t\t\t\t\t\t\t\"age\": \"46 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"None\",\n\t\t\t\t\t\t\t\"occupation\": \"None\",\n\t\t\t\t\t\t\t\"injury\": \"Deceased at HUKM Emergency Ward\",\n\t\t\t\t\t\t\t\"cause of death\": \"Post Mortem to be done after obtaining Swab Test Covid-19 results.\",\n\t\t\t\t\t\t\t\"Damage\": \"Front section crushed\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"20 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"No driving license\",\n\t\t\t\t\t\t\t\"occupation\": \"On line Shopee Taman Taynton View Cheras\",\n\t\t\t\t\t\t\t\"injury\": \"No injury\",\n\t\t\t\t\t\t\t\"cause of death\": \"None\",\n\t\t\t\t\t\t\t\"Damage\": \"Front fork broken.\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"19 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Female\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"None\",\n\t\t\t\t\t\t\t\"occupation\": \"Eko Shop Desa Petaling\",\n\t\t\t\t\t\t\t\"injury\": \"Dead at scene of incident\",\n\t\t\t\t\t\t\t\"cause of death\": \"Post Mortem to be done after obtaining Swab Test Covid-19 results.\",\n\t\t\t\t\t\t\t\"Damage\": \"Front fork broken.\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"42 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"B2,D,E\",\n\t\t\t\t\t\t\t\"occupation\": \"Lorry driver for Landbridge Haulage Sdn.Bhd. Company\",\n\t\t\t\t\t\t\t\"injury\": \"No injury\",\n\t\t\t\t\t\t\t\"cause of death\": \"None\",\n\t\t\t\t\t\t\t\"Damage\": \"No damage\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V2\",\n\t\t\t\t\t\t\t\"age\": \"74 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Indian\",\n\t\t\t\t\t\t\t\"license\": \"None\",\n\t\t\t\t\t\t\t\"occupation\": \"Self-employed\",\n\t\t\t\t\t\t\t\"injury\": \"Deceased at scene of incident\",\n\t\t\t\t\t\t\t\"cause of death\": \"Post Mortem to be done after obtaining Swab Test Covid-19 results.\",\n\t\t\t\t\t\t\t\"Damage\": \"Side mirror, left footrest, left side cover set\"\n\t\t\t\t\t\t}\n\t\t\t\t\t],\n\t\t\t\t\t\"location\": \"Jalan Damansara from Sultan Iskandar Highway towards Jalan Istana (Near Malaysian Nature Society office), Jalan Hang Tuah from Jalan Imbi towards Jalan Loke Yew (opposite Al-Bukhary Mosque), KM 37.2 Kuala Lumpur-Seremban Highway towards City Centre from Sungai Besi Toll near Shell, KM D0.1 KL-Seremban Highway from City Centre towards Seremban, Jalan Loke Yew from City Centre towards Jalan Cheras (near Sungai Besi Roundabout exit), KM 5.1 Federal Highway towards Kuala Lumpur (near Angkasapuri)\",\n\t\t\t\t\t\"report date\": \"03/01/2023, 03/01/2023, 04/01/2023, 04/01/2023, 07/01/2023, 07/01/2023\",\n\t\t\t\t\t\"report time\": \"0659hrs, 1553HRS, 0023hrs, 1218 HRS, 0239HRS, 2026 HRS\",\n\t\t\t\t\t\"case description\": \"Fatal accident, self-skidded, Fatal accident, self-skidded, Fatal accident involving two vehicles, Fatal accident involving two vehicles, Fatal accident, self-skidded, Fatal accident involving two vehicles\",\n\t\t\t\t\t\"incident date\": \"03/01/2023, 03/01/2023, 04/01/2023, 04/01/2023, 07/01/2023, 07/01/2023\",\n\t\t\t\t\t\"incident time\": \"0640hrs, 1535hrs, 0010hrs, 1020 hrs, 0215hrs, 1945 hrs\"\n\t\t\t\t},\n\t\t\t\t\"pairedItem\": {\n\t\t\t\t\t\"sourceOverwrite\": {\n\t\t\t\t\t\t\"previousNode\": \"Process Word Document\"\n\t\t\t\t\t},\n\t\t\t\t\t\"item\": 0\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"json\": {\n\t\t\t\t\"output\": {\n\t\t\t\t\t\"report number\": \"KL Traffic Rpt: 2271/23\",\n\t\t\t\t\t\"road type\": \"Municipal Road\",\n\t\t\t\t\t\"surface type\": \"Flat\",\n\t\t\t\t\t\"surface quality\": \"Dry\",\n\t\t\t\t\t\"case classification\": \"SECTION 41(1) Road Transport Act 1987\",\n\t\t\t\t\t\"traffic system\": \"2 lanes one-way\",\n\t\t\t\t\t\"vehicles\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V1\",\n\t\t\t\t\t\t\t\"Registration No.\": \"BHH5924\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Motorcycle\",\n\t\t\t\t\t\t\t\"model\": \"Modenas Kriss\",\n\t\t\t\t\t\t\t\"color\": \"Red\",\n\t\t\t\t\t\t\t\"LKM\": \"26/12/2023\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V2\",\n\t\t\t\t\t\t\t\"Registration No.\": \"AKX9996\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Lorry\",\n\t\t\t\t\t\t\t\"model\": \"Nissan (rigid)\",\n\t\t\t\t\t\t\t\"color\": \"Yellow\",\n\t\t\t\t\t\t\t\"LKM\": \"03/10/2023\"\n\t\t\t\t\t\t}\n\t\t\t\t\t],\n\t\t\t\t\t\"details of individuals involved\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"29 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Indonesian\",\n\t\t\t\t\t\t\t\"license\": \"None\",\n\t\t\t\t\t\t\t\"occupation\": \"Construction laborer Galeri Rumah Artis Sdn Bhd\",\n\t\t\t\t\t\t\t\"injury\": \"Dead at scene of incident\",\n\t\t\t\t\t\t\t\"cause of death\": \"Pending Post Mortem. Post Mortem to be done after obtaining Swab Test Covid-19 results.\",\n\t\t\t\t\t\t\t\"Damage\": \"Rear number plate broken, coverset & front lamp broken\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"25 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Indonesian\",\n\t\t\t\t\t\t\t\"license\": \"None\",\n\t\t\t\t\t\t\t\"occupation\": \"Construction laborer Galeri Rumah Artis Sdn Bhd\",\n\t\t\t\t\t\t\t\"injury\": \"No injury\",\n\t\t\t\t\t\t\t\"cause of death\": \"None\",\n\t\t\t\t\t\t\t\"Damage\": \"None\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V2\",\n\t\t\t\t\t\t\t\"age\": \"40 Years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"D & E (17/07/2027)\",\n\t\t\t\t\t\t\t\"occupation\": \"Driver KF Soo Enterprise Jalan Ipoh\",\n\t\t\t\t\t\t\t\"injury\": \"No injury\",\n\t\t\t\t\t\t\t\"cause of death\": \"None\",\n\t\t\t\t\t\t\t\"Damage\": \"None\"\n\t\t\t\t\t\t}\n\t\t\t\t\t],\n\t\t\t\t\t\"location\": \"Jalan Sultan Azlan Shah from Jalan Tuanku Abdul Halim towards MRT Station Jalan Ipoh\",\n\t\t\t\t\t\"report date\": \"07/01/23\",\n\t\t\t\t\t\"report time\": \"2115HRS\",\n\t\t\t\t\t\"case description\": \"On 07/01/2023 at approximately 2115hrs received information regarding a fatal accident at Jalan Sultan Azlan Shah from Jalan Tuanku Abdul Halim towards MRT Station Jalan Ipoh involving a motorcycle (V1) and a lorry (V2). Preliminary investigation found the accident occurred on 07/01/2023 at approximately 2140hrs, (M1) who was riding (V1) together with pillion rider (A1) moving in the left lane of Sultan Azlan Shah towards MRT Station Jalan Ipoh had sideswiped (V2) which was moving in the same lane causing (M1) to fall and be run over by (V1). As a result of the accident, (M1) sustained injuries and was confirmed deceased at the scene of the incident.\",\n\t\t\t\t\t\"incident date\": \"07/01/2023\",\n\t\t\t\t\t\"incident time\": \"2140hrs\"\n\t\t\t\t},\n\t\t\t\t\"pairedItem\": {\n\t\t\t\t\t\"sourceOverwrite\": {\n\t\t\t\t\t\t\"previousNode\": \"Process Word Document\",\n\t\t\t\t\t\t\"previousNodeRun\": 1\n\t\t\t\t\t},\n\t\t\t\t\t\"item\": 0\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"json\": {\n\t\t\t\t\"output\": {\n\t\t\t\t\t\"report number\": \"8985/2023\",\n\t\t\t\t\t\"road type\": \"Express Road\",\n\t\t\t\t\t\"surface type\": \"straight\",\n\t\t\t\t\t\"surface quality\": \"dry\",\n\t\t\t\t\t\"case classification\": \"SECTION 41(1) Road Transport Act 1987\",\n\t\t\t\t\t\"traffic system\": \"3 lanes one-way\",\n\t\t\t\t\t\"vehicles\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"Label\": \"V1\",\n\t\t\t\t\t\t\t\"Registration No.\": \"VHR602\",\n\t\t\t\t\t\t\t\"vehicle type\": \"Motorcycle\",\n\t\t\t\t\t\t\t\"model\": \"Suzuki GSX-R1000\",\n\t\t\t\t\t\t\t\"color\": \"Black\",\n\t\t\t\t\t\t\t\"LKM\": \"12/04/2023\"\n\t\t\t\t\t\t}\n\t\t\t\t\t],\n\t\t\t\t\t\"details of individuals involved\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"vehicle\": \"V1\",\n\t\t\t\t\t\t\t\"age\": \"42 years\",\n\t\t\t\t\t\t\t\"gender\": \"Male\",\n\t\t\t\t\t\t\t\"ethnicity\": \"Malay\",\n\t\t\t\t\t\t\t\"license\": \"B2,D\",\n\t\t\t\t\t\t\t\"occupation\": \"Training Executive Grab Driver Centre Axis\",\n\t\t\t\t\t\t\t\"injury\": \"Dead at scene of incident\",\n\t\t\t\t\t\t\t\"cause of death\": \"Post Mortem to be done after obtaining Swab Test Covid-19 results.\",\n\t\t\t\t\t\t\t\"Damage\": \"Scratches on front right side cover set.\"\n\t\t\t\t\t\t}\n\t\t\t\t\t],\n\t\t\t\t\t\"location\": \"Km 4.1 Sprint Highway from Damansara towards City Centre (near Penchala Link tunnel eastbound)\",\n\t\t\t\t\t\"report date\": \"27/01/2023\",\n\t\t\t\t\t\"report time\": \"0850HRS\",\n\t\t\t\t\t\"case description\": \"On 27/01/2023 at approximately 0915hrs received information regarding an accident at Km 4.1 Sprint Highway from Damansara towards City Centre (near Penchala Link tunnel eastbound) involving (V1) a motorcycle skidding on its own. Preliminary investigation found the accident occurred on 27/01/2023 at approximately 0845hrs when (M1) who was riding (V1) in the rightmost lane tried to avoid a dog crossing the road, lost control and hit the road barrier on the right shoulder of the road then skidded on its own. As a result of the accident, (M1) sustained severe head injuries and was confirmed deceased by (MA) ambulance from Sg. Buloh Hospital at the scene of the incident.\",\n\t\t\t\t\t\"incident date\": \"27/01/2023\",\n\t\t\t\t\t\"incident time\": \"0845hrs\"\n\t\t\t\t},\n\t\t\t\t\"pairedItem\": {\n\t\t\t\t\t\"sourceOverwrite\": {\n\t\t\t\t\t\t\"previousNode\": \"Process Word Document\",\n\t\t\t\t\t\t\"previousNodeRun\": 2\n\t\t\t\t\t},\n\t\t\t\t\t\"item\": 0\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1968,1984],"id":"07aa2348-4601-4244-a599-134d08daa997","name":"Structured Output Parser4"}],"connections":{"Structured Output Parser":{"ai_outputParser":[[{"node":"Process PDF Document","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"Extract from PDF","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract from PDF","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"DOCX to Text","type":"main","index":0}],[{"node":"DOCX to Text","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"Process PDF Document","type":"ai_languageModel","index":0}]]},"Extract from PDF":{"main":[[{"node":"Process PDF Document","type":"main","index":0}],[{"node":"Respond to Webhook4","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Find the head","type":"main","index":0}],[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Process Excel Document","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"DeepSeek Chat Model1":{"ai_languageModel":[[{"node":"Process Excel Document","type":"ai_languageModel","index":0}]]},"Respond to Webhook3":{"main":[[]]},"Find the head":{"main":[[{"node":"Format Objects","type":"main","index":0}],[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Format Objects":{"main":[[{"node":"Filter Empties","type":"main","index":0}],[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}],[{"node":"Process Excel Document","type":"main","index":0}]]},"DOCX to Text":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Loop Over DOCX","type":"main","index":0}],[{"node":"Respond to Webhook5","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Process Word Document","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Structured Output Parser2","type":"ai_languageModel","index":0}]]},"Loop Over DOCX":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}],[{"node":"Process Word Document","type":"main","index":0}]]},"DeepSeek Chat Model2":{"ai_languageModel":[[{"node":"Process Word Document","type":"ai_languageModel","index":0}]]},"Process Excel Document":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Process PDF Document":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Filter Empties":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"DeepSeek Chat Model3":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Respond to Webhook7","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Respond to Webhook8","type":"main","index":0}]]},"DeepSeek Chat Model4":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Process Word Document":{"main":[[{"node":"Loop Over DOCX","type":"main","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]}},"authors":"Paul Stinchcombe","name":null,"description":null},"tags":[]}