Vital-Strategies-Production.json
{"updatedAt":"2025-12-04T16:47:37.000Z","createdAt":"2025-11-21T02:53:47.879Z","id":"ST9lgRWk9mjro8Ok","name":"Vital Strategies Production","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are able to extract specific information from a Malay language input.  The information is|- lokasi kejadian (as an array)- kenderaan terlibat- tarikh dan waktu report."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-512,-32],"id":"4acdb25a-bf79-438a-a040-534f4cb425a1","name":"Basic LLM Chain"},{"parameters":{"jsonSchemaExample":"{\n    \"nombor report\": \"12345/21\",\n    \"jenis jalan\": \"road\",\n    \"jenis permukaan\":\"surface\",\n    \"qualiti permukaan\": \"unknown\",\n    \"klasifikasi kes\":\"SEK 99(0) APJ 1990\",\n  \"sistem lalulintas\":\"sehala\",\n\t\"kenderaan\": [{\n      \"Label\": \"K1\",\n      \"No. Pend\":\"VPA6479\",\n      \"jenis\":\"Ford Ranger\",\n      \"warna\":\"biru\",\n      \"LKM\": \"2025-7-1\"\n    }],\n    \"butiran individu terlibat\": [\n      {\n        \"kendaraan\":\"K1\",\n        \"umur\":\"28\",\n        \"jantina\":\"unknown\",\n        \"keturunan\":\"Melayu\",\n        \"lesen\":\"B/D 2023-5-1\",\n        \"pekerjaan\":\"Plowman\",\n        \"kecederaan\":\"Mati\",\n        \"sebab mati\":\"hammer\"\n      }\n    ],\n    \"lokasi\": \"Los Angeles\",\n    \"tarikh report\":\"2025-7-1\",\n    \"waktu report\":\"2359hrs\",\n    \"keterangan kes\":\"report\",\n    \"tarikh kejadian\":\"2025-7-1\",\n    \"waktu kejadian\": \"2359hrs\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-416,192],"id":"3925f14b-23ea-4739-886e-7953da765ada","name":"Structured Output Parser"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-336,400],"id":"b1311143-2fd0-4da3-8965-38407a4d465b","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"bIkZPsIBap8l9xrb","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-48,576],"id":"923ec2d4-7d22-479a-94c7-f2b80a6c07a5","name":"Convert to File"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').first().binary.file.fileType }}","rightValue":"pdf","operator":{"type":"string","operation":"equals"},"id":"a078e3eb-d679-433a-b4e3-688aeef38a98"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3d275e3-5d2f-49ba-a554-6deb5d531318","leftValue":"={{ $('Webhook').first().binary.file.fileType }}","rightValue":"xlsx","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-992,776],"id":"ac6443ab-adf5-4830-89d4-058e272c7bb0","name":"Switch"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-544,192],"id":"939b923a-b387-414c-a83e-a38b37469ebe","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"kjsLLud72Mv0JDPq","name":"DeepSeek account"}}},{"parameters":{"operation":"pdf","binaryPropertyName":"={{ $('Switch').item.binary.file }}","options":{"joinPages":true}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-768,376],"id":"e15afefc-e9d5-4610-a1dc-b76dd440a637","name":"Extract from PDF","alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-768,1176],"id":"df497645-c349-41d6-ac8b-011ae9509ec6","name":"Extract from Excel","alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"operation":"write","fileName":"/vs/out","options":{"append":false}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[176,576],"id":"78a57cd2-5b51-438a-a71d-7f5839645dca","name":"Read/Write Files from Disk2"},{"parameters":{"httpMethod":"POST","path":"crp","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1216,872],"id":"18c7e000-bb6e-46aa-ab32-d48a2ef302d2","name":"Webhook","webhookId":"d3b2f603-eb73-4351-b411-0cba0f3f89b2","onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"report\": {{ JSON.stringify($('Basic LLM Chain').item.json.output) }}\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[400,576],"id":"dfd80835-e300-4a59-bc6c-9d4ed8bd4b3f","name":"Respond to Webhook"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-992,968],"id":"c632af1c-b06d-4658-ab66-51ae5f4551f9","name":"Respond to Webhook2"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-408,1376],"id":"0ce737f1-4adf-4e76-a487-6c85040a4ccd","name":"Respond to Webhook3"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-408,576],"id":"601df076-c429-4048-b140-c80f683aa689","name":"Respond to Webhook4"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are able to extract specific information from a Malay language input.  The information is|- lokasi kejadian (as an array)- kenderaan terlibat- tarikh dan waktu report."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-512,768],"id":"162dc474-1924-4325-841c-187ccea9e002","name":"Basic LLM Chain1"},{"parameters":{"jsonSchemaExample":"{\n    \"nombor report\": \"12345/21\",\n    \"jenis jalan\": \"road\",\n    \"jenis permukaan\":\"surface\",\n    \"qualiti permukaan\": \"unknown\",\n    \"klasifikasi kes\":\"SEK 99(0) APJ 1990\",\n  \"sistem lalulintas\":\"sehala\",\n\t\"kenderaan\": [{\n      \"Label\": \"K1\",\n      \"No. Pend\":\"VPA6479\",\n      \"jenis\":\"Ford Ranger\",\n      \"warna\":\"biru\",\n      \"LKM\": \"2025-7-1\"\n    }],\n    \"butiran individu terlibat\": [\n      {\n        \"kendaraan\":\"K1\",\n        \"umur\":\"28\",\n        \"jantina\":\"unknown\",\n        \"keturunan\":\"Melayu\",\n        \"lesen\":\"B/D 2023-5-1\",\n        \"pekerjaan\":\"Plowman\",\n        \"kecederaan\":\"Mati\",\n        \"sebab mati\":\"hammer\"\n      }\n    ],\n    \"lokasi\": \"Los Angeles\",\n    \"tarikh report\":\"2025-7-1\",\n    \"waktu report\":\"2359hrs\",\n    \"keterangan kes\":\"report\",\n    \"tarikh kejadian\":\"2025-7-1\",\n    \"waktu kejadian\": \"2359hrs\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-416,992],"id":"3df6bfac-7a3b-4b7b-9db0-3a7efe9b44b5","name":"Structured Output Parser1"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-336,1200],"id":"b019473f-df80-4a33-a000-2a52e81a4609","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"bIkZPsIBap8l9xrb","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-544,992],"id":"ce1efe6a-bb16-46bb-a287-ad9d659f3460","name":"DeepSeek Chat Model1","credentials":{"deepSeekApi":{"id":"kjsLLud72Mv0JDPq","name":"DeepSeek account"}}}],"connections":{"Basic LLM Chain":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Convert to File":{"main":[[{"node":"Read/Write Files from Disk2","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract from PDF","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Extract from PDF":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Respond to Webhook4","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}],[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Read/Write Files from Disk2":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"DeepSeek Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Respond to Webhook3":{"main":[[]]},"Basic LLM Chain1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9029cd46-8dd8-432e-b761-008d341b9852","activeVersionId":"9029cd46-8dd8-432e-b761-008d341b9852","triggerCount":1,"shared":[{"updatedAt":"2025-11-21T02:53:47.885Z","createdAt":"2025-11-21T02:53:47.885Z","role":"workflow:owner","workflowId":"ST9lgRWk9mjro8Ok","projectId":"FvxAVPRgShLcnSOU"}],"activeVersion":{"updatedAt":"2025-12-04T16:46:56.230Z","createdAt":"2025-12-04T16:46:56.230Z","versionId":"9029cd46-8dd8-432e-b761-008d341b9852","workflowId":"ST9lgRWk9mjro8Ok","nodes":[{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are able to extract specific information from a Malay language input.  The information is|- lokasi kejadian (as an array)- kenderaan terlibat- tarikh dan waktu report."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-512,-32],"id":"4acdb25a-bf79-438a-a040-534f4cb425a1","name":"Basic LLM Chain"},{"parameters":{"jsonSchemaExample":"{\n    \"nombor report\": \"12345/21\",\n    \"jenis jalan\": \"road\",\n    \"jenis permukaan\":\"surface\",\n    \"qualiti permukaan\": \"unknown\",\n    \"klasifikasi kes\":\"SEK 99(0) APJ 1990\",\n  \"sistem lalulintas\":\"sehala\",\n\t\"kenderaan\": [{\n      \"Label\": \"K1\",\n      \"No. Pend\":\"VPA6479\",\n      \"jenis\":\"Ford Ranger\",\n      \"warna\":\"biru\",\n      \"LKM\": \"2025-7-1\"\n    }],\n    \"butiran individu terlibat\": [\n      {\n        \"kendaraan\":\"K1\",\n        \"umur\":\"28\",\n        \"jantina\":\"unknown\",\n        \"keturunan\":\"Melayu\",\n        \"lesen\":\"B/D 2023-5-1\",\n        \"pekerjaan\":\"Plowman\",\n        \"kecederaan\":\"Mati\",\n        \"sebab mati\":\"hammer\"\n      }\n    ],\n    \"lokasi\": \"Los Angeles\",\n    \"tarikh report\":\"2025-7-1\",\n    \"waktu report\":\"2359hrs\",\n    \"keterangan kes\":\"report\",\n    \"tarikh kejadian\":\"2025-7-1\",\n    \"waktu kejadian\": \"2359hrs\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-416,192],"id":"3925f14b-23ea-4739-886e-7953da765ada","name":"Structured Output Parser"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-336,400],"id":"b1311143-2fd0-4da3-8965-38407a4d465b","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"bIkZPsIBap8l9xrb","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-48,576],"id":"923ec2d4-7d22-479a-94c7-f2b80a6c07a5","name":"Convert to File"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').first().binary.file.fileType }}","rightValue":"pdf","operator":{"type":"string","operation":"equals"},"id":"a078e3eb-d679-433a-b4e3-688aeef38a98"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3d275e3-5d2f-49ba-a554-6deb5d531318","leftValue":"={{ $('Webhook').first().binary.file.fileType }}","rightValue":"xlsx","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-992,776],"id":"ac6443ab-adf5-4830-89d4-058e272c7bb0","name":"Switch"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-544,192],"id":"939b923a-b387-414c-a83e-a38b37469ebe","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"kjsLLud72Mv0JDPq","name":"DeepSeek account"}}},{"parameters":{"operation":"pdf","binaryPropertyName":"={{ $('Switch').item.binary.file }}","options":{"joinPages":true}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-768,376],"id":"e15afefc-e9d5-4610-a1dc-b76dd440a637","name":"Extract from PDF","alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-768,1176],"id":"df497645-c349-41d6-ac8b-011ae9509ec6","name":"Extract from Excel","alwaysOutputData":true,"retryOnFail":true,"maxTries":5,"onError":"continueErrorOutput"},{"parameters":{"operation":"write","fileName":"/vs/out","options":{"append":false}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[176,576],"id":"78a57cd2-5b51-438a-a71d-7f5839645dca","name":"Read/Write Files from Disk2"},{"parameters":{"httpMethod":"POST","path":"crp","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1216,872],"id":"18c7e000-bb6e-46aa-ab32-d48a2ef302d2","name":"Webhook","webhookId":"d3b2f603-eb73-4351-b411-0cba0f3f89b2","onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"report\": {{ JSON.stringify($('Basic LLM Chain').item.json.output) }}\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[400,576],"id":"dfd80835-e300-4a59-bc6c-9d4ed8bd4b3f","name":"Respond to Webhook"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-992,968],"id":"c632af1c-b06d-4658-ab66-51ae5f4551f9","name":"Respond to Webhook2"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-408,1376],"id":"0ce737f1-4adf-4e76-a487-6c85040a4ccd","name":"Respond to Webhook3"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": false\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-408,576],"id":"601df076-c429-4048-b140-c80f683aa689","name":"Respond to Webhook4"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are able to extract specific information from a Malay language input.  The information is|- lokasi kejadian (as an array)- kenderaan terlibat- tarikh dan waktu report."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-512,768],"id":"162dc474-1924-4325-841c-187ccea9e002","name":"Basic LLM Chain1"},{"parameters":{"jsonSchemaExample":"{\n    \"nombor report\": \"12345/21\",\n    \"jenis jalan\": \"road\",\n    \"jenis permukaan\":\"surface\",\n    \"qualiti permukaan\": \"unknown\",\n    \"klasifikasi kes\":\"SEK 99(0) APJ 1990\",\n  \"sistem lalulintas\":\"sehala\",\n\t\"kenderaan\": [{\n      \"Label\": \"K1\",\n      \"No. Pend\":\"VPA6479\",\n      \"jenis\":\"Ford Ranger\",\n      \"warna\":\"biru\",\n      \"LKM\": \"2025-7-1\"\n    }],\n    \"butiran individu terlibat\": [\n      {\n        \"kendaraan\":\"K1\",\n        \"umur\":\"28\",\n        \"jantina\":\"unknown\",\n        \"keturunan\":\"Melayu\",\n        \"lesen\":\"B/D 2023-5-1\",\n        \"pekerjaan\":\"Plowman\",\n        \"kecederaan\":\"Mati\",\n        \"sebab mati\":\"hammer\"\n      }\n    ],\n    \"lokasi\": \"Los Angeles\",\n    \"tarikh report\":\"2025-7-1\",\n    \"waktu report\":\"2359hrs\",\n    \"keterangan kes\":\"report\",\n    \"tarikh kejadian\":\"2025-7-1\",\n    \"waktu kejadian\": \"2359hrs\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-416,992],"id":"3df6bfac-7a3b-4b7b-9db0-3a7efe9b44b5","name":"Structured Output Parser1"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-336,1200],"id":"b019473f-df80-4a33-a000-2a52e81a4609","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"bIkZPsIBap8l9xrb","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-544,992],"id":"ce1efe6a-bb16-46bb-a287-ad9d659f3460","name":"DeepSeek Chat Model1","credentials":{"deepSeekApi":{"id":"kjsLLud72Mv0JDPq","name":"DeepSeek account"}}}],"connections":{"Basic LLM Chain":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Convert to File":{"main":[[{"node":"Read/Write Files from Disk2","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract from PDF","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Extract from PDF":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Respond to Webhook4","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}],[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Read/Write Files from Disk2":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"DeepSeek Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Respond to Webhook3":{"main":[[]]},"Basic LLM Chain1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]}},"authors":"Paul Stinchcombe","name":null,"description":null},"tags":[]}